[2014-03-28 17:20] chrisvariety opened #1 "Error: You should not call `create` on a model. Instead, call `store.createRecord` with the attributes you would like to set."
Hi guys,

First off: :heart: this ember data addon, it seems to exactly solve my problem.

However, I'm running into this error:

[code]

Digging in a bit, the backtrace is pointing to these lines:

https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/model.js#L14-L20

...and the assertion is coming from: https://github.com/emberjs/data/blob/7258c

[2014-03-28 18:42] #1 closed, assigned to nobody

[2014-04-20 20:22] chrisvariety opened #3 "Adding `hasOne` fragment to unsaved record?"
Hi,

Happy Easter.

I'm trying to add a fragment to an unsaved record like so:

[code]

This blows up with: `Error: Assertion Failed: You can only assign a 'user' fragment to this property`

OK, so I can create a fragment like so:

[code]

This works, but blows up after save on this line: https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/states

[2014-05-06 17:32] stas-sl opened #4 "hasOne fragment remains dirty after parent save"
Hi! Thanks for this extension, I hope it will be added to the core.

But I have an issue with saving when hasOne fragment is used (or I'm doing something wrong):

[code]

Shouldn't `name.get('isDirty')` be _false_?

[2014-05-14 21:49] slindberg opened #6 "Add test suite"

[2014-05-14 21:51] slindberg opened #7 "Update comments and setup YUIDoc"

[2014-05-14 21:52] slindberg opened #8 "Add gh-pages branch with example app"
See #5

[2014-05-20 17:19] #6 closed, assigned to slindberg

[2014-05-21 03:47] #3 closed, assigned to nobody

[2014-05-21 03:47] #4 closed, assigned to nobody

[2014-05-21 19:21] slindberg opened #10 "Allow fragment attribute setters to accept object/array literals"
It may be convenient to avoid the step of calling `store#createFragment` before assigning a new fragment to a `DS.hasOneFragment` or `DS.hasManyFragments` property, e.g.

[code]

vs.

[code]

Implications TBD.

[2014-05-21 19:39] slindberg opened #11 "Simplify fragment API naming"
`DS.ModelFragment`, `DS.hasOneFragment`, and `DS.hasManyFragments` are all mouthfulls. The tradeoff is always clarity vs. brevity, and the current naming may be a little too heavy on the clarity side. Potential simplifications:

`DS.ModelFragment` → `DS.Fragment`
`DS.hasOneFragment` → `DS.fragment`, `DS.fragmentObject`
`DS.hasManyFragments` → `DS.fragments`, `DS.fragmentArray`

 Moving away from l

[2014-05-21 20:24] slindberg opened #12 "Stop deferring fragment deserializing until first access"
Due to the fact that no meta information about the particular property being deserialized is passed to `DS.JSONSerializer#applyTransforms`, it is not currently possible to create fragment objects upon deserializing the record, since the fragment type must be know in order to instantiate the correct serializer. This means that the record's `_data` attribute is initially populated with the property'

[2014-05-21 20:41] slindberg opened #13 "Move 'primitive' support from `DS.hasManyFragments` into a new property type"
Arrays of non-fragment types (usually primitives) are currently supported by omitting the fragment type from the `DS.hasManyFragments` definition. This is 1) misleading since primitives are not `DS.ModelFragment` instances, and 2) because a primitive type (and therefore transform) cannot be specified and enforced.

A possible solution is to introduce a `DS.hasManyPrimitives` property type, however

[2014-05-21 21:06] stas-sl opened #14 "Error when saving parent record if hasOne fragment was not set"
If create person record without name:

[code]

then I get the following error: **Cannot call method 'adapterDidCommit' of null**

[2014-05-22 01:15] slindberg opened #15 "Decide when to use `Ember.assert` vs. throwing an error"
Basically, what is the true intent of `Ember.assert` assertions? It seems that it is used to give helpful errors when developing, but cut down on the library payload size when in production.

However, not making an assertion in production means 1) app behavior is different between environments making production bugs harder to track down, and 2) the helpful error messages are gone in production, ma

[2014-05-22 01:15] #14 closed, assigned to nobody

[2014-05-22 17:43] slindberg opened #16 "Introduce alternate syntax for in-line fragments"
Fragments are designed to be reusable and flexible, but that comes at the cost of a verbose API. For the simplest use cases, it should not be necessary to declare a new `DS.ModelFragment` class. This could be possible by introducing some sugar on top of the current API, which would allow for reuse/flexibility when needed.

@silvinci's proposed a concise shorthand syntax in his [comment](https://gi

[2014-05-22 21:14] #7 closed, assigned to slindberg

[2014-05-27 14:05] dev-inigmas opened #18 "Relationships within a fragment"
Great work on the fragments library so far; I've found it very helpful in upgrading from the old Ember Data to the new 1.0 Beta series.

However, I am wondering if we could re-enable relationships inside of fragments. There are several instances in my data-model where my fragments "point to" other models. Before, they would use a "belongsTo" relationship; but now that doesn't seem to work. I've fo

[2014-06-11 17:05] dfreeman opened #19 "Default values aren't honored in model fragment attributes"
Thanks so much for your work on this -- we've found it incredibly helpful.

It looks like default attribute values aren't being honored when specified on a model fragment. Here's [a JS Bin](http://emberjs.jsbin.com/huzasiye/1/edit?html,js,output) that reproduces the issue on master.

[2014-06-11 23:01] #19 closed, assigned to nobody

[2014-06-21 19:54] dev-inigmas opened #20 "RangeError: Maximum call stack size exceeded"
There appears to be an infinite recursion problem with DS.hasManyFragments. So far, I'm pretty sure that this only occurs when model `A` hasManyFragments of `B` which hasManyFragments of `C`.

I've been able to consistently reproduce this error in my application by performing the following steps:

Start off with a model `A` that has several `B`s. Pick one `B` that has 2 `C`s. Remove the second `C`

[2014-08-28 15:23] dfreeman opened #21 "Dependent properties in FragmentArrays aren't updated on reload"
When a fragment array is reloaded, properties that depend on its content (e.g. `length`) aren't updated. This can lead to some fairly nasty data corruption, as seen [here](http://jsbin.com/huzasiye/11/edit) (add a couple children, reload the model, then add a couple more).

I believe it's [this line](https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/frag

[2014-08-29 21:17] user9821 opened #22 "Issues using the ember data fragments while trying to load child data fragments on demand."
I am working on a use case something like this :

[code]

Contact can have one or more addresses , phones and interactions.
However my use case restricts me from load the whole contact record at one ago.

what i am trying to do is load addresses , phones and interaction on demand.
So initially only the contact record with firstname and lastname gets loaded.

I make an call from my Contact controll

[2014-09-02 17:53] #22 closed, assigned to nobody

[2014-09-10 15:26] trobrock opened #24 "Deleting fragments"
Is there a way of deleting a fragment from a record?

I tried `@model.fragmented_attr.deleteRecord()`, but I get a `Uncaught TypeError: undefined is not a function`. Same thing happens when I try to just set the attr to null.

[code]

[2014-09-10 15:35] #24 closed, assigned to nobody

[2014-09-24 21:42] trobrock opened #25 "Handling errors"
Is there any way to assign errors to a fragment? We have a api that will return errors for the nested model fragments and would like to be able to show those errors, but I haven't been able to find any good examples of this anywhere.

[2014-10-02 23:12] #25 closed, assigned to nobody

[2014-10-03 01:23] #20 closed, assigned to nobody

[2014-10-03 01:23] #21 closed, assigned to nobody

[2014-10-27 04:05] sergiolepore opened #27 "Weird error on save"
My API returns this JSON:

[code]

My primary model:

[code]

Fragment:

[code]

When I'm trying to save `Model`, I get this error:

[code]

Ember-Data lines where the error is thrown:

[code]

Project Info:
- `Ember-CLI`: 0.1.2
- `ember`: 1.7.0
- `ember-data`: 1.0.0-beta.10
- `ember-data.model-fragments`: 0.2.1

[2014-10-27 17:17] #27 closed, assigned to nobody

[2014-11-12 00:48] artzte opened #28 "Fragment resolution in CLI unit tests"
I'm hoping to write unit tests for my fragment-infused models. I am have placed the fragments related to a given model into a subfolder, so the model references them with e.g.

[code]

Attempting to unit test these definitions yields a reference error,

    Setup failed on it exists: Attempting to register an unknown factory: `model:baseModel/fragment`

See https://github.com/artzte/ember-data.mod

[2014-12-10 22:53] trobrock opened #30 "ember-data beta 7 restriction"
Are there plans to increase the ember data version restriction, we have come across many bugs in our app that require newer version and this is the one reason many fixes have to get worked around.

[2014-12-10 22:58] #30 closed, assigned to nobody

[2014-12-10 23:43] jakesjews opened #31 "Rolling back doesn't reset hasManyFragments fields with Ember Data Beta 12"
Hello, it looks like properties within hasManyFragments objects aren't being reset during a rollback. We are using ember data beta 12 so this may be the cause of the problem.

The project's tests pass with beta 7 but when I update to beta 12 there are several test failures which seem related to the issue.

It's possible this is caused by breaking changes in Beta 12 related to observing the model's

[2014-12-19 20:35] knownasilya opened #35 "Ember-CLI addon"
Would love an ember-cli addon/blueprint with `ember g fragment [name]`.

[2014-12-29 15:10] ghost opened #36 "Difficulty creating new fragments for a hasManyFragments attribute"
Hi There,

I know this is not the best place for "usage" issues, but with the module still being in its infancy - I figured I would have a much better chance of a response here and i'm really stumped!!

I am trying to essentially replicate the "addresses" part of the example in the readme except using Ember CLI and names appropriate for my App. I have no trouble loading data into the fragments and

[2014-12-29 20:33] slindberg opened #37 "Account for `MODEL_FACTORY_INJECTIONS` when performing instanceof checks"
Polymorphic fragment `instanceof` assertions will fail when the `Ember.MODEL_FACTORY_INJECTIONS` flag is set to `true` due to the way the container extends classes. See emberjs/data#2586.

[2014-12-29 23:23] #36 closed, assigned to nobody

[2014-12-30 18:14] slindberg opened #40 "Default value for `hasManyFragments`"
Currently when a `defaultValue` option isn't specified for a `hasManyFragments` attribute, [it is set to `null`](https://github.com/lytics/ember-data.model-fragments/blob/dade27ee147902794dc837058b6f608496fd30e4/packages/model-fragments/lib/fragments/attributes.js#L241). While `null` is a valid value of the property, it is more intuitive that the default is an empty fragment array, and is more con

[2015-01-01 18:19] sparkrevolutions opened #42 "Cant access hasManyFragment array from model computed property"
Am I right in assuming that we cannot access fragment content from a computed property on the parent model?

I removed my actual logic and simplified the return to just the array length,and with the following code I  get `0` returned when the `lines` property on the order model is populated.

[code]

[code]

n.b. `currentOrder` is a saved Order record.

[2015-01-01 18:35] slindberg commented on #42
No, this is definitely possible. Your `orderTotal` computed property must declare a dependent key that observes the array's length, like `lines.length`, [`lines.[]`](http://emberjs.com/api/classes/Ember.Array.html), or [`lines.@each.foo`](http://emberjs.com/guides/object-model/computed-properties-and-aggregate-data/).

Also note that this project is [not compatible with ED v1.0.0-beta.12](https://

[2015-01-01 18:44] sparkrevolutions commented on #42
Literally just was about to correct myself. Sorry - not quite recovered from new years yet :beers:

Thank you for your clarification anyway

[2015-01-01 18:45] #42 closed

[2015-01-05 17:34] blimmer commented on #31
I read on [this PR](https://github.com/lytics/ember-data.model-fragments/issues/42) that the fix for this will only support ED 1.14(.1) . Any updates on the timing of this fix?

[2015-01-05 18:12] dukedave opened #43 "This project is not yet compatible with Ember Data v1.0.0-beta.12"
Could the readme possibly expand on:

I.e. what at the implications of this, and how do we avoid them.

I'm fairly new to ember, and I've got an ember-cli app with `ember-data` at ` "1.0.0-beta.14.1"` (in both my `package.json` and `bower.json`, but I'm not sure how to downgrade correctly.

[2015-01-05 18:23] slindberg commented on #31
I am currently in the process of publishing a fix, hold tight.

[2015-01-05 19:26] slindberg commented on #43
v0.2.4 is now compatible with >= 1.0.0-beta.14. You should now also be able to install this project as an ember-cli addon, see the readme.

[2015-01-05 19:26] #43 closed

[2015-01-05 19:27] slindberg commented on #31
v0.2.4 is now compatible with ED >= v.1.0.0-beta.14, thanks @igorT.

[2015-01-05 19:27] #31 closed

[2015-01-05 19:28] slindberg commented on #35
Ember CLI addon added in v0.2.3.

[2015-01-05 19:28] #35 closed

[2015-01-05 19:28] #28 closed

[2015-01-05 19:29] knownasilya opened #45 "ember-cli install fails"
Here's the error after `ember install:addon ember-data-model-fragments`:

[code]

[2015-01-05 19:30] knownasilya commented on #35
@slindberg see #45

[2015-01-05 19:35] blimmer commented on #31
thank you!

[2015-01-05 19:42] slindberg commented on #45
Love that you can't truly test these things until post-publish. Weeee!

[2015-01-05 19:44] knownasilya commented on #45
Yeah, good thing we have the patch number in semver :+1:

[2015-01-05 19:47] knownasilya commented on #45
Maybe use this feature: https://github.com/ember-cli/ember-cli/pull/2805
Plus something like this https://gist.github.com/stravid/a3a56d8eadc6251c0be9#file-blueprint-js maybe

[2015-01-05 19:49] slindberg commented on #45
That was the intention. The `postinstall` hook in `package.json` that is screwing this up has been around since the beginning, I do it with all projects.

[2015-01-06 17:46] slindberg commented on #37
Closed by #47

[2015-01-06 17:46] #37 closed

[2015-01-06 17:46] slindberg commented on #45
This should be fixed in v0.2.5.

[2015-01-06 17:46] #45 closed

[2015-01-06 20:15] dwickern opened #48 "Error on save() when observing hasManyFragments property"
Live example (hit save): http://jsbin.com/yibuniqami/1/edit?js,console,output

This happens when observing a hasManyFragments array, e.g.

`whoops: function() {}.observes('hasManyFragmentProperty.[]')`

My REST API responds with the server's version of the model. The client chokes with this error when it tries to update its version
[code]

If I change from observing `[]` to `@each` I get this erro

[2015-01-06 21:08] slindberg commented on #48
Is happening after a recent update, or are you using model fragments for the first time?

[2015-01-06 21:27] slindberg commented on #48
Nevermind, I see that it only happens with ED beta.14 + EDMF 0.2.5. This will likely take a while to track down. If you are able to create a failing test, you'd be my hero :metal:

[2015-01-06 21:42] thoov opened #49 "Unable to install model fragments w/ 0.1.5 and ember-data beta.14.1"
If I create a blank project with ember-cli v0.1.5 and update ember-data to beta.14.1 the app will load up just fine. However, after running:

[code]

I get this error in the browser:

[code]

Not sure if I'm the only one getting this or if this is happening to others?

[2015-01-06 22:03] slindberg commented on #49
Can you give more detailed steps? It appears to work for me™

[code]

then

[code]

[2015-01-06 22:03] knownasilya commented on #49
What's `The globPattern "undefined" did not match any files, so no file updates will be made.`?

[2015-01-06 22:06] thoov commented on #49
@slindberg those steps work for me and the app appears to "build" but when I visit http://localhost:4200 then I get that error:

[code]

[2015-01-08 19:21] slindberg commented on #48
Fixed by #54

[2015-01-08 19:21] #48 closed

[2015-01-08 19:47] slindberg commented on #49
Turns out that #52 doesn't solve the issue of the wrong blueprint being invoked with `install:addon`. [I filed an issue over at ember-cli](https://github.com/ember-cli/ember-cli/issues/2915) that's been fixed already, so this should be resolved in the next release of ember-cli.

[2015-01-08 20:00] slindberg commented on #49
I added a note to the readme indicating that `install:addon` cannot yet be used.

[2015-01-08 20:00] #49 closed

[2015-01-08 20:42] workmanw opened #56 "Multiple rollbacks don't work starting with 0.2.4"
See this JSBIN: http://emberjs.jsbin.com/yemimobire/5/edit

This is working with 0.2.3, but broken with 0.2.4 and 0.2.6 (didn't bother checking 0.2.5).

=====

**Edit: Sorry for the poor description.**

The first time you call rollback on a model, it works correctly (restoring the original value and setting isDirty back to false), the second time you call rollback on that same model it sets isDirt

[2015-01-08 22:44] slindberg commented on #56
Thanks for testing this in your app and reporting, it looks like this is happening [with `hasManyFragment` properties as well](http://emberjs.jsbin.com/xedunuwaza/1/edit?html,js,output). Sorry for all the issues with this upgrade, the shift away from observing the `data` property had a lot of unseen consequences. I'll take a look at this as soon as I can.

/cc @igorT

[2015-01-08 22:50] workmanw commented on #56
Hey no worries at all! Happy to. It just so happened we had an integration test that caught this one.

[2015-01-15 20:42] slindberg commented on #56
@workmanw would you mind testing the fix in your app using the `tmp-dist` branch? you can use [this file](https://rawgit.com/lytics/ember-data.model-fragments/tmp-dist/dist/ember-data.model-fragments.js) for jsbins or put this in your `bower.json`:

[code]

[2015-01-15 20:49] Glavin001 commented on #18
@slindberg it's been a while. I thought I'd post back here and see what your thoughts are on this issue? I was not able to implement this fix/feature at https://github.com/Glavin001/ember-data.model-fragments/tree/i18 however I did add some failing tests, hope that helps. Is there any chance this feature could be developed by someone more experienced with the inner workings of Ember / Ember Data?

[2015-01-15 21:11] workmanw commented on #56
:smile: Confirmed fix!

Just to note, I first upgrade to 0.2.6 to confirm that our tests would still fail (they did). Then I upgraded to your #tmp-dist branch and our tests passed. Thanks!!!

[2015-01-15 21:18] slindberg commented on #18
Although relationships have undergone a large refactor, and a few of my earlier bullet points are no longer issues, I think that adding support for fragment relations will still require a great deal of effort and require the use of many more private APIs. I haven't been following the refactor very closely, so I'm not as familiar as I used to be with how relationships are handled internally. I do k

[2015-01-16 22:48] slindberg commented on #56
Fixed in 0.2.7

[2015-01-16 22:48] #56 closed

[2015-01-17 01:46] workmanw commented on #56
Thanks again!

[2015-01-22 04:13] dukedave opened #59 "Assign type key on createFragment of a polymorphic model"
A few disclaimers:

1. I see in the readme that:

  I'll assume that creating a fragment doesn't fall within, 'reading'.

1. I see the `App.AnimalSerializer` example in the readme, this is related.

However :smile: ...

I just used `createFragment` to create a polymorphic model, let's say an `Elephant` in the readme example, but the `$type` property was not set.

I depend on the type key attribute

[2015-01-22 17:49] slindberg commented on #59
This behavior is in fact intentional, here's the rational: the `typeKey` attribute in the JSON gets encoded in the actual class that ends up getting instantiated, so keeping it as a property would be duplicating data that is already available and making two different ways to do the same thing (never a good idea). The other reason is that `ActiveModelAdapter`'s polymorphic support does not expose t

[2015-01-22 17:49] #59 closed

[2015-01-22 18:54] dukedave commented on #59
Ah, thanks for clarifying @slindberg, that makes sense.
I'll call `$type: DS.attr('string')` an anti-pattern, and re-implement using `constructor.typeKey`.

And, for reference, looking up `constructor.typeKey` led me to emberjs/data#1642, where there's a similar discussion. Moreover they are using the type to pick a partial, which is exactly what I'm doing :smile:

[2015-01-22 19:14] slindberg commented on #59
Sure thing. Creating a computed property is a good way to handle your scenario. I doubt if this will ever be added to `DS.Model`, simply because the Ember team is _very_ cautious about adding anything to the API, especially things that are trivial to do in an app.

[2015-02-04 14:30] jrhe opened #61 "DS is not defined"
After following the standard install instructions I get the following error in the development console

`Uncaught ReferenceError: DS is not defined`

This seems to be because ember-data isn't necessarily loaded before ember-data.model-fragments is loaded.

A quick fix is adding the following into Brocfile.js, after importing ember data:
`app.import('bower_components/ember-data.model-fragments/dist

[2015-02-04 17:04] slindberg commented on #61
Hm, seems like an ember-cli addon dependency issue to me. You should definitely not need to add `app.import(...)` to your Brocfile.js to import, since the [addon does it](https://github.com/lytics/ember-data.model-fragments/blob/master/ember-addon/index.js#L9-L12) and could possibly result in duplicated code in the build.

My understanding is that ember-cli used bower dependencies to manage addon

[2015-02-04 17:12] igorT commented on #61
It actually crashes if we have the npm package installed at all. Had to rm -rf the package from node_module to get it to work

[2015-02-04 17:31] slindberg commented on #61
You mean running `ember serve` bails out? Was there a stack trace? What version of ember-cli are you using? Does it work like expected after doing a nom, or does `ember` fail unless you `rm -rf node_modules/ember-data-model-fragments`? Doing a fresh install locally seems to work fine:

[code]

Running `ember serve` and going to `http://localhost:4200/` in a browser, I don't get any errors (althoug

[2015-02-04 17:57] slindberg commented on #61
It looks like adding an `after` key to the `ember-addon` property in package.json might do the trick. @jrhe would you mind adding this line manually to `node_modules/ember-data-model-fragments/package.json`, and then rebuild to see if it's included in the right order?

[code]

[2015-02-04 18:01] igorT commented on #61
This seems like an older app, and it seems like it was including ember-data in the Brocfile as well, so we needed to put model fragments there as well. Probably as ember-cli evolved this has changed. Not sure I want to debug this tbh.

[2015-02-04 18:10] slindberg commented on #61
:+1:

If `ember-data` is added via Brocfile.js, it probably isn't an addon dependency in package.json, in which case I would recommend removing `ember-data-model-fragments` from package.json as well, since the build artifacts use Bower anyway.

[2015-02-10 14:49] tehmaestro opened #63 "hasMany access fragment by index in a template"
Hi. How can I access an item from a hasMany relation, using the index, in a template.
 For example, I can use this with array in templates:
`array.[0].name`
 That doesn't work if array is a hasMany relation of the model, like:
`
model.array.[0].name`

[2015-02-10 22:08] slindberg commented on #63
It looks like you are using features in handlebars 2.0.0, which I have no experience with (and which might not even have official support?). The fragment arrays returned by `DS.hasManyFragments` properties are just subclasses of `Ember.ArrayProxy`, so I'm guessing that the handlebars runtime that makes this work with plain arrays is naively using bracket syntax directly on the array proxy, which d

[2015-02-10 22:08] #63 closed

[2015-02-12 19:37] trabus commented on #49
Sorry about `The globPattern "undefined" did not match any files` warning, it was [happening with any blueprint that didn't have files in it](https://github.com/ember-cli/ember-cli/issues/3142).
The good news is, it was a benign warning, and didn't affect the install process. And the even better news is that it's gone as of ember-cli 0.1.13.

[2015-02-12 19:49] slindberg commented on #49
:+1:

[2015-02-17 11:10] snovity opened #65 "After Ember data moved to snapshots serialization doesn't work anymore"
Like described here https://github.com/emberjs/data/blob/master/CHANGELOG.md#serializerserialize-now-receives-a-snapshot-instead-of-a-record-instance serializer now uses `attr` instead of `get` and fragments do not have an `attr` method.

[2015-02-17 18:05] slindberg commented on #65
The only modification to `DS.Model` (and therefore `DS.ModelFragment`) is the [private `_createSnapshot` method](https://github.com/emberjs/data/pull/2623/files#diff-4cc9f4885e8425eeaa555ef3648588ae). The `attr` method you mention belongs to the [new snapshot object](https://github.com/emberjs/data/pull/2623/files#diff-d8a3fdbb89d6cf0bb2b162ed7d3b76ff), which is completely separate from `DS.Model`

[2015-02-17 18:05] #65 closed

[2015-02-17 21:16] snovity commented on #65
Ok, thanks! :)

[2015-02-18 18:51] #61 closed

[2015-02-19 12:23] igorT opened #67 "Latest ED breaks model fragments"
Model fragments need to implement snapshot creation, for the new store apis to work

[2015-02-19 16:27] dwickern commented on #67
Here's a workaround
[code]

[2015-02-19 17:13] slindberg commented on #67
#66 adds support for snapshots. @dwickern if you are using your workaround in an app, could you test it against the [`tmp-dist`](https://github.com/lytics/ember-data.model-fragments/pull/64#issuecomment-74924591) branch instead?

[2015-02-19 19:56] dwickern commented on #67
@slindberg LGTM

[2015-02-19 20:42] slindberg commented on #67
@dwickern Thanks for checking against your app. This probably won't change anything unless you are doing something fancy with fragments in the parent record's serializer, but [I've altered how fragment snapshots behave in the update PR](https://github.com/lytics/ember-data.model-fragments/pull/66#issuecomment-75131218).

[2015-03-02 15:11] joelalejandro commented on #67
This issue should be closed, as #68 and v0.3.0 solved it.

[2015-03-02 15:17] joelalejandro commented on #18
I'm not particularly fond of the idea of involving relationships here, as I believe fragments are supposed to be simple objects, strictly depending of a parent Model.

I've been using Model Fragments for a project at my workplace and immediately met the relationships' issue with fragments. Since I was using it to create a large object comprised of several directly-related subobjects, if any foreig

[2015-03-02 16:55] artzte commented on #67
Thanks for the quick action on this.

[2015-03-02 16:59] artzte opened #71 "Fragments RFC and model fragments"
Have you all seen the [RFC](https://github.com/ef4/rfcs/blob/element-and-fragment/active/0000-element-and-fragment.md) for fragments? Wondering if the authors are aware of this project and the potential confusion about names? I am increasingly feeling that model fragments is an indispensable / inseparable piece of the Ember Data ecosystem, for those of us consuming complex JSON documents with ID-l

[2015-03-02 17:06] slindberg commented on #67
:+1:

[2015-03-02 17:06] #67 closed

[2015-03-02 18:08] slindberg commented on #71
Yeah, the name is kind of unfortunate, but I'm super excited about that RFC. I suspect that the word 'fragment' was inspired by the native DOM fragment API. Or not – after all it's a fairly generic word. I've never been particularly fond of the word for this project anyway, it was just the best I could come up with.

As far as this becoming a part of ED core, I know there's interest but I don't kn

[2015-03-02 18:08] #71 closed

[2015-03-02 18:11] artzte commented on #71
Yeah, for sure, and thanks for the feedback... perhaps this was not the best venue to raise those questions.

[2015-03-13 18:48] knownasilya opened #72 "Fragment values reset on changes after first save"
Basically if you change a nested fragment's value, and then save the parent model it works. Now if you go and make another change, and save, it resets the value to the previous value upon save.

Here's an example setup:

[code]

In the above code, if I modify `community.settings.disclaimer.message`, and `community.save()` it works fine. Now if I don't refresh the page, and change the value again,

[2015-03-14 03:26] chopper opened #73 "ember-cli blueprint not working correctly when --pod is set"
The ember-cli generator names the file incorrectly when run with the `--pod` flag.

For example, when running `ember generate fragment hello-world --pod` creates the file in
[code]
instead of
[code]

Additionally the blueprint always generates .js files instead of .coffee when ember-cli-coffeescript is installed.

[2015-03-16 18:09] knownasilya commented on #72
@slindberg any ideas what this could be?

[2015-03-16 18:55] chrisvariety commented on #72
We're using nested fragments in exactly this way and haven't run into this problem, so I think the issue may be in your code vs. ember data model fragments. I think a failing test would help diagnose, or a jsbin like thing. You can see https://github.com/ember-cli/ember-cli/issues/3050 for some ideas of how to create a jsbin with ember-cli addons.

[2015-03-17 15:52] knownasilya commented on #72
http://ukkk41c97b7b.knownasilya.koding.io:3000/

So the issue is in the fact that I use something like:

[code]

template
[code]

[2015-03-23 21:22] slindberg commented on #72
Apologies, I've been on vacation for the last week.

@knownasilya I'm unable to create a failing test case for this, and unfortunately your koding link does not work for me. Can you reproduce this behavior outside of a route? In general I'd be wary of using a model fragment as the model for a route since they can get clobbered on saves, but since this is a `DS.hasOneFragment` property, you should

[2015-03-23 21:23] #73 closed

[2015-03-23 21:26] slindberg commented on #73
Fixed this in #74 which will go out in the next release (as soon as #72 is resolved). I don't use coffeescript, but PRs are always welcome :smile:

[2015-03-30 15:29] chrisvdp opened #76 "Warning in Ember-cli 0.2.1"
When I do any action on the command line with `ember`, running 0.2.1 I get the following:

    The package `ember-data-model-fragments` is not a properly formatted package, we have used a fallback lookup to resolve it at `/Users/username/Web/service/webui/node_modules/ember-data-model-fragments`. This is generally caused by an addon not having a `main` entry point (or `index.js`).

[2015-03-30 15:50] slindberg commented on #76
This is fixed in master by #70, will create a new release shortly.

[2015-03-30 15:50] #76 closed

[2015-03-30 15:50] slindberg commented on #72
ping @knownasilya

[2015-03-30 15:51] chrisvdp commented on #76
Thanks

[2015-03-30 15:53] knownasilya commented on #72
@slindberg I'll try to get a failing test working this week.

[2015-03-30 16:01] slindberg commented on #72
Thanks :+1:

[2015-03-30 16:50] slindberg commented on #76
Fixed in [v0.3.1](https://github.com/lytics/ember-data.model-fragments/releases/tag/v0.3.1).

[2015-04-07 14:43] charlesdemers opened #78 "`createFragment` is undefined in service unit test"
I have a simple service:

[code]

All is well in my app, but when I try to unit test the service, the store is injected but `createFragment` is `undefined`. From looking at your code I think it’s because the `main` module isn’t executed in the context of a unit test. I just can’t figure out a way to execute it since no module is exposed to ember-cli.

Any idea how I could fix this?
Thank you!

[2015-04-07 18:09] slindberg commented on #78
What does your test look like? Are you sure that it's not the store itself that is undefined? Remember if you are using `moduleFor`, you have to specify `service:store` as a dependency.

There's almost no situation where `store#createFragment` would exist in the app, but not in the test – it's a vendor lib that modifies Ember Data through the `DS` global.

[2015-04-07 18:47] charlesdemers commented on #78
You’re right, the whole store isn’t defined... sorry about that, I’ve been struggling with dependency injection for a couple days now. Unfortunately adding `needs: ['service:store']` says I’m trying to register an unknown factory. Closing this, thanks for your help.

[2015-04-07 18:47] #78 closed

[2015-04-07 19:01] slindberg commented on #78
:+1:

Also note: the store was only registered as a service recently in [beta.16](https://github.com/emberjs/data/commit/830aa08b7f5820674bf327457392b4867b3dc36f?diff=unified#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR78).

[2015-04-09 18:24] mbrakken opened #80 ""Attempting to register an unknown factory: `transform:fragment`" in serializer test"
I'm using ember-cli 0.2.3 and model-fragments 0.3.1. I have a serializer test for a model with fragments.

The test is currently just the default generated by ember-cli with added `needs`, namely
[code]
If I include `'transform:fragment'` in my `needs` array as it is above, I get an error `Attempting to register an unknown factory: 'transform:fragment'`. If I leave out the transform declaration fr

[2015-04-09 23:14] slindberg commented on #80
This is happening because the transform is [registered directly in an initializer](https://github.com/lytics/ember-data.model-fragments/blob/v0.3.1/packages/model-fragments/lib/initializers.js#L9) which doesn't run for unit tests. Built-in ember data transforms are registered automatically by [ember-test-helpers](https://github.com/switchfly/ember-test-helpers/blob/v0.4.3/lib/ember-test-helpers/is

[2015-04-09 23:14] #80 closed

[2015-04-14 18:08] elwayman02 opened #81 "Ember-cli throws warning for ember-data-model-fragments"
[code]

[2015-04-14 18:10] slindberg commented on #81
What version are you using? This should be fixed in [`v0.3.1`](https://github.com/lytics/ember-data.model-fragments/commit/4f3e4d27dcbd34979d79514e2d0a6a6cc30c0e00).

[2015-04-14 23:09] elwayman02 commented on #81
Thanks, I was still on 0.3.0!

[2015-04-14 23:09] #81 closed

[2015-04-16 16:22] sparkrevolutions opened #82 "hasManyFragments ignoring array defaultValue"
Hi,

I posted an issue related to defaultValue awhile back (#36). Using a empty array as the defaultValue solved the issue at the time.

Having now updated the project to 0.3.1, I receive the following error which I have tracked down to the initialisation of the "collection-product" fragment:

```Uncaught Error: Assertion Failed: A fragment array property can only be assigned an array or null```

[2015-04-16 16:37] slindberg commented on #82
Is this happening when you are creating a new fragment, or when a record is being deserialized? Can you debug that error and see what the value is that is not an array or null?

There haven't been any recent changes that change default value behavior, so I'm guessing this is something else. Another possibility is that there was a subtle breaking change in beta.16, since I haven't upgraded to it ye

[2015-04-16 16:41] slindberg commented on #82
It looks like you are trying to assign a single fragment to a fragment array property:

[code]

Try something like:

[code]

[2015-04-16 17:41] sparkrevolutions commented on #82
Thanks for getting back to me so quickly @slindberg. Your suggestion of wrapping the fragment in an array worked fine!

I think I understand your explanation. In a sense, I am overwriting the defaultValue with an object which obviously fails the Ember isArray method. On reflection, I don't actually need to create the fragment like this in my project as I am initialising it way before it actually g

[2015-04-16 18:07] slindberg commented on #82
I think adding the fragment only once you know about its data is a much better approach.

Again though, I don't think this issue had anything do to with assigning a default value. The issue is the result of assigning a _single_ model fragment to a fragment _array_ property. Calling `set` on a `DS.hasMany` property isn't even valid; it's a convenience that it's possible to call `set` on a `DS.hasMa

[2015-04-16 18:07] #82 closed

[2015-04-30 14:10] knownasilya opened #84 "Can't remove an item that has never been added"
Using `store.createRecord` and then modifying the defaults. Upon save of the model I get this error:

The server response looks normal, but I get this error and the fragments disappear from my template view.

**Fragment**
[code]

It seems like it thinks that `abilities` is an array that was changed..

**Stack Trace**

[code]

[2015-04-30 15:21] knownasilya commented on #84
If I visit the saved model later, it has the correct values, but editing/saving and creating new/saving has this same result.

[2015-04-30 15:28] knownasilya commented on #84
Found it, I have a computed property and it's trying to parse it on the fragment..

[2015-04-30 16:10] slindberg commented on #84
I'm not sure I understand what's going on here, is this a model fragments issue, or were you overriding the fragment property by mistake? As usual, a jsbin is the best way for me to diagnose.

[2015-05-07 23:04] kcollignon opened #86 "ID attribute not available for nested fragments?"
We have a nested JSON document with a structure similar to:

[code]

In our template we are trying to iterate over the records and create a link to the nested artifact based on it's ID.

[code]

We can access all the other properties in the template, such as `artifact.name`, but whenever we call `artifact.id` we get undefined.

Any ideas how to access the ID property of the nested fragment object?

[2015-05-07 23:20] slindberg commented on #86
This is probably happening in the [`normalizeId` method of `JSONSerializer`](https://github.com/emberjs/data/blob/v1.0.0-beta.16.1/packages/ember-data/lib/serializers/json-serializer.js#L264), which you can override in a custom serializer for your fragment.

Since those embedded objects have (I assume) unique IDs, is there a reason you aren't just using the [`DS.EmbeddedRecordsMixin`](http://ember

[2015-05-10 22:38] jeep87c opened #87 "Unit test failure using Mocha : Error: Assertion Failed: (subclass of DS.ModelFragment) does not appear to be an ember-data model"
Using Ember-cli setup with mocha/chai as my test runner and assertions lib (using ember-cli-mocha), I have a simple model class looking like this :

models/Address.js

    import DS from "ember-data";

    export default DS.ModelFragment.extend({
        civicNumber: DS.attr('number'),
        streetName: DS.attr('string'),
        city: DS.attr('string'),
        provinceOrState: DS.attr('string'

[2015-05-11 17:07] slindberg commented on #87
This is likely due to `isolatedContainer` issues as described in #80. It would be useful to know what version of ED you are using. A small ember-cli repo reproducing the issue would be even more useful :wink:

Also keep in mind that [relationships to models are not currently supported](https://github.com/lytics/ember-data.model-fragments#relationships-to-models).

[2015-05-11 20:28] knownasilya opened #88 "string fragments don't get defaults"
[code]

[code]

The default values are never set.

[2015-05-11 20:39] knownasilya commented on #88
Have went through the source/console and could find no way to get those defaults..

[2015-05-11 20:43] slindberg commented on #88
Not sure what the context of each of those snippets is... or what exactly is the issue. Here's [how default values work](https://github.com/lytics/ember-data.model-fragments#default-values):

[code]

[code]

Note that [default values are only set on newly created records](https://github.com/emberjs/data/issues/678#issuecomment-32085835).

[2015-05-12 00:41] knownasilya commented on #88
@slindberg sorry for being vague. I've updated my example above.

[2015-05-12 17:24] slindberg commented on #88
Ah, I see now. This likely has to do with setting a default value for a nested fragment array. I'll look into this when I have some spare cycles.

[2015-05-14 10:21] cascalheira opened #89 "Trouble after building ember-cli app"
Hello,

Everything is working properly and as intended during development. Once i build and deploy my app, i get this when trying to access a route that uses this addon:
`Error while processing route: form.edit t.default.hasManyFragments is not a function TypeError: t.default.hasManyFragments is not a function`

Someone else having this kind of trouble?

[2015-05-14 12:55] cascalheira commented on #89
Well... Seems that o forgot to remove an app.import for ember-data on the Brocfile of one of our projects. It was that the cause of all the problems!

[2015-05-14 12:55] #89 closed

[2015-05-15 19:51] karellm opened #91 "ActiveModelSerializer and underscore keys"
I use the `ActiveModelSerializer` which transform underscore keys to camelCase. So if I have:

[code]

I can pass it a payload like:

[code]

But when I create a fragment like so:

[code]

And pass the same payload as previously, it does not seem to be normalized. It only works if I define it as:

[code]

Which obviously is totally inconsistent with the rest of my app. Any idea what I'm doing wron

[2015-05-15 19:55] slindberg commented on #91
If you are using `ActiveModelSerializer`, you must be specifying a serializer for each of your models. [Model fragments get their own serializers](https://github.com/lytics/ember-data.model-fragments#serializing), so just do the same for your model fragments.

[2015-05-15 19:56] karellm commented on #91
Ok gotcha. Any way to define it for all Fragments?

[2015-05-15 20:04] karellm commented on #91
So creating a serializer worked well. Thanks for the pointer! Though it seems a little tedious to have to define one serializer per fragment.

For models, I actually only need a single `ApplicationSerializer` and all models inherit from it. I was hoping fragments would use my `ApplicationSerializer`. Would there be something similar for fragments?

[2015-05-15 21:21] slindberg commented on #91
Hm, the [mechanism for looking up a serializer](https://github.com/emberjs/data/blob/v1.0.0-beta.17/packages/ember-data/lib/system/store.js#L1881) is the same for models and fragments, so it should be using your `ApplicationSerializer` if you aren't defining one for them. Can you reproduce this in a sample app?

[2015-05-16 00:06] karellm commented on #91
@slindberg Sure, do you have a base jsfiddle or something available?

[2015-05-16 00:18] slindberg commented on #91
No, I typically will just create an ember-cli project in a public github repo and then delete it afterwards. There isn't a great way to re-create ember-cli apps through jsbin/fiddle unfortunately :confused:.

If I was debugging my own app, I'd put a breakpoint in the `store#serializerFor` method and see what the lookup is actually returning.

[2015-05-17 01:41] jeep87c commented on #87
Thanks for you answer! I'm using ED 1.0.0-beta.16.

[2015-05-18 13:08] igorT commented on #80
You can also in your app say:
`export default DS.FragmentTransform` in `app/transforms/fragments.js`
thnks to @rwjblue

[2015-05-18 18:17] mmadden commented on #11
+1

May I suggest DS.fragment and DS.fragmentCollection?

[2015-05-20 19:59] slindberg commented on #91
@karellm did you ever figure out why your app serializer wasn't getting used for fragments?

[2015-05-20 21:17] slindberg commented on #88
@knownasilya I added [a test case that covers this behavior](https://github.com/lytics/ember-data.model-fragments/pull/94). If you are able to reproduce this in a test, jsbin, etc. feel free to reopen.

[2015-05-20 21:17] #88 closed

[2015-05-20 21:18] #86 closed

[2015-05-20 21:19] slindberg commented on #84
If you are ever able to reproduce this behavior in a failing test, jsbin, etc. please reopen.

[2015-05-20 21:20] slindberg commented on #72
If you can provide a failing test case, jsbin, etc. please reopen.

[2015-05-20 21:20] #72 closed

[2015-05-21 15:10] karellm commented on #91
@slindberg Not yet but I have this in my todo list. We are working on a new release and it takes most of my time at the moment.

[2015-05-23 18:21] louy opened #95 "There should be a way to set a custom deserializer."
`FragmentTransform.deserialize()` is not implemented yet.

https://github.com/lytics/ember-data.model-fragments/blob/77a9a4eefde1bbaf20cb86df4fe4550fc9f77deb/packages/model-fragments/lib/fragments/transform.js#L21

Currently, the only way to do a custom deserialize is to do it in the model Serializer. This is due to the limitations of `DS.Transform`.

[2015-05-23 21:17] slindberg commented on #95
I think you may be misunderstanding `DS.FragmentTransform`'s job. Fragment properties behave like attributes (unlike relationships, which are handled specially), so when deserializing the fragment attribute, the transform's job is simply to return an _already deserialized_ fragment. If you wish to provide custom deserialization logic for the fragment, you can create a [specific serializer](https:/

[2015-05-23 21:21] louy commented on #95
You're right, but that's the exact issue.
Take a look at the link I provided. The transformer class is the one that calls the Serializer, and it only does that on `serialize`. So `extract` is never called. There's also a comment that says `@TODO` in the same file mentioning this :)

[2015-05-23 21:24] louy commented on #95
By the way it seems I can't reopen the issue.
I'm not sure if I'm missing something here but I've tried `extract`, `extractArray` and `extractSingle` and none of them were ever called. If I'm not mistaken then please reopen this issue.

[2015-05-26 20:43] slindberg commented on #95
@louy Ah yes, you are correct that `extract` serializer methods are not used, I need to make this clear in the readme. I understand now what you meant by

I fully agree that the ideal place for payload extraction is in the fragment transform, which would simply be a matter of calling `serializer.extract`. However, [all type information is lost during the call to `deserialize`](https://github.com/e

[2015-05-26 21:12] louy commented on #95
Exactly. I have opened [an issue on Ember-data](https://github.com/emberjs/data/issues/3111). Let's see if they will do something about it.
By the way, I can [only](http://stackoverflow.com/a/21333938/1644422) reopen issues if I closed them *myself*.

[2015-05-27 13:00] knownasilya opened #96 "Deprecations"
Per the beta.18 release, `typeKey` should now be referenced as `modelName` and `snapshot.constructor` as `snapshot.type`

Currently it's still valid, but throws deprecation errors.

[2015-05-27 17:17] louy commented on #40
I strongly agree with this. Any plans? It has been 5 months already.

[2015-05-28 14:24] jakesjews commented on #96
I'd be willing to make an attempt at fixing this. @slindberg do you want to try to do version detection for this one or just change the references?

[2015-05-28 21:24] slindberg commented on #40
I don't currently have any plans to implement this (hence the 5 months you mention). Specifying a `defaultValue: []` option is a fairly low-friction solution that has worked well in practice, albeit slightly counterintuitive.

Since it is actually possible to set a fragment array property to an array after object creation, unlike my original comment asserted, this issue's urgency has dropped signi

[2015-05-28 21:59] slindberg commented on #96
I believe the only offending line is [this one](https://github.com/lytics/ember-data.model-fragments/blob/v0.3.3/packages/model-fragments/lib/fragments/transform.js#L44), since all other references to `typeKey` are for polymorphism support.

I think the fix can be as simple as

[code]

@jakesjews if you want to open a PR, I'll give you a :raised_hands:

[2015-05-29 03:37] jakesjews commented on #96
PR submitted. Your code suggestion did the trick.

[2015-05-29 17:30] #96 closed

[2015-06-02 00:13] jakesjews commented on #11
I'm thinking about making a PR for this issue. Do you still like DS.Fragment, DS.fragment, and DS.fragments? It might be a little confusing with [Ember.Fragment](https://github.com/ef4/rfcs/blob/element-and-fragment/active/0000-element-and-fragment.md) but I don't think it would be too bad if it's in the DS namespace.

[2015-06-02 18:21] slindberg commented on #11
I'm going to be doing a lot of work on MF in the coming weeks to make it compatible with the [recently merged `references` branch](https://github.com/emberjs/data/pull/3094), and I'd like to tag the result as `v1.0` to fall in step with ember data.

I'd also like to settle on an API before then, ideally creating a new `v0.3.4` release with deprecation warnings for any API changes, so that we don't

[2015-06-02 19:22] knownasilya commented on #11
I like the proposed naming changes. Apart from that I would love to be able to pass a nested object/array on creation and have it create all of the child fragments automatically..

[2015-06-02 19:26] Glavin001 commented on #11
DS.hasOneFragment → DS.fragment, DS.fragmentObject
DS.hasManyFragments → DS.fragments, DS.fragmentArray

+1 for proposed renamed APIs.  Thanks for keeping us all in the loop!

[2015-06-02 19:37] knownasilya commented on #36
@slindberg also would love this in 1.0

[2015-06-02 19:44] slindberg commented on #88
@knownasilya If this is not working for you, let's make it work. I just couldn't seem to reproduce the behavior you are seeing in a test. Can you take a look at the passing test case I linked to above and see if it is testing what you're trying to do?

[2015-06-02 19:54] slindberg commented on #11
To be clear, I don't want to alias fragment properties. I'm mainly considering renaming the properties to one of the following options:

    DS.hasOneFragment   → DS.fragment
    DS.hasManyFragments → DS.fragments

OR

    DS.hasOneFragment   → DS.fragment
    DS.hasManyFragments → DS.fragmentArray

@mmadden While perhaps more descriptive, `fragmentCollection` is a bit of a mouthful, and one of th

[2015-06-02 20:05] igorT commented on #11
It shouldn't be DS, as ModelFragments should just be an ember addon and not reuse ED's namespace

[2015-06-02 20:05] igorT commented on #11
:+1:  for `fragment` and `fragmentArray`

[2015-06-02 20:10] knownasilya commented on #11
I'm in the same boat as @igorT

[2015-06-02 22:36] elwayman02 commented on #11
I like ```fragment``` and ```fragments```, but I agree that there should be a separate namespace for the addon and not hijack Ember-Data.  It'd be nice to use a destructuring import in ES6 to just import what we need:

```import { fragment, fragments } from ...```

[2015-06-03 13:32] dfreeman commented on #11
I like `fragment` and `fragmentArray`.

On the namespace front, rumor has it Ember/ED are going to be moving to more modularized distributions in the future so that you'd import, e.g., `attr` and `Model` directly. Dockyard even recommends assigning such things to module-local variables up front in their [style guide](https://github.com/dockyard/styleguides/blob/master/ember.md#create-local-version

[2015-06-05 12:28] louy opened #98 "Unable to copy a fragment"
I'm trying to clone a DS.Model instance. When I use get and set for copying fragments I get the following error:

If I use `Ember.copy` I get this:

What is the correct way to achieve what I want?

[2015-06-05 17:11] slindberg commented on #98
Can you provide more context or a jsbin or a failing test case? I'm afraid [the test for this](https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/tests/unit/fragment_test.js#L38-L42) is a bit lacking, but cursory inspection shows that this is working.

Note that copying fragments with nested fragments [probably won't work](https://github.com/lytics/ember-data

[2015-06-05 18:25] GeoffreyBooth opened #99 "Uncaught TypeError: Cannot read property '_unhandledEvent' of undefined with Ember Data 1.0.0-beta.19"
When upgrading Ember Data to 1.0.0-beta.19, this error appears (from `ember-data.model-fragments.js:98`):
[code]
And Ember Data Model Fragments fails to load, which causes other errors to be thrown.

See jsbin: http://emberjs.jsbin.com/hafaso/1/edit?html,js,console. Change Ember Data from beta.19 to beta.18 (HTML tab line 12) and the error goes away.

[2015-06-05 19:05] slindberg commented on #99
I'm aware of the issue; this is unfortunately just the tip of the iceberg. The beta.19 release shifted around internal APIs in preparation for 1.0, and it will take a considerable amount of effort to maintain compatibility.

I'm currently in the process of a near-full rewrite to provide support for 1.0, so it's possible that MF will never support beta.19 due to my limited bandwidth.

[2015-06-07 19:17] louy commented on #98
Hi @slindberg,
I believe it's the latter, nested fragments. I'll come up with an implementation for this and send you a PR. Thanks!

[2015-06-11 00:45] HeroicEric opened #101 "Update DS.Snapshot to DS.AdapterSnapshot"
This will need to be updated once https://github.com/emberjs/data/pull/3294 is released

[2015-06-13 19:28] pangratz commented on #101
This issue is obsolete since it has been decided against the rename: https://github.com/emberjs/data/pull/3294#issuecomment-111569234.

[2015-06-13 19:29] #101 closed

[2015-06-15 20:44] devinus commented on #40
This bit me today, I'd love for it to be the default.

[2015-06-15 20:50] slindberg commented on #40
I'll make sure an empty array is the default value in 1.0

[2015-06-16 17:00] devinus opened #104 "Doesn't work with EXTEND_PROTOTYPES false"
https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/array/stateful.js#L45

[2015-06-19 03:37] Truffula commented on #87
This doesn't seem to have been resolved by #80 - I have the same error using `ember-qunit`'s `moduleForModel('address')`.

It looks like `this.subject()` is calling `store.createRecord('address')` instead of `store.createFragment('address')`.

[code]

[2015-06-19 08:11] jevanlingen commented on #99
Are there any plans for support for beta 19? Or will the next version just support Ember Data 1.0?

[2015-06-19 16:35] slindberg commented on #87
That's what was going on, make more sense now. I must confess, I don't unit test model fragments in our app; we are rely heavily on acceptance testing. I'm not sure what the right answer is here, but for now the easiest thing to do is to call `store.createFragment()` directly instead of using `this.subject()`. At some point perhaps I'll try to monkey patch `moduleForModel`, or perhaps create a `mo

[2015-06-19 16:37] slindberg commented on #99
I'm currently working against the 1.13 release series, although it's possible that the update to that version will be compatible with beta-19.

[2015-06-21 19:30] cyphercrack opened #105 "Howto create a fragment with nested fragments from a json string"
Hi,
is there an easy way to create new fragments with nested fragments from a json string, without parsing the json string by myself an call createFragment for every nested fragment?
When the ember data object is initially created from the REST call the fragments are created automatically. How can i use this mechanism?

Best regards
Michael

[2015-06-24 06:33] jevanlingen commented on #99
Ember Data 1.13 is fine too, I will just upgrade from beta-18 tot 1.13. No problem!

[2015-06-26 14:11] kellyselden opened #106 "A way to destroy fragment"
use case:
[code]
I don't want to rollback `person` and lose their birthday change. Should there be a `name.destroyFragment` or something similar to remove it from the store?

[2015-06-26 15:38] slindberg commented on #105
TL;DR is no, not right now.

I assume that you already have normalized data for the fragment, and want to do something like:

[code]

[2015-06-26 15:40] slindberg commented on #106
What is it you'd like to do with the fragment? It should get GCed once the `name` var goes out of scope, since there's no identity map for fragments like there is for models.

[2015-06-26 15:49] kellyselden commented on #106
I assumed it was cached in the store in some capacity. Is that not the case?

[2015-06-26 15:54] slindberg commented on #106
Nope, model instances are the sole owners of fragments. Caching doesn't really make sense if you can't differentiate between two fragments with identical properties (i.e. no have unique IDs).

If you're finding that they aren't being cleaned up though, that's a bug. It's always possible I missed something (glaring or otherwise) that hangs onto references to fragments.

[2015-06-26 15:58] kellyselden commented on #106
I will report back when I finish my implementation, but as it stands, there is no issue.

[2015-06-26 15:58] #106 closed

[2015-06-27 02:32] miketownsend opened #107 "Nesting belongsTo and hasMany"
Kiaora!
I'm trying to nest a relationship to a record (not a fragment) but it doesn't seem to be supported.
Can you please confirm that this is / is not supported? If not, are there any plans to support it?

[code]

Thanks heaps for this resource by the way :-)

Mike Townsend

[2015-06-27 03:41] chrisvariety commented on #107
Not supported currently, check out #18 for more info.

[2015-06-27 05:33] miketownsend commented on #107
Thanks Chris, I'll use a computed property work around for now!

[2015-06-27 05:33] #107 closed

[2015-06-27 10:38] cyphercrack commented on #105
Yes, and further, quuz can also be a nested fragment.

[2015-06-29 07:33] jevanlingen commented on #99
Is there an ETA for next version?

[2015-07-01 13:48] herczyn commented on #99
We are moving with our app to the new ember and ember data and need this update very much... Is there any way we could help You?

[2015-07-02 16:30] slindberg commented on #99
Sorry for the delay all, recent changes have made the upgrade difficult. Unfortunately I don't think there's any way to help @herczyn, thanks for the offer.

[2015-07-03 00:11] louy commented on #84
I think the issue is caused by having a computed property on a fragment. Is this a known bug?

[2015-07-03 16:23] knownasilya commented on #84
That's a good point.. I did have a CP.

[2015-07-09 21:13] knownasilya commented on #99
Any progress? :smile_cat:

[2015-07-12 07:50] slindberg commented on #99
Thanks for your patience everyone, I was able to get tests passing this weekend in #109. This update was very invasive, and so I would appreciate if anyone waiting on an upgrade could test against that PR. I've published the distribution files to the [`tmp-dist`](https://github.com/lytics/ember-data.model-fragments/tree/tmp-dist) branch, so you can install the package directly without having to cl

[2015-07-12 16:23] devinus commented on #99
Very exciting @slindberg :beers:

[2015-07-12 17:24] workmanw commented on #99
Indeed! I'm still on ember-data beta 15 for the moment, but it's great to know this will be available when I can slot it in time to upgrade.

[2015-07-12 21:42] slindberg commented on #104
I believe this will be fixed by #109

[2015-07-12 22:20] slindberg commented on #95
This should be resolved when #109 lands. You'll be able to specify your own transform:

[code]

Unfortunately you'll also have to go through this special incantation:

[code]

[2015-07-12 22:25] slindberg commented on #84
I think this was happening because fragments that were accessed prior to the save didn't get updated with the new data until after they are accessed again. This also only happens when the adapter returns a response with data in it, instead of a `204`. It should be fixed by #109, [here's the relevant test](https://github.com/lytics/ember-data.model-fragments/commit/a8b2d5ff81b7cb64f93cfb4760d4105e2

[2015-07-12 22:42] slindberg opened #110 "Release v1.0 checklist"
Possibly v1.13?

- [x] Ember Data v1.13.x compatibility #99
- [x] Stop using Ember's prototype extensions #104
- [x] Allow for custom deserializing in transform #95
- [x] Change default value of `DS.hasManyFragments` to be empty array #36, #40
- [x] Add ability to pass normalized JSON to `createFragment`, fragment attributes #10, #105
- [x] Support nested fragments when copying #98
- [x] Reset fra

[2015-07-13 01:07] devinus commented on #11
What @igorT said also `fragment` and `fragmentArray` (`fragments` is just asking for trouble).

[2015-07-15 07:19] jevanlingen commented on #99
Gonna update to Ember, Ember Data and Ember cli 1.13 + using the `tmp-dist`Data Fragment. Hope everything will work out fine. Thanks for the update @slindberg!

Btw, wouldn't it be better to give your next release also v1.13 to stay in sync with al other Ember projects (I know this is not a core project, but it's a project that's likely to change every time when Ember got a new version)?

[2015-07-15 08:41] devinus commented on #99
I know my opinion on this wont matter much here, but I hate the fact that projects other than Ember and Ember Data are adopting this versioning pattern. It's **not** semver compliant and only allows packages other than Ember to update their *patch* version. I think it adds more confusion than it helps. Is ember-data@1.13.5 compatible with ember@1.13.4? Who knows unless you read a single blog post

[2015-07-15 13:39] knownasilya commented on #99
@devinus You should always be on the latest patch version, since those are bug fixes, and semver guarantees (as much as humanly possible) that the changes in the patch are fixes and not something that will make one version incompatible.

The real value is in the major.minor version numbers, since then Ember Data can say yes we use the new computed property syntax because Ember 1.13 does.

[2015-07-15 16:03] devinus commented on #99
@knownasilya Except that a library can now never have a major or minor version change to signify what they are supposed to signify according to semver. They can only ever bump the patch version. It's not semver.

[2015-07-15 17:52] knownasilya commented on #99
Yes that is true, they have to wait till the next minor version to add new features. I think that's the idea, if you buy into this as a library author (I'm not, because I want the flexibility to not wait for Ember).

[2015-07-16 14:24] karellm commented on #91
@slindberg I created a clean app to isolate the behaviour and you were right, it picks the `ApplicationSerializer` just fine! I will investigate the diff between the two apps and I find something I will post here. In the meantime, I don't think it is `ember-data.model-fragments` issue so I will close.

Thanks for the support!

[2015-07-16 14:24] #91 closed

[2015-07-16 19:43] christophersansone commented on #105
@cyphercrack Does this do the job for you?

[code]

@slindberg is correct that the JSON must be denormalized as if it came from the server.

[2015-07-17 00:11] slindberg commented on #105
@cyphercrack Be careful using `setupData`; after thinking about this a little more, I think this won't copy sub fragments, but instead overwrite their data. Also keep in mind that it's a private method and subject to change.

[2015-07-18 21:43] louy opened #112 "Handling Errors?"
Fragments currently do not contain an `errors` object. How should errors be stored?

I've solved the issue by doing the following:

[code]

But I think this should be done by the addon automatically.

I'm also not sure about receiving errors from the server and passing them to the fragment.

[2015-07-24 14:46] knownasilya commented on #110
What's the status on this?

[2015-08-05 19:10] louy commented on #18
Personally I believe that `ember-data` relationships are a mess. I have switched to using a computed property instead. So for each relationship I have two model attributes: `relatedModelId` and `relatedModel`, where the first is a string and the second is a computed property.

I don't think you should consider supporting relationships before they even decide what the want to do with them. The curr

[2015-08-09 18:05] louy commented on #98
Just realized that I had a fully-functional copy function for ages!
I should've just used it recursively instead of `Ember.copy`.

Here you go:

    function copyFragment(fragment) {
      return function() {
        var store = Ember.get(this, 'store');
        var type = store.modelFor(this.constructor);

        var newFragment = this.store.createFragment(type);

        Ember.get(this.construc

[2015-08-09 18:06] louy commented on #98
My issue was that I was calling `Ember#copy` on an array, the solution was to use `Array#map(copyFragment)`.

[2015-08-13 15:11] stefanpenner opened #115 "prefer no-prototype extensions"
This ensures the plugin works in apps /w or without prototype extensions enabled. Please note, addons by default are to be [run with them disabled](https://github.com/rwjblue/ember-disable-prototype-extensions), so there test suite catches this issues upfront, rather then trickling downstream.

- [x] https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/frag

[2015-08-13 15:14] stefanpenner opened #116 "should detect if methods its providing are already provided"
for example: https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/ext.js#L14-L24

This will allow for fail-fast scenarios if ED and MF ever conflict in API.

[2015-08-13 15:15] stefanpenner opened #117 "usage of deprecated/removed features"
- [x] https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/ext.js#L156
- [x] https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/model.js#L137
- [x] https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/model.js#L187

A quick work-around in a lib

[2015-08-13 15:16] stefanpenner opened #118 "should consider using a null prototype object"
here -> https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/model.js#L107 and in similar situations, so that collisions with prototype members, or prototype members resulting from solution do not collide. Although `hasOwnProp` can help, the performance of it is sub-optimal.

[2015-08-13 15:54] stefanpenner commented on #115
some of this may be fixed on [this long running branch](https://github.com/lytics/ember-data.model-fragments/pull/109)

[2015-08-13 15:54] stefanpenner commented on #118
some of this may be fixed on [this long running branch](https://github.com/lytics/ember-data.model-fragments/pull/109) its worth applying any missing changes to that branch/pr

[2015-08-13 15:54] stefanpenner commented on #117
some of this may be fixed on [this long running branch](https://github.com/lytics/ember-data.model-fragments/pull/109) its worth applying any missing changes to that branch/pr

[2015-08-13 15:54] stefanpenner commented on #116
some of this may be fixed on [this long running branch](https://github.com/lytics/ember-data.model-fragments/pull/109) its worth applying any missing changes to that branch/pr

[2015-08-14 01:21] workmanw commented on #115
It looks like this is resolved on the internal-model-compat branch. We can leave this open to ensure no regressions until it's merged into master.

[2015-08-14 02:22] karellm commented on #110
@slindberg Could you tell us what is going on? I think this is the only library in our project preventing us to move forward to `1.13` and `2.0`. Thanks!

[2015-08-14 19:11] #99 closed

[2015-08-14 19:36] #104 closed

[2015-08-14 19:36] #95 closed

[2015-08-14 19:37] slindberg commented on #110
I decided to make this list the target for a 1.0 release, and added ED 1.13 compatibility in v0.4.0

[2015-08-14 19:38] slindberg commented on #115
Fixed in v0.4.0

[2015-08-14 19:38] #115 closed

[2015-08-17 23:15] slindberg commented on #117
The `Ember.keys` and `Ember.EnumerableUtils` deprecations have been resolved, but I'm not so sure about the `Ember.isArray` case. Since it's not just a simple polyfill for `Array.isArray`, I would be breaking backwards compatibility in instances where a fragment array property is set to an array-like object like `Ember.ArrayProxy`.

AFAIK, `Ember.isArray` isn't being deprecated; is there a better

[2015-08-17 23:50] slindberg commented on #118
I definitely see the advantage of using `Object.create(null)` in situations where the object will be each'ed over, or when you are using dynamic keys in general. But when keys are known in advance, e.g. [an options hash](https://github.com/lytics/ember-data.model-fragments/blob/v0.4.0/packages/model-fragments/lib/fragments/attributes.js#L65), it's hard to imagine a scenario where a single offendin

[2015-08-18 00:00] stefanpenner commented on #118
Only ones that have potential collisions, ones that have dynamic keys.

I believe that is similar to or comment

[2015-08-18 00:47] slindberg commented on #116
Is there a better way to detect the existence of a method on the prototype than

[code]

[2015-08-18 21:59] #98 closed

[2015-08-19 14:21] christophersansone commented on #40
@slindberg I'm hoping to submit a PR in a bit.  Since this could be a breaking change for those relying on `defaultValue` to otherwise be undefined, how should we handle this?  We could introduce a deprecation warning for < 1.0 that requires a default value to be specified for `hasManyFragments`, and then safely change the default value for v1.0.  I imagine the default value is being specified the

[2015-08-19 20:47] slindberg commented on #40
@christophersansone I added a warning that this will change in v1.0 in #126. The plan is to fix it on master before the 1.0 release. You're welcome to open a PR against master that I'll merge at the appropriate time (although it should be a one line fix, so don't feel obligated).

[2015-08-19 21:37] christophersansone commented on #40
@slindberg Cool, yeah it's literally one line change with possibly a test to write.  Thought I'd pitch in to help get v1.0 out the door and just started at the top. :)

[2015-08-19 21:54] christophersansone commented on #18
+1.  I use this library specifically to avoid the complexity of ED relationships for small simple models.  The majority of use cases to reference a `DS.Model` within a fragment can be done with a simple computed property on the model fragment.

The OP is correct that it may be cumbersome if the linked model must be fetched.  Most of the time this should be done in the route's `afterModel`, and the

[2015-08-19 22:10] slindberg commented on #40
@christophersansone Definitely appreciate the help!

[2015-08-21 15:33] devinus opened #128 "Allow usage of Ember Data 2.0?"
https://github.com/lytics/ember-data.model-fragments/blob/e34d1540cacb5520ec6097682299757fed9c3d02/bower.json#L21

[2015-08-25 16:21] knownasilya commented on #84
Is this still an issue in the 0.3.x series?

[2015-08-26 16:23] Forster-Groux opened #129 "How to add a fragment to an already existing record"
Hi

I have a model like this:

[code]

I want to store a node from a form that belongs to an existing cluster.

The endPoint from my backend API to add a node to a cluster looks like this:

What i do:

In the route for the node form:

[code]

In the controller that handles the form:

[code]

But on submit all i get is:

And the API endPoint is not even called.

What is the best way to perform this

[2015-08-31 06:56] Truffula opened #130 "Fragments fail to deserialize with RESTSerializer"
Using RESTSerializer with Ember Data 1.13.11, fragments are not deserialized unless the serializer has the undocumented property `isNewSerializerAPI: true`.

I have some customisations on the serializer, but as far as I can tell the Model Fragment deserializer is receiving a valid JSONAPI object.

[2015-08-31 16:03] slindberg commented on #129
I do not recommend returning model fragments from route `model` hooks. In this case you should return the cluster as the model, and in your `submit` action you should create the fragment and save the cluster:

[code]

[2015-08-31 16:03] #129 closed

[2015-08-31 16:14] slindberg commented on #84
Shouldn't be, just forgot to close

[2015-08-31 16:14] #84 closed

[2015-08-31 23:19] slindberg commented on #130
I don't have an app that is running ED 1.13.11 yet, but [I attempted to reproduce in a test and didn't run into trouble](https://github.com/lytics/ember-data.model-fragments/commit/4634e10d6493e584b495760a5ea012965b4a9ab1). Can you elaborate more about the failure? Note that fragment attributes shouldn't be nested JSONAPI objects themselves, they should just be plain objects/arrays since the type

[2015-09-02 15:58] sedouard opened #131 "Question: A way to create fragment w/o store?"
Quick question, is there a way to simply add an object which resembles a fragment to a model, rather than bringing in a reference to the store?

I have a component which I need to create fragments, but I really didn't want to bring in a reference to the store, if I don't need to.

[2015-09-02 21:07] knownasilya commented on #84
So this is still an issue in 0.3.3, 204 solves it kind, but introduces an issue where you have fragments that aren't updated after save, since the new data isn't send back, so the model isn't updated.

[2015-09-03 00:08] Truffula commented on #130
Thanks @slindberg, I'll see if I can reproduce an example for you.

[2015-09-03 12:13] knownasilya commented on #84
And passing data with the 204 doesn't help.

[2015-09-04 14:45] knownasilya commented on #84
Is there a way to set the data back on those items? Because the only workaround is a refresh of the page, and if you forget and save the model, you overwrite the data with blank fragments.

[2015-09-06 21:54] knownasilya commented on #84
@slindberg would love your thoughts on this.

[2015-09-08 06:52] martinthogersen opened #132 "Moving fragment from one collection to another"
I'm using this code, to move a record from one collection to another. However, it throws this error: *Fragments can only belong to one owner, try copying instead*

[code]

After reviewing the code, I can see that the code is checking if the _owner is set. Unsetting that value seems to fix the problem:

[code]

What's the intended way to move a record from one collection to another?

[2015-09-10 17:28] slindberg opened #133 "Reset fragment owners when removed from a record"
Fragments cannot belong to more than one record, but currently removing a fragment from a record does not free it from its owner, and it cannot be added to another record, which forces copying of a usable object.

The `hasOneFragment` property should manage resetting the owner of any fragments that are replaced, and fragment arrays should do the same with `replaceContent`.

[code]

[2015-09-10 17:29] slindberg commented on #132
I can see why this is confusing. This warning was intended to prevent assigning a fragment to multiple owner records. Fragment owners thus far do not change once they are set, however when removing a fragment from a record as you are doing, it should be possible to reset the internal `_owner` reference and allow it to be added to another record. I've opened a new issue to track this: #133

For now

[2015-09-10 17:29] #132 closed

[2015-09-10 17:35] slindberg commented on #131
TL;DR not at the moment, see #10

If you are using a `hasManyFragments` property, you can use the `createFragment` method of the fragment array without needing access to the store. But using a `hasOneFragment` property you are forced to create a new fragment using the store.

Once #10 is addressed, you will be able to set fragment properties using object literals directly, avoiding the need for th

[2015-09-10 17:35] #131 closed

[2015-09-10 18:48] slindberg commented on #84
This issue is fixed in v0.4.0, which is tied to ED >= v1.13.0. Unfortunately I don't have the spare cycles to try to backport this fix to a v0.3.x series release, since the fix was a byproduct of refactoring adapter updates for v1.13 compatibility. I think your only option right now is to update ED :confused:

-------------

For clarity's sake and for future readers of this issue, there are two wa

[2015-09-11 18:35] slindberg commented on #128
Have you been running v0.4.x successfully against 2.0? My long term plan was to do a v1.13/v2.0 split like ED, which is why the current release is bound to v1.13.x. The problem with loosening the ED version right now is that the v1.13 and v2.0 internals will likely diverge, forcing the v0.4.x minor version to choose which version to be compatible with. Not sure what the best path forward here is,

[2015-09-16 00:47] jackweinbender commented on #110
Is there any plan to make this work with the JSONAPI Serializer? It occurred to me that the JSONAPI spec supports  "any valid JSON value" for its attributes property. Assuming the ED team isn't planning on making this part of the Serializer, it seems like a good gap for EDMF to fill.

http://jsonapi.org/format/#document-resource-object-attributes

[2015-09-16 13:38] jackweinbender commented on #110
Is there any plan to allow use with JSONAPI Serializer? I was noticing that [the JSONAPI spec states][1] that "Complex data structures involving JSON objects and arrays are allowed as attribute values," Which—since ED doesn't seem to support this—might be a nice lacuna for EDMF to fill.

[1]: http://jsonapi.org/format/#document-resource-object-attributes

[2015-09-18 01:42] jakesjews opened #134 "Store.createFragment pushes records into the store but not Store.push"
Whenever store.createFragment gets called a record is pushed into the ember-data store. This doesn't happen in version 0.3.3 but I wasn't sure if this was a new behavior. Calling store.push seems to behave differently because it doesn't push any fragments into the store.

We think this may be causing an issue when combined with the [stained-by-children mixin](https://github.com/eflexsystems/ember-

[2015-09-19 17:56] matthewnessworthy commented on #128
With ember 2.0.2 & ember-data 2.0.0 no warnings are thrown, however, model fragments don't work. From my initial trial the deserialization results in a single shared model fragment filled with default values.
There are also about 34 failing tests after following the testing procedure described in the README.md.
Have you decided on a plan regarding the 1.x/2.x split?

[2015-09-22 18:41] slindberg commented on #110
@jackweinbender Yes, this project is intended to be 100% compatible with `DS.JSONAPISerializer`, in exactly the way the spec states. Just put your nested JSON in the `attributes` hash, and declare the correct fragment attributes and you're done. Note however that model fragment serializers _themselves_ cannot extend `DS.JSONAPISerializer`, since their raw response is not a full JSON API document (

[2015-09-22 19:00] dfreeman commented on #110
@slindberg Totally makes sense. Do you have any thoughts on an ergonomic way to handle that distinction?
If I have an app where the full-fledged models are all powered by JSON API, it seems reasonable to make my application serializer extend `DS.JSONAPISerializer`, but then I need to introduce a bespoke serializer for each fragment in my app. Conversely, if I make the app serializer something else

[2015-09-22 19:03] slindberg commented on #134
Fragments should never be pushed into the store, so this is definitely a bug on that level :persevere:

[2015-09-22 19:26] slindberg commented on #12
Fixed by #109

[2015-09-22 19:26] #12 closed

[2015-09-22 19:32] jakesjews commented on #134
whoops hit the wrong button sorry. Meant to say I thought the fragments appearing in the store might be a bug but wasn't sure with the 1.13 changes.

[2015-09-22 19:32] slindberg opened #135 "Use DS.JSONSerializer as default fragment serializer"
As [@dfreeman pointed out](https://github.com/lytics/ember-data.model-fragments/issues/110#issuecomment-142386315), if the application serializer extends from `DS.JSONAPISerializer`, a custom serializer must be created for every fragment that extends from `DS.JSONSerializer` instead. Seems like the best/only way to handle this is to override `Store#serializerFor`.

[2015-09-22 19:33] slindberg commented on #110
@dfreeman Hm, you're right this is a problem. No one wants to create a `export default DS.JSONSerializer.extend();` serializer for every fragment. Opened #135

[2015-09-22 19:46] slindberg commented on #128
@matthewnessworthy I'm not overly concerned with this silently failing, since you probably had to add a line to the bower resolutions just to make it stop complaining. This is what dependency versioning is for.

I still don't have a better plan than simply releasing 1.x then branching off 2.x :confused:

[2015-09-23 19:26] richardbowman opened #136 "Child fragments don't update values during save based on server response"
Made a simple app that shows the issue.

https://github.com/HelloWallet/fragment-update-failure

Basically, when the server provides new values for attributes in child fragments, they don't update with the new value. However, if you do a rollback, the new values will be applied.

This is not how Ember Data works on the top-level model. When attributes are updated by the server as a result of the s

[2015-09-23 21:19] slindberg commented on #136
Looks like this is happening when a record is created. Thanks for reporting & making test repo :+1:

[2015-09-24 02:44] #136 closed

[2015-09-29 21:48] kmiyashiro commented on #128
@matthewnessworthy my fragments appear to be deserializing fine, I'm using the RESTAdapter.

Ember 2.0.2
ED 2.0.1
Frag 0.4

[2015-10-01 07:41] vasilakisfil commented on #128
Also fail to deserialize here: Ember 2.0.2, ED 2.0.1, Frag 0.4.1. But I am using ActiveModel adapter, not sure if it has to do with the issue (https://github.com/ember-data/active-model-adapter).

[2015-10-02 02:52] christophersansone opened #138 "Falsy values are getting clobbered by defaultValue"
In Ember Data (1.13.x and 2.0), the defaultValue defined on a `DS.attr` is only applied if the value is completely unspecified: the data from the server did not contain the key, and the property has not been set in the client.  Its determination is: `if (key in data) ... else ...`.

Currently, this library works a bit differently.  If a value is falsy at all (`false`, `null`, `undefined`, etc.), i

[2015-10-02 17:12] christophermlne opened #140 "Assertion Failed: The `JSONAPISerializer` is not suitable for model fragments"
```Error while processing route: form.show.index Assertion Failed: The `JSONAPISerializer` is not suitable for model fragments, please use `JSONSerializer```

Will ember-data.model-fragments work with the new Ember data JSONAPISerializer?

This would be a problem as I am using the json_api_resources gem on the backend.
Is it possible yet to use this Ember addon in conjunction with a project that i

[2015-10-02 17:38] christophermlne commented on #140
I was just reading through a few threads trying to get some background on this issue. Looks like you already answered this question here: https://github.com/lytics/ember-data.model-fragments/issues/110#issuecomment-142386315

You can close this. Hopefully this helps others who might be looking for a solution to the same issue.

[2015-10-03 00:44] slindberg commented on #140
:+1:

I'm sure you saw it, but just in case [I opened another issue](https://github.com/lytics/ember-data.model-fragments/issues/135) to make it easier for apps that have an application serializer the extends from `DS.JSONAPISerializer`.

[2015-10-03 00:44] #140 closed

[2015-10-03 02:24] christophermlne commented on #128
I was struggling to pinpoint exactly what my issue was, as I'm a first time user of this project, but after reading this thread, I am sure this is my issue. My fragments serialize fine, but fail to deserialize like the others.

If I create the fragments, push them to the store and associate them to the parent using the console, everything is fine. I can query the parent record in rails and see the

[2015-10-03 03:00] slindberg commented on #128
@christophermlne yes, for the time being it's probably best to downgrade to v1.13.x

[2015-10-05 08:41] thec0keman opened #141 "Ember 2.1 Compatability"
[This](https://github.com/lytics/ember-data.model-fragments/blob/master/packages/model-fragments/lib/fragments/ext.js#L244) is raising an exception that `registry.has is not a function`.

Replacing the definition of `registry` with
[code]
fixes the exception.

Also, less critical, but uses of `Ember.warn` are raising deprecation notices.

[2015-10-05 14:33] dwolfand opened #142 "Fragment Arrays Not Correctly Updated When Adding New Item"
When saving a model with a child array, if the server returns updated array children and adds an additional item, it does not update the data of the existing children in the model.

Please see https://github.com/dwolfand/fragment-update-failure/tree/child_array_issues for the example app.

Also, since this is an issue with the current master build of model fragments, make sure to replace the conte

[2015-10-06 17:31] #10 closed

[2015-10-06 19:37] #141 closed

[2015-10-06 19:52] #133 closed

[2015-10-08 18:58] richardbowman commented on #142
Just checking in here, this is basically a follow-up issue to issue 136. We took the corrected master version and used it, but it seems to have a follow-up issue related to arrays that @dwolfand found. It is definitely a big problem for our applications, for now, we reverted to 0.4.1, and added rollbacks after all saves for now.

[2015-10-09 05:13] #142 closed

[2015-10-09 05:15] slindberg commented on #142
Turns out this case was being tested in the fix for #136, but the test was broken due to some copy-pasta laziness :sob:

Thanks for reporting @dwolfand, hopefully get a release out soon.

[2015-10-09 05:25] #138 closed

[2015-10-12 06:20] slindberg commented on #105
Support added in #144, released in v0.4.2

[2015-10-12 06:20] #105 closed

[2015-10-12 06:21] #15 closed

[2015-10-12 06:23] slindberg commented on #136
Fix released in v0.4.2

[2015-10-12 06:23] slindberg commented on #142
Fix released in v0.4.2

[2015-10-12 08:36] elwayman02 commented on #110
@slindberg what's the status of the 2.0-compat version?

[2015-10-15 02:12] #11 closed

[2015-10-15 02:12] #13 closed

[2015-10-15 02:22] #117 closed

[2015-10-15 02:31] slindberg commented on #116
The only API that model fragments adds to `DS` now is `store#createFragment`, which I consider very low-risk.

[2015-10-15 02:31] #116 closed

[2015-10-15 02:35] slindberg commented on #134
I looked into this a few weeks ago, but realized I never posted my findings. In short, it would be exceedingly difficult to prevent ED from creating live records for model fragments with the `internalModel` changes. I think I'd rather address concrete side effects of this behavior, e.g. the destroy on rollback issue you mentioned. Do you think you could create a failing test that demonstrates the

[2015-10-15 02:36] #118 closed

[2015-10-15 02:38] slindberg commented on #8
I think this ship has sailed. If anyone wants to steer it back to port, go for it :ship:

[2015-10-15 02:38] #8 closed

[2015-10-15 09:37] jimmyjamieson commented on #128
Is there a time frame for ED 2.0+ support?

[2015-10-16 02:35] #40 closed

[2015-10-16 03:10] #135 closed

[2015-10-19 15:28] acerov opened #154 "Deserializing fails"
Hi,

It looks to me that if attribute is not set during createFragment, and if later in persisting process server sets the attribute and returns it in json, that attribute is not deserialized.
I am still in debug phase so I am not 100% sure

[2015-10-19 16:59] acerov commented on #154
I checked litle bit further, it is not deserializing even when I set attribute, server sends ne value for that attribute but it remains the same.

I am using ember 1.13.9 and ember-data 1.13.14

[2015-10-19 17:58] acerov commented on #154
My error, the server was returning JSON with different names for fragments, fixed that and deserializing works fine

[2015-10-19 17:58] #154 closed

[2015-10-19 18:12] slindberg commented on #154
:+1:

[2015-10-19 19:04] acerov commented on #86
@slindberg can you please explain little more how to access id in fragment.
I have the same problem, id on my fragment is null and in the same fragment in _InternalModel > _data > id is set correctly.

[2015-10-19 21:51] leondmello opened #155 "Model does not detect itself as dirty after setting the model fragment attribute"
https://github.com/leondmello/ModelFragment

Just run this app with ember serve and load it in the browser and then click the button with the console open.

Here's the gist of what I am trying to do,
1. A model has a fragment attribute with some values, set this attribute to null. Check if the model is dirty. (This returns true as expected)
2. I then use the set method on the model to set the frag

[2015-10-19 23:28] slindberg commented on #86
@acerov I must stress first that if your nested JSON objects truly do have IDs, then you **should not** be using this project, and instead should use the `DS.EmbeddedRecordsMixin`.

With that said, ED [really](https://github.com/emberjs/data/blob/v1.13.14/packages/ember-data/lib/system/model/attributes.js#L328) [really](https://github.com/emberjs/data/blob/v1.13.14/packages/ember-data/lib/system/m

[2015-10-20 00:49] slindberg commented on #155
Thanks for reporting, this does appear to be a bug. Thanks as well for creating a repro-repo :+1:

[2015-10-20 01:03] slindberg commented on #155
This is related to the object literal notation introduced in v0.4.1. For now, setting fragment properties to newly created fragments (using `store.createFragment(...)`) works correctly.

[2015-10-20 02:21] leondmello commented on #155
Oh, well I face this issue in a component. So I cannot access the store.
Is there an alternative?
Were you able to identify where the issue is. I don't mind submitting a pull request.

[2015-10-20 02:22] slindberg commented on #155
The store is a service, so you can inject it with `Ember.inject.service('store')`.

[2015-10-20 02:24] leondmello commented on #155
Oh, cool. I'm still an ember newbie learning the ember ways :)

[2015-10-20 13:40] leondmello commented on #155
From what I read, injecting the store into components is not recommended. I'll make do with that for now.

[2015-10-20 15:32] workmanw commented on #155
@leondmello

I think people are still trying to figure out the best patterns for life without controllers. Some "what's recommended" is still kind of in flux. But IMHO if you have an app with any level of moderate complexity, using the store's service in a component is the only way to keep your sanity.

[2015-10-24 19:40] #155 closed

[2015-10-26 00:36] #110 closed

[2015-10-27 22:55] elwayman02 commented on #128
@slindberg now that 1.13.x is supported, what's left for 2.0 support?

[2015-10-28 03:10] slindberg commented on #130
@Truffula is this still an issue for you? If not would you mind closing?

[2015-10-28 04:55] slindberg commented on #128
@elwayman02 what's left are the deserialization issues mentioned on this thread.

[2015-10-28 08:54] dguettler commented on #115
is this used internally by ember-data? I can't see this anywhere in my dependencies but still running into above issue when running tests on Codeship vs my local Mac which works fine

[2015-10-28 15:11] slindberg commented on #115
What is the actual issue you are referring to? What version ED/MF are you using? If it's only in CI, try resetting the dependency cache. Also do a nombom locally to make sure packages are in sync.

[2015-10-28 15:18] #128 closed

[2015-10-28 15:31] slindberg commented on #128
Released v2.0.0 for compatibility with ED v2.x. As always, please report any issues you find :smile:

[2015-10-29 02:53] jakesjews commented on #134
It's probably not an actual issue with model-fragments. We're using a modified version of the [stained-by-children addon](https://github.com/lolmaus/ember-cli-stained-by-children) to mark embedded saved records as clean and the problem we were running into was newly saved fragments in embedded objects being were being removed from the store after a rollback.

The solution we came up with was calli

[2015-10-29 04:51] slindberg commented on #134
Were fragments getting removed from the store on save, or were they only getting removed when rolling back the parent record? Or does stained-by-children do a rollback as part of marking the embedded records as clean? Also, I'm unsure what the negative effects of a fragment getting removed from the store actually are; do they also get changed to the deleted state?

I'm hesitant to provide official

[2015-10-29 13:05] dguettler commented on #115
Various versions of

I actually get this for a bunch of different addons when running tests in Codeship. Locally everything is passing. I don't have any reference to ember-data-fragments, ember-data is at 2.1.0 and so is ember.

[2015-10-29 13:51] jakesjews commented on #134
Sorry for the poor explanation of whats going on. Heres a [repository](https://bitbucket.org/eflexsystems/ember-data-embedded-bug/overview) showing what I'm talking about. The basic problem is that if you save a parent object with embedded records then rollback one of the embedded records any of the fragments inside that child are deleted even though they were persisted to the server. You can repl

[2015-10-29 15:26] dguettler commented on #115
Following up on this. Turns out it was an issue when running PhantonJS 1.9
Updating PhantomJS to 2.0.1 solved the issue

[2015-11-05 00:25] #134 closed

[2015-11-05 22:19] kmiyashiro opened #159 "isNew detection for new Fragments"
In 2.0, is there a way to detect if a fragment is new? I assume there is since if you rollback a fragment when it's new, it will be marked as deleted.

[2015-11-08 05:20] thec0keman opened #160 "Ember Data default serializers cannot be looked up"
Calling `store.serializerFor('application')` will fail with `No model was found for 'application'`.

I believe this is because in the [override](https://github.com/lytics/ember-data-model-fragments/blob/master/packages/model-fragments/lib/fragments/ext.js#L88) version we first call `modelFor`, which is a bit differ of a [path](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/sys

[2015-11-11 23:10] Truffula commented on #130
All good, thanks for your time!

[2015-11-11 23:10] #130 closed

[2015-11-15 19:44] #160 closed

[2015-11-15 19:45] slindberg commented on #160
Thanks for reporting this :beers:, fixed in #162 release to follow soon.

[2015-11-17 16:33] dwickern opened #164 "Fragment still dirty after save"
After upgrading to version 1.13.x I have an issue where a fragment is dirty after saving the model. I tried to write a test for this but ultimately couldn't.

The fragment in question has two `DS.attr('string')` properties which are left as their default value `null` when I fetch the model. After I call `save`, it thinks I changed `null` to `null` and thus the fragment is dirty:
[code]

My PUT met

[2015-11-18 00:53] slindberg commented on #164
Cooooool, gotta love those uncaught regressions :grimacing: . I'll try to track this down this weekend.

[2015-11-18 16:21] workmanw commented on #164
Yeap, our tests detected this failure too. I'd be happy to build a failing test for this and submit a PR if needed.

[2015-11-18 16:50] dwickern commented on #164
After some more testing, I'm observing this behavior:

I load the model and the fragment is not dirty. Once I bind the model properties to a component, the fragment becomes dirty. `changedAttributes` thinks everything was changed from `null` to whatever the loaded value was.

So that explains why I couldn't write a unit test...

[2015-11-18 23:18] slindberg commented on #164
@workmanw failing tests are always welcome :grin:

[2015-11-19 10:21] coachTomato commented on #164
I had the same problem in my project. Please consider also the DS.attr() attributes.

[2015-11-20 13:15] workmanw commented on #164
@slindberg Sorry for the delay! I opened a PR for the failing test. As @dwickern mentioned, it has something to do with the attribute, if you don't ever get the property, it seems fine.

I don't know if this is the exact issue I have because I'm pushing updates into the store in my case. But given that @25a4688 is also the culprit, they seem related.

[2015-11-24 06:48] shen6653 opened #166 "Fragment serializer and application serializer"
In v0.4.1, if there is no serializer defined for the model fragment, the defined application serializer will be applied. However, after upgrading to v1.13.1, this no longer works. Is this intended or a bug?

[2015-11-24 08:45] DingoEatingFuzz commented on #166
Intended: https://github.com/lytics/ember-data-model-fragments/issues/135

[2015-11-24 13:05] workmanw commented on #166
In the short term, I just created the following initializer:

[code]

This change caught me off guard, but I definitely appreciate the fact that this is a separate serializer. My application serializer has specific logic for fragments and I'm excited to be able to easily unwind that when I have time.

[2015-11-24 18:30] shen6653 commented on #166
Thanks for the quick response!

[2015-11-24 18:30] #166 closed

[2015-12-03 23:00] workmanw commented on #164
Unfortunately this is a blocker for us. Is there any way I can help out here? I tried to debug it a little bit, but it's pretty clear I need to some knowledge of ember-data internals. Any guesses, I'd be happy to explore some options.

[2015-12-04 18:04] slindberg commented on #164
@dwickern, I fixed @workmanw's issue in #167, but I'm not entirely sure that it fixes yours. It sounds like you are able to build a version of MF and use it in your app. Would you mind building from master to see?

[2015-12-04 18:16] slindberg commented on #166
And now for the extremely delayed response...

There's a blurb buried in the [serializing section of the readme](https://github.com/lytics/ember-data-model-fragments#serializing) that explains the reasoning for not using the application serializer. @workmanw's suggestion is the correct way to deal with using a default fragment serializer, and unfortunately I think it's the long-term solution.

The

[2015-12-08 19:04] devinus opened #170 "Getting ENOENT from source maps in 1.13.1"
[code]

[2015-12-08 19:05] slindberg commented on #170
What's the context? `ember serve`? What environment?

[2015-12-08 19:06] devinus commented on #170
@slindberg `ember serve`

[code]

[2015-12-08 19:24] devinus commented on #170
I've completely cleared every cache as well.

[2015-12-08 19:32] workmanw commented on #170
I've had this happen with other CLI addons too after upgrading to the newest Ember-CLI version. The "tmp" directory is maintained even after killing the server. I'm guessing the idea was to make `ember serve` faster on initial load, but it does seem to cause issues like this occasionally (for me at least).

[2015-12-08 19:41] slindberg commented on #170
@devinus I'm not able to reproduce this, can try @workmanw's suggestion and `rm -rf tmp`?

[2015-12-08 23:08] devinus commented on #170
@slindberg I'm doing `rm -rf tmp dist bower_components node_modules ~/.npm ~/.cache/bower` and still experiencing it. :(

[2015-12-08 23:23] slindberg commented on #170
Just for shits and grins, would you mind doing the full nom-bom using npm's and bower's cache clean commands (just to make absolutely sure the caches are cleared)?

[code]

If that doesn't work, post your `npm -ls` so I can diff it against mine. We'll figure this out.

[2015-12-08 23:23] devinus commented on #170
STOP THE PRESSES.

This is apparently because I needed to also `bower install --save ember-data-model-fragments#1.13.1`, should this be added to the readme or added as part of the addon setup phase?

[2015-12-08 23:30] slindberg commented on #170
Well, that's supposed to happen automatically as part of the [addon blueprint](https://github.com/lytics/ember-data-model-fragments/blob/master/ember-addon/blueprints/ember-data-model-fragments/index.js#L13) (run when doing an `ember install ember-data-model-fragments`). This is the multiple-package-managers issue that ember-cli has been tackling for some time.

I think the goal is to do away with

[2015-12-08 23:30] #170 closed

[2015-12-11 18:36] dwickern commented on #164
@slindberg I tried running against master but everything broke. Any chance you could backport the fix to the 1.13.x branch?

I'm running ember 1.13.10, ember-data 1.13.15, model-fragments 0.4.3

[2015-12-12 04:16] slindberg commented on #164
@dwickern I cherry picked the fixes onto the `release-1-13` branch, which is tracking the 1.13.x series. Once you verify, I'll release v1.13.2 and v2.1.1. Thanks for testing :+1:

[2015-12-14 22:28] dwickern commented on #164
@slindberg looks good :+1:

[2015-12-23 19:21] slindberg commented on #164
Sorry for the delay, finally got around to releasing v1.13.2, v2.0.2, and v2.1.1 with fixes for this issue.

[2015-12-23 19:21] #164 closed

[2015-12-28 19:52] dwickern commented on #164
@slindberg thanks so much! Could you publish v1.13.2 and v2.0.2 to npm?

[2015-12-30 04:30] slindberg commented on #164
Oh damn sorry about that, I don't know how that happened. Should be published now.

[2016-01-06 10:56] whatthewhat opened #173 ""Cannot read property 'didChange' of undefined" when upgrading from 1.13.1 to 1.13.2"
After updating from 1.13.1 to 1.13.2 (that changed setProperties to internalModel#setupData) we've started getting `Cannot read property 'didChange' of undefined` when saving a record that has nested fragments.

**Trace**:
[code]

**Setup**:
[code]

**Steps to reproduce**:

- load a model with nested fragments into the store
- save the model
- TypeError

**note**: this only seems to happen if:
- t

[2016-01-08 16:17] slindberg commented on #173
Thanks for reporting, I'm surprised there's a failure so deep in the ember observer internals. I'll try to make time for this soon, but of course failing tests always help out immensely.

[2016-01-11 13:09] whatthewhat commented on #173
I've narrowed it down to an observer in our app that tracks the embedded fragments (i.e. `'section.subsections.@each.name'`), the error happens even if the observer has an empty body.

That probably explains why the trace shows ember observer internals.

[2016-01-12 18:16] devinus opened #174 "Ember Data 2.3 compatibility"
`DS` is no longer a global.

[2016-01-13 18:16] devinus commented on #174
http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html

[2016-01-14 20:43] slindberg commented on #174
Yep, this gonna be interesting.

[2016-01-14 23:50] dwickern commented on #174
Does this mean you can remove the re-exported ember-data classes like `DS.Store`? Chrome opens your store.js instead of ember-data's which makes debugging it quite difficult.

[2016-01-15 06:08] slindberg commented on #174
@dwickern that's bugged me for a long time too :stuck_out_tongue: The update will likely fix the issue.

[2016-01-19 19:23] dfreeman commented on #174
There's also the fun fallout from Ember 2.3's `this.container` deprecation...

[2016-01-21 15:56] workmanw opened #176 "`MF.array('string')` gets clobbered when saving and updating"
We discovered an issue in our app that revolves around pushing model updates when a string fragment array attribute (`MF.array('string')`) has a dirty value.

The best was for me to explain it is via this JSBin: http://emberjs.jsbin.com/gixizajoka/1/edit?html,js,output That JSBin has four buttons that represent the sequence of events necessary to reproduce the issue. If you click each of the four

[2016-01-21 18:57] xkb opened #177 "Can't rollback fragment after #save failure"
Seems to be happening on both object and array fragments. If the adapter's `save` fails, the rollback does cascade down but it doesn't rollback each fragment's attributes.

It's clear that the source of the problem is lack of coverage for `adapterDidError` on the Model but even with that added there would need to be an `inFlight` state which will add a bit of complexity. I can probably work on fix

[2016-01-25 06:48] JennieJi commented on #177
Met the same problem

[2016-01-27 07:12] htmldrum commented on #174
Any guidance for nubs who just end up crashing and burning on Uncaught ReferenceError: DS is not defined?

[2016-01-27 18:45] kmiyashiro commented on #174
rollback to ember-data 2.2

[2016-01-27 19:21] jakesjews commented on #174
We were able to upgrade by keeping ember-data in our bower.json file and setting it to 2.3.3 in both bower.json and package.json. You'll see a warning from ember-cli but you can ignore it.

[2016-01-27 21:27] kmiyashiro commented on #174
@jakesjews did you check to see if ember-data is included twice in the build?

[2016-01-27 22:36] jakesjews commented on #174
@kmiyashiro it looks like its only included one time. It looks like theres some checks inside ember-data for this case. https://github.com/emberjs/data/blob/f261ca8902219244994e79ba4785607d845d53ce/index.js#L68

[2016-02-01 20:35] gabegorelick commented on #173
Running into this too with Model Fragments 0.4.1 and Ember Data 1.13.13.

[2016-02-01 21:18] gabegorelick commented on #173
Trying to create a minimum test case, but here's where it's failing:
[code]
`nodes[1]` is `undefined`, which causes the error. So it looks like `didChange` on `nodes[0]` is removing the other element from the array, causing the out of bounds access.

[2016-02-03 06:34] slindberg commented on #176
You really push this addon to the limit :smile:

I'm not surprised this is an issue, since there's currently no concept of 'in-flight' for fragment arrays (or fragments for that matter). I am surprised however that nobody has reported this until now.

Sooo, this isn't a trivial fix. First, it will require adding `inFlight` states to the state machine and creating some kind of `_inFlightFragments`

[2016-02-03 07:06] slindberg commented on #177
Thanks for adding a test :+1:

I haven't looked into this, but it doesn't sound like there would need to be an `inFlight` state, since changes to fragment properties are stored in `._attributes` like normal `attr`s (doubly so, considering this used to work in 0.4). It sounds like maybe `adapterDidCommit` or `setupData` is getting called on the fragment despite the error. It'd be great if you wante

[2016-02-03 13:20] workmanw commented on #176
Haha. Yea, I told our PM that when he reported this issue to me :P

Alright. Let's leave the ball in my court here. I'll see if I can come up with something, if not I may just close it and work around it in my app by locking the UI or something. Thank you!

[2016-02-03 14:28] workmanw commented on #174
@slindberg et al. I would be willing to try to a PR for this. Steven it sounds like you have some domain knowledge here. If you can give me a little bit of direction, I'm happy to take it and try to run with it.

[2016-02-03 15:02] dfreeman commented on #174
@slindberg @workmanw I'm also happy to put in some cycles if it helps move things forward here.

It looks like the build is currently pretty far off the ranch from the out-of-the-box addon setup (particularly with stubbing out the DS modules and the two-part npm/bower distribution) – is that in order to support producing a standalone artifact?

[2016-02-05 05:56] slindberg commented on #174
@dfreeman It's mostly a hold-over from pre-addon days. It was the pattern a lot of early addons adopted, so I went with it. I will be very happy when the build artifacts are no longer a part of the repo (or the release process), and updating MF takes place only in `package.json`.

@workmanw @dfreeman Thanks for volunteering, I have extremely reduced bandwidth these days. ED 2.3 pulled the project

[2016-02-08 13:29] workmanw commented on #174
@jakesjews Had started work on this here: https://github.com/eflexsystems/ember-data-model-fragments/tree/ember-cli-addon . I'm not sure what his status is at the moment.

I appreciate the fact that backporting fixes would be a pain, but I also think that Ember 2.3 compatible effects more users than those bugs do at the moment. My opinion would be to put in the cycles where ever we can.

[2016-02-08 18:51] lmcardle opened #178 "Computed Property Based on Nested Fragment"
I have a fragment that looks like this:

[code]

Within a template, if I loop over level's 2 and 3 together, I get live updating (i.e. it works as expected):
[code]

If I have an action and remove one of the y's, the list displayed is updated with one less y.

I need to move this to the controller in a computed property. However, I can't seem to get the computed property to re-fire when one of the

[2016-02-08 20:16] lmcardle commented on #178
One additional piece of info:
level1 is a regular ember data model
level2 is a fragmentArray
level3 is a fragmentArray

[2016-02-12 02:32] workmanw commented on #176
@slindberg So I've spent the last 4 days straight learning the architecture of this addon, specifically with the goal of making this `_inFlight` state idea work. This would be an accurate describe my view of this issue:

![mindblown](https://cloud.githubusercontent.com/assets/825487/12997310/085b3a94-d106-11e5-90fe-128f0af6db35.gif)

In all seriousness, I completely appreciate what you're saying n

[2016-02-12 02:32] #176 closed

[2016-02-12 02:46] workmanw commented on #178
Hey @lmcardle what version of ember-data are you on? Since we're using Ember.ArrayProxy, I suspect this is related to: https://github.com/emberjs/ember.js/issues/12475 .

If I understand that issue properly, you should be able to use `level2.content.@each` instead (see below). Maybe give that a shot?

[code]

[2016-02-13 15:44] nagkumar opened #180 "Issue with "ember-data": "1.0.0-beta.16" and "ember-data-model-fragments": "0.3.3""
When using ember data with the following bower dependences

[code]

and start the ember server, it is throwing this error. Pl. advise what is wrong.

[2016-02-23 07:56] slindberg commented on #176
Thanks for taking the time to look into it. The in-flight states would be a pain for sure, but for the most part would mirror DS.Model's states. The real problem is the merge semantics, which is basically the reason that MF is an addon and not part of ED itself.

This got me thinking: is this something that relations suffer from as well? Relations don't have an in-flight state, so what happens if

[2016-02-23 08:04] slindberg commented on #180
The repository and dist files were renamed before the v1.0.0 release from `ember-data.model-fragments` to `ember-data-model-fragments` (dot to slash).

Try making the `ember-data-model-fragments` dependency in `package.json` 0.3.3, otherwise the build will be looking for the updated file names that don't exist.

[2016-02-24 20:52] gitmarkscode commented on #61
Hey, I am getting this error and I don't understand how you guys resolved this issue. can you please explain steps to get fix?

    "ember-cli": "2.3.0-beta.1",
    "ember-data": "^2.3.0",
    "ember-data-model-fragments": "2.1.1",

[2016-02-24 22:21] gitmarkscode commented on #61
NVM, if you're using Ember data 2.3 and getting `Uncaught ReferenceError: DS is not defined` https://github.com/lytics/ember-data-model-fragments/issues/174  go here.

[2016-02-25 01:39] #177 closed

[2016-02-25 01:39] #180 closed

[2016-02-25 01:49] slindberg commented on #178
I believe @workmanw is correct that this is the same issue as emberjs/ember.js#12475. The fragment array base class does the same thing as `RecordArray` by [overriding the `content` property](https://github.com/lytics/ember-data-model-fragments/blob/v2.1.1/packages/model-fragments/lib/fragments/array/stateful.js#L45-L47).

Closing since this is a bug in Ember. The commenters on that issue reported

[2016-02-25 01:49] #178 closed

[2016-02-25 03:05] jakesjews commented on #174
@workmanw @slindberg I've reached a point with the Ember-CLI conversion where I think I need to add an ajax mocking library of some sort. Do either of you have any preferences for a good library to use?

I could use some help looking over the fork and making sure I'm not doing anything too crazy (I do need to fix the fact that all the tests are using moduleForAcceptance). Right now I have 311 of 3

[2016-02-25 03:47] dfreeman commented on #174
@jakesjews I'm a little surprised you need AJAX mocking, given that the existing tests didn't require it. What part of the changeover made that necessary?

[2016-02-25 03:59] jakesjews commented on #174
@dfreeman To be honest I'm not 100% sure but if you look in the console its sending out a bunch of errors pertaining to ajax. Its possible it wasn't required before because of some custom setup that isn't happening now with the normal ember-cli tests. Would you be able to take a look at the fork to see if I'm missing something?

[2016-02-25 04:07] jakesjews commented on #174
So I just did some digging and it turned out I needed to set `shouldBackgroundReloadRecord` to false on the dummy adapter.

[2016-02-25 13:28] workmanw commented on #174
@jakesjews I don't have any preference. We use mockjax in our app ... but I've been hearing great things about ember-ajax (thought it might still be beta-ish). Doesn't matter to me :)

[2016-03-08 00:04] #159 closed

[2016-03-08 21:47] jansegre commented on #174
I'm looking forward to this, I've started out with `ember-data` 2.4 (which [seem as compatible as 2.3](http://emberjs.com/blog/2016/02/29/ember-2-4-released.html)), this project would help a lot, but I'm not willing to pollute my project with temporary hacks to get it working.

I'm not experienced at all with ember addon development, but if there's anything I could do to help with this (docs for e

[2016-03-08 22:18] workmanw commented on #174
@jansegre We are actively working on this. You can actually use this with Ember 2.4 now. There are just two caveats. 1) Is you will received deprecation warnings about usage of the container API. 2) You have to include ember-data in your bower.json. I personally don't consider either of those to be hacks.

**Deprecation warnings**
We have a PR that we're currently working to complete. Once that PR

[2016-03-08 23:24] jansegre commented on #174
@workmanw, great, I'll give it a shot then. I don't like the redundancy on __bower.json__ too much, but I can live with it for a while.

[2016-03-13 17:35] bakura10 commented on #174
Hi,

It does not seem to work at all with EmberJS 2.4 / Ember-Data 2.4 (using brain new Ember-CLI install). Here are the errors:

* Uncaught ReferenceError: DS is not defined
* Uncaught Error: Could not find module `ember-resolver` imported from `my-app/resolver`

What is the current workaround? :)

[2016-03-13 19:07] kmiyashiro commented on #174
@bakura10 https://github.com/lytics/ember-data-model-fragments/issues/174#issuecomment-175809076

[2016-03-13 22:20] bakura10 commented on #174
Thanks, that works. However for those stumbling into this issue, since Ember Data 2.4 it's no longer requires to add it to bower.json and, acutally, when creating a new app with Ember-Cli the dependency in bower.json does not exist. To downgrade to ED 2.3 you must therefore manually add ED to the bower.json file.

[2016-03-20 01:46] kernel-io commented on #174
How difficult would it be to add ED 2.4 support?

[2016-03-20 12:57] workmanw commented on #174
@kernel-io We are actually using model-fragments with ember-data 2.4. AFAIK there are no code compatibility issues, it's just a matter of "add-on incompatibility" at the moment.

The workaround is to continue to include ember-data in your bower.json file ( https://github.com/lytics/ember-data-model-fragments/issues/174#issuecomment-175809076 ).

[2016-03-21 17:45] mattmcginnis opened #185 "Using ember-data-factory-guy with model fragments"
I'm wondering if anyone is successfully using model fragments with factory guy.  The main issue I'm running into is with this line in factory guy

[code]

"type" in my case is "-mf-fragment$fragment.name" which returns an error since there is no transform of that type.

[2016-03-21 17:45] bakura10 commented on #91
Hi,

I came across this issue and it apperas I have something similar. I defined my properties using camelCased, while my API returns underscore_key.

I have an application serializer that take care of the transformation using keyForAttribute. It works for Ember-Data managed models, however for fragments it does not work. It still requires my attributes to be called underscore_key in the model.

H

[2016-03-21 19:28] whatthewhat commented on #185
I hit the same issue when updating ember-data-factory-guy, did not have time to investigate this properly though.

[2016-03-21 23:38] slindberg commented on #173
Since my last update in January, my bandwidth for this project has been cut way back. Since this issue is only affecting you two, and my initial efforts to track it down were fruitless, I'm going to have to put this on the back-burner indefinitely. If either of you can create a twiddle or repository to reproduce this reliably, I'll take another look. It's quite possible that this is simply an issu

[2016-03-21 23:59] slindberg commented on #91
@bakura10 there have been changes to the base class that auto-generated fragment serializers use since this issue was first opened. Read about them in the [serializing section of the readme](https://github.com/lytics/ember-data-model-fragments#serializing). What's probably going on is that the fragments are not using your application serializer at all. The readme describes how to create and regist

[2016-03-22 02:00] slindberg commented on #185
MF does some [monkey patching of `DS.JSONSerializer`](https://github.com/lytics/ember-data-model-fragments/blob/master/packages/model-fragments/lib/fragments/ext.js#L293-L330) to support fragment-specific transforms, so looking up the transform directly like factory-guy is doing won't work. I don't have the bandwidth for this, but I would suggest opening a PR to factory-guy that changes the line t

[2016-03-22 02:00] #185 closed

[2016-03-22 09:55] whatthewhat commented on #185
Asked the question in the factory-guy  repo: https://github.com/danielspaniel/ember-data-factory-guy/issues/182

[2016-03-31 16:03] shidel-dev opened #190 "Observer causing Maximum call stack size exceeded with nested fragments"
I am using
 ember data: 2.1.0
 ember: 2.1.0
 ember model fragments: 2.1.2

I have a model with a fragment that has a fragment. When using a computed alias or an observer, I get a Maximum call stack size exceeded after saving.

[2016-03-31 18:48] shidel-dev commented on #190
seems similar to https://github.com/lytics/ember-data-model-fragments/pull/60 and https://github.com/lytics/ember-data-model-fragments/pull/54

[2016-03-31 21:59] shidel-dev commented on #190
I have tried updating to ember 2.2, and ember data 2.2 (like what is present in the bower.json for ember-data-fragments@2.1.2) and this issue continues.

[2016-04-01 05:32] slindberg commented on #190
These issues have classically been impossible to diagnose without a failing test or app/twiddle that demonstrates the issue. Can you extract the bare minimum of logic from your app into a test case that reproduces the issue? Thanks for reporting.

[2016-04-01 16:13] FredUK opened #191 "Deprecation warning "Calling Ember.get without a target object" on 1.13.3"
Hi, first of all thanks a lot for this great addon.

I've been for the past few days trying to update my Ember app to 1.13.13 with Ember data 1.13.15 with your latest Data Model Fragments 1,13,3 before I even try update to v2 and noticed a deprecation warning I can't seem to fix and according to the call stack the last call before the warning, comes from [fragment.js#L129](https://github.com/lytic

[2016-04-01 16:13] scientiacloud opened #192 "Deprecation warning "Calling Ember.get without a target object" on 1.13.3"
Hi, first of all thanks a lot for this great addon.

I've been for the past few days trying to update my Ember app to 1.13.13 with Ember data 1.13.15 with your latest Data Model Fragments 1,13,3 before I even try update to v2 and noticed a deprecation warning I can't seem to fix and according to the call stack the last call before the warning, comes from [fragment.js#L129](https://github.com/lytic

[2016-04-01 16:15] #192 closed

[2016-04-01 17:18] workmanw commented on #190
Actually digging through our logs I found one case where this happened. It's not really clear exactly what the user did, but I suspect they may have done something like the following:

1) Create a new fragment on an existing record (in this case `fragment` not `fragmentArray`).
2) Save the record.
3) Update an attribute on the fragment *before* the record has finished saving.
4) When the adapter f

[2016-04-02 02:51] slindberg commented on #191
It looks like what's happening is `toString` is getting called on a fragment that hasn't been added to a record yet (i.e. created with `store.createFragment`, but never added to a record with `record.set('prop', fragment')`). Usually this happens when debugging, since records/fragments rarely get coerced into strings under normal circumstances; are you `console.log`ing the record in that call stac

[2016-04-11 08:15] nire0510 opened #193 "Tool Suggestion: Ember Models Generator"
Hi all, it's not an issue, but a recommendation for a tool I've created which auto generates models out of a given JSON object, which also includes support for this great addon of yours, the Ember Data Model Fragments:
http://feditor.io/content/gist/6478b5134893399879c0

Thanks!

[2016-04-13 01:41] workmanw commented on #174
I believe we can now close this issue. Ember-data 2.3+ is supported by ember-data-model-fragments 2.3.0. 👏 👏 👏 👏  🎉

Thanks a lot to all for your patience, this was hopefully one of to more tricky upgrades we'll have in the 2.x cycle.

[2016-04-13 01:41] #174 closed

[2016-04-17 17:15] slindberg commented on #174
I just want to give another huge thanks to @jakesjews and @workmanw for taking the lead on this update. Thank you!! ✨ 🐨 ✨

[2016-04-19 15:41] Baukereg opened #196 "JSON API support"
Are there plans to include support for JSON API?

So far, `array` seems to work, but I run into trouble with `fragment` and `fragmentArray`.

[code]

[code]

[code]

[code]

[2016-04-20 15:08] slindberg commented on #191
Fixed by #194 and included in v2.3.1

[2016-04-20 15:08] #191 closed

[2016-04-21 04:40] slindberg commented on #196
TL;DR Create a serializer for your fragments that understands dasherized attribute names.

First take a look at the [serializing section of the readme](https://github.com/lytics/ember-data-model-fragments#serializing). ED uses transforms to deserialize attribute values, and MF adds transforms for fragments and fragment arrays. These transforms use fragment-specific serializers to deserialize those

[2016-04-21 04:40] #196 closed

[2016-04-21 15:31] slindberg commented on #193
Hey, this is awesome! [I opened a PR](https://github.com/lytics/ember-data-model-fragments/pull/197) to add a note in the readme about it. Will there be a more permanent URL, or is the gist one good to use?

One thing I did notice is that the fragment models that are generated are missing the import for `MF`:

[code]

Thanks for the awesome tool!

[2016-04-21 19:44] nire0510 commented on #193
Cool!!! so glad you like it :)
The URL i submitted is good enough, but here is a short version of it:
http://goo.gl/qZkTUR

As for the `import` module - no problem, I've updated the code so that this statement will be added to each model file definition (although I haven't used it in any of my projects and yet it worked :-| weird).

Thanks again!

[2016-04-24 19:35] slindberg commented on #193
Great, added to readme in #197

[2016-04-24 19:35] #193 closed

[2016-05-10 14:10] knownasilya opened #198 "ED notifying property change errors"
Upon `model.save()` I get the following error:

[code]

The property it notifies about is a fragment.

[2016-05-10 21:19] jakesjews commented on #198
@knownasilya would it be possible to replicate the issue in an ember-twiddle?

[2016-05-10 21:57] knownasilya commented on #198
I'm not sure how to replicate it either.. seems to only happen in one place, but other places use the same action/save combo. The only thing that is changed is `toggleProperty` is used on a record nested in that fragment.

[2016-05-13 13:34] aars opened #199 "[question] Suggested method of getting actual changedAttributes()?"
https://github.com/lytics/ember-data-model-fragments/blob/d86b15a4eb4b216fe20a380754bc1457f8bdc352/addon/ext.js#L148

[code]

What would be the best way (avoiding Ember private methods) to get the actual changes, or most importantly, get the original version/values of a `Fragment` or `FragmentArray`?

Calling `fragment._internalModel.changedAttributes()` _does_ give us the old and new values/state

[2016-05-20 16:52] abuiles opened #200 "can't unload/destroy fragments?"
Not sure if this is a bug or desired feature, but If I do the following:
[code]

I get the error:

[code]

Should the record be just removed?

[2016-05-22 04:01] eqbal opened #201 "Ember data model fragment `2.3.1` doesn't work with Ember 2.5.0?"
I'm using ember-cli `2.5.0` with ember data model fragment `2.3.1`.

My package.json looks like:

[code]

I have `service.js` model:

[code]

And `availability.rb` model:

[code]

And I keep getting this error:

`loader.js:171 Uncaught Error: Could not find module `ember-data/-private/system/model/internal-model` imported from `model-fragments/ext
`
Any idea what am I doing wrong?

[2016-05-22 12:23] workmanw commented on #201
I've not seen that exact error, but with ember-data 2.3 and ember-data-model-fragments 2.3 the addons have migrated to using a module import strategy. So rather than doing `import DS from 'ember-data';` you would just import the exact package you need. Here is your example modified:

[code]

Ember-data blog post: http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html
Ember-data-model-frag

[2016-05-22 15:46] eqbal commented on #201
Thanks @workmanw seems to be working now, very appreciated mate.

[2016-05-22 16:00] workmanw commented on #201
@eqbal Cheers! Happy fragmenting 😄

[2016-05-22 16:00] #201 closed

[2016-05-23 17:47] steffenbrem opened #202 "[Bug] Auto generated fragment serializers still use JSONAPISerializer"
**Info**
Ember: `2.4.4`
Ember Data: `2.6.0-canary+39329bdbeb`
Model Fragments: `2.3.1`

I cannot seem to make the ember data store pick up a default `JSONSerializer ` for model fragments. I followed the docs and also tried registering `serializer:-fragment`, but that doesn't work either:
[code]

The error I keep getting is:
```The `JSONAPISerializer` is not suitable for model fragments, please use

[2016-05-23 18:05] #202 closed

[2016-05-23 18:05] steffenbrem commented on #202
It was an issue with a model that didn't exist. The error misleaded me, this issue can be ignored.

[2016-06-03 08:43] vedebel opened #203 "TypeError: Converting circular structure to JSON on model.save()"
Got error whent call `model.save()`:

**some-model.js**
[code]

**some-model-settings.js**
[code]
Can any one help?

[2016-06-03 08:57] aars commented on #203
Not sure what's going on, but the `defaultValue: function() {}` is unnecessary. Just use `defaultValue: { clickPrice: '' }` in this case.

Are you sure it's a model-fragments issue? Can you `model.save()` without the `settings` attribute in `some-model.js`?

[2016-06-03 09:00] vedebel commented on #203
Yes, its not necessary. Just twrote so =)

If is set `settings: attr()` everything works fine.

[2016-06-03 14:08] aars commented on #203
I think you'll have to post a bit more info on the error. File. line-number, etc. Is this the *actual* code you're using?

I have a very similar setup that works just fine. Same Ember, Ember Data and Model Fragments versions.  Here's one similar to yours:

[code]

Do you have any customization in your Serializer(s)?

[2016-06-03 14:44] vedebel commented on #203
Well... Thanks for reply. I checked out my applicayionSerializer and have custom serialize method there which brakes code.

[2016-06-03 14:44] #203 closed

[2016-06-15 23:52] djsegal opened #204 "Way to allow fragments to also be models"
Let's say I have a form that has deeply nested forms in it, can I treat each level of form as a fragment in some cases and a model in others?

[2016-06-18 19:54] slindberg commented on #198
Sounds very similar to #173, which I've yet to be able to reproduce. Although using Ember 2.x doesn't appear to resolve it, [my last comment](https://github.com/lytics/ember-data-model-fragments/issues/173#issuecomment-199538062) on that issue applies to this one as well.

[2016-06-18 20:02] knownasilya commented on #198
@slindberg see my comment here https://github.com/emberjs/ember.js/issues/13470#issuecomment-225264726 where @krisselden confirmed that it's a bug with Fragments & ED. Maybe he can help out.

[2016-06-18 20:12] jakesjews commented on #198
@knownasilya I'll try digging into it. It looks like your NotifyError repo reproduces it pretty consistently so hopefully I can track it down.

[2016-06-18 20:31] jakesjews commented on #198
@knownasilya I did a bit of digging and it looks like if I remove use of the PromiseProxy object and directly use the store then everything works ok. I'm not very familiar with PromiseProxy but maybe something is being overridden so that its missing something it needs?

[2016-06-18 21:26] knownasilya commented on #198
I was thinking the same, but am unsure of what could be missing..

[2016-06-18 21:32] slindberg commented on #199
It's been quite a while since that method was written, but IIRC it was to avoid ambiguity between the actual fragment reference changing vs. attributes of the fragment itself changing. So really it was a cop out to avoid complicating the API.

At the time the thought was to create a `changedFragments` method that behaves similarly but only for reference changes (including fragment arrays). I didn'

[2016-06-18 23:58] slindberg commented on #200
Definitely not ideal behavior 🙈

I assume what you're trying to accomplish is to release the fragment from the store so it can be GC'd. Since fragments don't have unique ids, there's no identity map in the store like there is for models, only references from models to fragments. This makes unloading the fragment basically a no-op, so really you can just `.destroy()` the fragment and never look bac

[2016-06-19 00:03] slindberg commented on #204
I'm not sure how to answer this question without more information. On the surface, it sounds like it's an app-domain problem, but maybe I'm misunderstanding. At a high level, if you are only calling methods/using properties that are common to both fragments and records, there's no reason you can't do you what you're describing. The differences between the fragment and model APIs are minimal: basic

[2016-07-07 21:54] danielspaniel opened #207 "Question: How to tell if an arbitrary modelName is a Fragment type"
I am curious is there such a way to tell.
  I know that the parent model can check it's attributes for type 'mf-fragment'

but if I just have a store and a modelName can I somehow tell if that modelName belongs to a fragment?

 store.modelFor(modelName).amIAFragment?  // something like this?

 I could import the Fragment object from 'ember-data-model-fragment' and maybe do a type check,
 but for t

[2016-07-07 22:05] danielspaniel commented on #207
Ok .. nevermind,
 I am using try catch to see if store.createFragment(modelName) succeeds. If that blows up then it's not a fragment.

[2016-07-07 22:05] #207 closed

[2016-07-08 21:24] djsegal commented on #204
I just solved the issue by having a `exampleForm` model and `exampleForm` fragment, where

[2016-07-14 17:28] slindberg commented on #204
Still don't think I fully understand the problem, but if you found a solution, great! 😎

[2016-07-14 17:28] #204 closed

[2016-08-22 00:52] workmanw opened #209 "`StatefulArray` is broken with Ember 2.8."
See my comment here: https://github.com/emberjs/ember.js/pull/13534#issuecomment-241293324

Not sure yet what the best course of action is there. Hopefully we can get a response there and can figure out where to go from there.

Edit: Now an issue open in Ember: https://github.com/emberjs/ember.js/issues/14114.

[2016-08-23 14:25] workmanw commented on #209
Just an update, Martin was kind enough to open a PR to help resolve this issue for Ember 2.8: https://github.com/emberjs/ember.js/pull/14117

[2016-08-23 23:08] jakesjews commented on #209
@workmanw glad to hear it! Should we close this issue or will there be some changes we will need to make later?

[2016-08-24 00:29] workmanw commented on #209
@jakesjews I'd prefer to leave this issue open until this that PR is merged and ember cuts a new beta ... just incase someone actually tries the ember-beta and runs into this issue.

In terms of making changes, I do think we'll have to make some changes in the near future (post ember 2.8 LTS). But I'll keep a watchful eye on it!

[2016-08-24 00:32] jakesjews commented on #209
@workmanw sounds good. Thanks for looking into the issue.

[2016-08-24 08:03] xamoom-pali opened #211 "Integration test: Uncaught TypeError: store.createFragment is not a function"
I am trying to write an integration test for a component that manipulates a model called `spot`.
Here is the spot model:

[code]

I am trying to create a spot record in such an integration test:

[code]

`store.createRecord()` fails due to:
_Uncaught TypeError: store.createFragment is not a function_

This is the place which calls `store.createFragment()`:

[code]

Maybe a screenshot helps:
![crea

[2016-08-31 12:29] workmanw commented on #209
A new beta version was just released yesterday. Tested with `ember try:each` and can confirm all tests pass on all supported versions of ember.

[2016-08-31 12:30] #209 closed

[2016-08-31 12:56] workmanw commented on #211
@xamoom-pali Sorry for the delayed response. I just saw this issue (I missed the email :( ). I suspect what's happening is that because it's an integration test (not an acceptance test) that our initializers were not fired. The result of that is we did not `reopen` the store class and add our `createFragment`. I'm guessing you've figured out most of this already.

So what to do about it? In my pro

[2016-08-31 13:35] workmanw commented on #211
Yeap, I'm not crazy 😜 . Ember-test-helpers actually invoke ember-data's `setupContainer` initializer manually. See: [ember-test-helpers/build-registry.js](https://github.com/switchfly/ember-test-helpers/blob/master/lib/ember-test-helpers/build-registry.js#L111-L112).

So unfortunately that means there isn't some alternative way for ember-data-model-fragments to make this work for you out of the bo

[2016-09-12 17:18] danielspaniel commented on #98
For model with attributes that are fragmentArray's

doing:
[code]
will copy those fragment arrays without the issue of setting the owner and whatnot

[2016-10-06 15:12] basz opened #213 "Polymorphic fragment not working"
Hi I'm trying to work with a polymorphic fragment. I followed the instruction from the read me as close as possible but I can figure it out.

I would appreciate very much it it your could have a look at this demo repo: https://github.com/basz/ember-data-fragment-test

The Ember inspector did show four animals, but no loins or elephants at some point, now it simply stays 0. The template does render

[2016-10-06 19:34] basz commented on #213
I figured out why this was not working.... :-)

Turns out that unless you defined the typeKey as field on the parent class it does not work...

I'll create a PR to update the docs.

[2016-10-07 13:38] jakesjews commented on #213
Closing since this was resolved by #214

[2016-10-07 13:38] #213 closed

[2016-10-15 08:04] emoryy opened #215 "Error when there is an observer in a fragment"
[code]
The above error happens if there is any observer in any fragments. Simply the existence of an observer triggers it, regardless of observed properties, or anything else.

versions:
Ember: 2.9.0-beta.5
Ember Data: 2.9.0-beta.4
Model Fragments: 2.3.2

[2016-10-19 02:20] jakesjews commented on #215
https://github.com/lytics/ember-data-model-fragments/pull/212 should resolve this. @emoryy can you try out the latest master to see if the issue is fixed.

[2016-10-20 15:16] emoryy commented on #215
Yes, the issue seems to be fixed. Thanks!

[2016-10-20 15:17] jakesjews commented on #215
Glad to hear it!

[2016-10-20 15:17] #215 closed

[2016-10-28 14:09] workmanw commented on #211
@xamoom-pali I'm going to close this issue. If you have any further questions or concerns let me know.

[2016-11-02 21:33] benoror opened #217 "Doesn't work with Ember Twiddle"
When using in Ember Twiddle the following error is shown:

Example: https://ember-twiddle.com/3fcebcb56194127c97cb64dde1d420ad?openFiles=models.foo.js%2C

[2016-11-02 22:03] jakesjews commented on #217
This could be a tricky one. I'm betting that ember-twiddle doesn't allow importing from private apis or something along those lines. I'll try to take a deeper look when I get a chance.

[2016-11-03 06:30] gauravjain028 opened #218 "How to define fragment dynamically?"
I want to use params as dynamic fragment, so i have created it as computed property. But it is not working. I have used like

[code]

But this give me error:

[2016-11-09 15:15] jakubikan opened #219 "becomeDirty fires before root.loading state finished loading"
[code]

Any ideas what could be wrong?

[2016-11-10 01:40] DingoEatingFuzz commented on #190
While upgrading to Ember 2.2 I came across this in our app as well. I was able to reduce it in a demo app here: https://github.com/DingoEatingFuzz/mf-double-alias-bug

There is a model that has a fragment relationship, and that fragment has a fragment array relationship.

Then there is a component that depends on a property, which is an alias to the fragment array of an alias, and that second alia

[2016-11-10 01:42] jakesjews commented on #190
Cool thanks for the reproduction! I'll give it a look over when I get some free time

[2016-11-10 01:42] jakesjews commented on #219
Hmm not too sure. Would it be possible to reproduce it in a small ember app?

[2016-11-10 08:30] jakubikan commented on #219
Well it does not happen, when i change routes (thru a link), but when the page gets refreshed.

[2016-11-10 09:08] jakubikan commented on #219
Okay found the cause of the problem. Apparently we are using a set in the init hook of the model, which then becomes dirty. ( but the route is still loading)

[2016-11-10 11:35] ldong commented on #86
@slindberg I'm facing the same issue. The reason why I cannot use `EmbeddedRecordsMixin` is that, the parent does not observer children and grandchildren, Fragment is providing `rollbackAttributes` from top to bottom.

If for the `id`'s sake, is there a way to tell Ember data to observer children when use `EmbeddedRecordsMixin`? Thank you.

[2016-11-10 15:25] workmanw commented on #218
@gauravjain028 I'm sorry, but I don't think this is something we can support in this manner. There is a lot of additional setup that goes on behind the scenes to make this app work, not unlike `belongsTo` and `hasMany`. I think you might try a polymorphic solution: https://github.com/lytics/ember-data-model-fragments#polymorphism

[2016-11-10 18:51] workmanw commented on #219
Yeap. I've made that mistake in the past, even when not using fragments (but just regular models). I'm not sure what you're setting, but I've found a good solution normally is to use a computed property instead of using `init` to initialize a value.

[2016-11-11 01:51] DingoEatingFuzz opened #220 "Request to patch 2.1 with the toStringExtension bug fix in 2.3"
On v2.1.2 I ran into the `toStringExtension` bug that @jakesjews and @cesarizu have both addressed [here](https://github.com/lytics/ember-data-model-fragments/blob/master/addon/fragment.js#L129-L135).

Since the upgrade from Ember and ED 2.2 to 2.3 is non-trivial, I figured it would be better to publish the fix for this bug rather than leapfrogging releases myself and expecting that out of other M

[2016-11-11 01:55] jakesjews commented on #220
I'm ok with this. @workmanw what do you think?

[2016-11-11 02:19] workmanw commented on #220
@DingoEatingFuzz @jakesjews Yeap, I'm definitely okay with this. I think the easiest solution here is for me to just suck your commit into the repo and tag it up from there. Since we don't have a 2.1.x branch. Thoughts? Objections?

[2016-11-11 02:40] DingoEatingFuzz commented on #220
Sounds good to me 👍

[2016-11-11 03:37] cesarizu commented on #220
:+1:

[2016-11-11 12:31] workmanw commented on #220
@DingoEatingFuzz Oh, I bet my response sounded silly. I didn't realize you were a lytics member and that branch was already in this repo (I thought it was a diff in your repo). D'oh, my mistake!

So yea, I went ahead and added a "release commit" to the end of your commits and tagged it up [`v2.1.3`](https://github.com/lytics/ember-data-model-fragments/tree/v2.1.3).

Sorry for the confusion. I didn

[2016-11-11 14:52] jakesjews commented on #220
@workmanw not quite yet I still need to get in touch with @slindberg about getting access to it. I've been pretty crushed at work lately so I haven't had time to do it yet although I would like to sooner rather than later to get a new release out.

[2016-11-11 19:09] DingoEatingFuzz commented on #220
I'm actually a contributor for the project on npm. I can do the `npm release`.

[2016-11-11 19:32] DingoEatingFuzz commented on #220
Okay. 2.1.3 is now published to npm. @workmanw, I force pushed a new version of the v2.1.3 tag that also bumps the patch in `bower.json`.

Thanks everyone.

[2016-11-11 19:32] #220 closed

[2016-11-11 19:41] workmanw commented on #220
@DingoEatingFuzz Excellent! Thank you for that. I had forgotten that `< 2.3.x` used bower.json.

[2016-11-11 23:59] bgerami commented on #218
this is what i'm doing
[code]
However, my needs are different. My models must be generated lazily from a schema we grab from an XHR payload. They also can be backwards compatible.
I'm also not entirely sure what issues might come from this method. Thoughts?

[2016-11-15 09:15] MartinMalinda opened #221 "Fragment stays dirty after parent, which is embedded record, is saved"
I have a following data structure:

Grid Item:
[code]

Layout model mas many gridItems:
[code]

Layout is embedded within project model:
[code]

The issue is, that when I do `project.save()`, grid items stay dirty. (`hasDirtyAttributes` keep being true). Maybe I am mixing two concepts here and I should use embedded records for everything or fragments for everything. But server expects IDs for layo

[2016-11-15 09:20] MartinMalinda commented on #221
Will try to set up a test repo later when I find some extra time.

[2016-11-17 22:13] ldong commented on #80
Whoever comes later wondering how to test `serializer` that involves fragments in their models.

You may want to put this in your `serializer test`

[code]

[2016-11-24 02:07] benoror opened #222 "How to check if fragment isEmpty (as in EmptyObject)"
If have the following model & fragment:

model.js
[code]

person.js
[code]

When I test for emptiness on an *instance of the fragment* with `myPerson.get('isEmpty')` I always get `false`.

I also tried with a `defaultValue` like this:

[code]

no success.... any ideas?

[2016-11-24 02:11] benoror commented on #222
Searching throughout the source code I found that the `isEmpty` state is initially set to `false`, and never changed afterwards, why?

See: https://github.com/lytics/ember-data-model-fragments/blob/c02e1695bc80bf35d52f8f8a19360018bdbf28d1/addon/states.js#L49

[2016-11-24 02:13] benoror commented on #222
Inspecting the fragment object I see that the `data` key is an instance of `EmptyObject`, could that be the cause?

<img width="263" alt="screen shot 2016-11-23 at 20 03 07" src="https://cloud.githubusercontent.com/assets/119117/20584438/1a6d81ea-b1b8-11e6-9ef3-66b28df8ee87.png">

[2016-11-24 16:16] benoror commented on #222
I ended up overriding the `isEmpty` computed property from my `ModelFragment`:

[code]

Don't know if this is the "best" way to do it, feel free to open if needed

[2016-11-24 16:16] #222 closed

[2016-11-29 06:51] benoror opened #223 "Computed properties won't update on changes to model fragements"
I have the following models:

[code]

[code]

If I have an instance of the model (let's say passed into a component), and I have a computed property which observes that model, cached result of the computed property won't be updated when the fragment data is changed:

[code]

[2016-11-29 06:54] benoror commented on #223
I just found that JSONAPI is not fully supported:

https://github.com/lytics/ember-data-model-fragments/blob/master/README.md#serializing

Could that be the root of the issue?

[2016-11-29 19:43] jakesjews commented on #223
Could you push up a repository with a reproduction of the issue so I can debug it?

[2016-12-01 00:35] workmanw opened #224 ""Maximum call stack size exceeded." w/ ember && ember-data 2.11 beta"
There are quite a few test failures with ember and ember-data beta. They all seem to be max call stack issues. I'll investigate in the next few weeks as I have time, but feel free to weigh in if anyone has thoughts.

[code]

[2016-12-01 00:42] DingoEatingFuzz commented on #224
[code]

Looks like a really tight cycle at the very least.

[2016-12-01 18:00] ldong commented on #211
I've similar issue. When I test `serializer` for a model which is composed with `MF.fragment`s, I run into `store` is `null` at testing method `normalizeUpdateRecordResponse`.

[code]

Please take a look thanks.

<img width="831" alt="screen shot 2016-12-01 at 9 58 11 am" src="https://cloud.githubusercontent.com/assets/5491695/20805700/be847956-b7ac-11e6-9d75-cb74e9c8128d.png">

<img width="823" a

[2016-12-01 20:04] workmanw commented on #211
@ldong What kind of tests are you doing? It looks like integration, is that right? Can you please try manually invoking the initializer in your test setup as I mentioned in a prior comment.

[code]

If that doesn't work, can you provide me with a stack trace.

[2016-12-05 23:02] ffaubry commented on #200
@slindberg 3 `Ember.assert` since it leads to leaking objects.

[2016-12-11 22:38] workmanw commented on #224
So this guy is definitely the culprit: https://github.com/emberjs/data/commit/36bc08ab942d0a4113178f1c131c9e7024f0c995 . I've got some cycles to spend right now, I'll get this fixed up. I believe @runspired also has coming changes for ember-data, I'll see if I can investigate them and figure out what the impact is for this addon. Stay tuned.

[2016-12-11 23:13] runspired commented on #224
@workmanw still supports, but the fallback logic moved into the cache (which already was a thing)

[2016-12-11 23:32] workmanw commented on #224
@runspired the problem is that previously this addon could provide it's own fallback because `ContainerInstanceCache.get` would accept that as a third argument. Unfortunately that is no longer the case. As you mentioned, the `fallback` handling now completely resides inside the cache. And because it's an ES6 class, AFAIK, we are unable to monkey patch this.

Do you have any thoughts on a modificat

[2016-12-11 23:49] runspired commented on #224
I'd originally left the fallback logic outside of the cache but @igorT and I didn't like that this made the cache and the store need to be bound tightly together.  Can you point me to what this fallback is / does?

[2016-12-11 23:53] runspired commented on #224
@workmanw looking through this library's code, I dont see anywhere you make calls into adapterFor.

[2016-12-11 23:54] workmanw commented on #224
:( I'm sorry I said adapter ... I meant to say serializer.  See here: https://github.com/lytics/ember-data-model-fragments/blob/master/addon/ext.js#L96-L102

You can see in that case the store is being monkey patched to enable Fragments to have their own default serializer. The design is that just as the store proper has it's own "application serializer" for models, fragments too can have a defaul

[2016-12-11 23:58] runspired commented on #224
It is likely that you can monkey patch this method:

https://github.com/emberjs/data/blob/36bc08ab942d0a4113178f1c131c9e7024f0c995/addon/-private/system/store/container-instance-cache.js#L64-L75

However I'm in favor of there being a public API for the fallbacks. If you'd open up an issue and are willing to work on an RFC I think this is something we can add and get in before beta goes to stable.

[2016-12-12 00:12] workmanw commented on #224
@runspired I think monkey patching `_fallbacksFor` could be problematic because you don't really know what type if the `preferredKey` is for a fragment or standard model at that point.

It sounds like you're suggesting a public API for all of ember-data to provide a public mechanism for fallback types. Is that right? Or were you suggesting a public mechanism just for the `ContainerInstanceCache` i

[2016-12-12 01:41] runspired commented on #224
@workmanw I think the existing monkey patch you have could be ported fairly seamlessly.

[code]

[2016-12-12 01:41] runspired commented on #224
This is correct.

[2016-12-12 14:52] workmanw commented on #224
@runspired D'oh! That would totally work. I just got it in my head it needed to be an argument. Thanks a lot for the back and forth here.

Honestly, I have to agree as well. I think it would be hard to explain the need for this outside the context of fragments or some other similar addon.

In the year or so that I've been helping out with this addon I've tried to come up with ways to simplify the

[2016-12-18 03:29] jamesdixon opened #229 "ember 2.11 - cannot pass class to store method"
Hi,

I tried running Ember Data 2.11 Canary alongside Ember 2.9 and Ember Data Model Fragments 2.3.2 and received the following error:

[code]

I'm still trying to track down where it occurred specifically, but wanted to get this posted. I'll report back with additional details when/if I find them.

Thanks!

[2016-12-18 14:19] workmanw commented on #229
@jamesdixon Thanks! Let us know what you find. A few notes / FYIs.

Officially speaking, this addon doesn't support mixing `ember` and `ember-data` versions. If there is an issue we can easily fix, we'll definitely do so. In the past we've run into a few very complicated issues that stem from using older ember with newer ember-data.

There is a known issue with Ember Data 2.11 beta that causes a s

[2016-12-18 14:32] workmanw commented on #218
@bgerami that's an interesting approach. I'd say if it works for you go for it. I will caution you that you may have to tweak this solution over time. Using the runtime [observer] to modify the declarative definition seems like it could be a little brittle, say if ember-data chooses to restructure their internals. But a clever solution nonetheless.

@gauravjain028 I'm going to close this issue bec

[2016-12-18 14:32] #218 closed

[2016-12-18 14:44] workmanw commented on #219
@jakubikan It sounds like you've found the issue, so I'm going to close this. One protip I'll share, in our application we have a lot of async realtime and peer to peer communications. We often have the need of setting a value, without actually dirtying the record. We have a base model class in our app that all models extend from. That base model class has a bunch of helpers, including the followi

[2016-12-18 14:44] #219 closed

[2016-12-18 14:48] workmanw commented on #221
Hey @MartinMalinda . Any luck on this? Were you able to create a reproduction of this?

[2016-12-18 14:54] MartinMalinda commented on #221
@workmanw I think this issue can be closed. It is most likely not issue with model-fragments but with ember-data. The app I was maintaining back then had issues with duplicate records (emberjs/data#1829). It had some workaround solution that cleared the duplicate but that also probably created the issues with dirtiness.

[2016-12-18 15:06] workmanw commented on #221
@MartinMalinda Awesome! Thanks for the update. I will close it.

[2016-12-18 15:06] #221 closed

[2016-12-19 10:36] douglascofferi commented on #223
+1

[2016-12-19 20:09] catataw commented on #223
+1

[2016-12-20 03:05] jakesjews commented on #223
Do either of you have a repo reproducing the issue so I could debug it? I haven't encountered the same behavior yet.

[2016-12-20 15:39] benoror commented on #223
@jakesjews sorry for the delay, I've been pretty busy lately 🙈 I will try to reproduce it in a separate repo asap, maybe this week. Cheers!

[2016-12-21 11:07] douglascofferi commented on #223
@jakesjews yes bro, i have the following models:

`// app/models/justice.js
import { fragment, fragmentArray, array } from 'model-fragments/attributes';
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import ValidationJustice from 'adv2c/validations/justice';

export default Model.extend(ValidationJustice, {
  judgment: fragment('justice/judgment'),
  // other attrs
});`

[2016-12-21 11:10] douglascofferi commented on #223
@jakesjews yes bro, i have the following models:

[code]
[code]
Thank you man!

[2016-12-21 11:11] douglascofferi commented on #223
@jakesjews yes bro, i have the following models:

// app/models/justice.js
import { fragment, fragmentArray, array } from 'model-fragments/attributes';
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import ValidationJustice from 'adv2c/validations/justice';

export default Model.extend(ValidationJustice, {
  judgment: fragment('justice/judgment'),
  // other attrs
});
//

[2016-12-21 11:14] douglascofferi commented on #223
@jakesjews yes bro, i have the following models:

[code]

[code]
Thank you man!

[2016-12-21 14:12] jakesjews commented on #223
@douglascofferi do you have an example of how the computed property is being consumed?

[2016-12-21 17:00] jreading commented on #220
Is the version number correct in the NS register?

[2016-12-22 10:54] douglascofferi commented on #223
@jakesjews In that case my computed property works, however I have a need to create an Ember.on ('init', Ember.observer inside a fragment and this does not work. Any special reason? Thank you for your help.

[2016-12-22 14:44] jakesjews commented on #223
it looks like you are hitting an exception resolved by https://github.com/lytics/ember-data-model-fragments/commit/debe667d72f560b34bda32aff90600e914c72b53. Unfortunately we still have to coordinate to get NPM publish permissions but for the time being installing the 2.3.3 tag from git should fix the issue.

[2016-12-28 11:50] jakubikan commented on #219
cool, thanks for the help, very appreciated. It was a lot to figure out when you start a new project. :)

[2016-12-30 17:07] benoror commented on #223
@douglascofferi @jakesjews interesting... although my initial question was more about the possibility of **observing the whole fragment** for changes.

In @douglascofferi example that would be observing `judgment` for internal changes. Is it possible?

[2016-12-30 19:06] workmanw commented on #223
@benoror When you say _"observing the whole fragment for internal changes"_, what exactly do you mean? When the fragment becomes dirty/clean? When values are updated? When new changes are pushed in from the server? It sounds like all of the above?

I typically try to observe individual properties that I'm dependant on, rather than trying create an observer for every change that could be made.

May

[2016-12-30 19:09] workmanw opened #231 "Release ember 2.3.3 to npm."
I'm going to give this a go today. CC: @jakesjews.

[2016-12-30 19:11] workmanw commented on #229
@jamesdixon Did you ever get anything figured out here?

[2016-12-30 19:12] jakesjews commented on #231
Sounds good @workmanw

[2017-01-01 02:08] benoror commented on #223
Hi @workmanw, thanks for asking. I meat "When values are updated". My use case is moreor less like this:

I have several objects (fragments) with a bunch (losts) of different properties (keys). Those are rendered dynamically using [ember-formly](https://github.com/benoror/ember-formly).

It would be overkill & tresome to create computed properties/observers for every propertie, thus I would like t

[2017-01-01 22:58] jamesdixon commented on #229
@workmanw I haven't had a chance yet as I've been traveling. I'll give it a go again and do some investigation as soon asi have some time. Thanks!

[2017-01-01 23:41] jakesjews commented on #223
@benoror you should be able to use a combination of the [fields property](http://emberjs.com/api/data/classes/DS.Model.html#property_fields) and [dynamically defined properties](https://dockyard.com/blog/2015/10/23/ember-best-practices-dynamic-dependent-keys-for-computed-properties) as a solution

[2017-01-02 00:53] workmanw commented on #229
@jamesdixon Sounds good! I'll leave this open for a while. No hurry.

[2017-01-04 06:37] benoror commented on #223
@jakesjews thanks for the info! The second article is indeed interesting, although more inclined towards collections (arrays).

For plain objects/fragments I was thinking about using raw observers:

[code]

But since it's an anti-pattern it can potentially lead to unexpected behaviours. Thoughts?

[2017-01-05 00:32] workmanw opened #232 "Ember-Data 2.12 compat"
We should track this and follow suit:

- [x] Investigate: ember-data compat with factoryFor ([#4737](https://github.com/emberjs/data/issues/4737)) -- Fixed by #240.
- [x] Investigate: Deprecation "cannot pass class to store method" (#229) -- Fixed by #241.
- [x] Create point release.

[2017-01-05 00:46] workmanw commented on #231
BTW I was able to easily publish this new version with `npm publish`. See: https://www.npmjs.com/package/ember-data-model-fragments

CC: @DingoEatingFuzz Thanks again.

[2017-01-05 00:46] #231 closed

[2017-01-08 00:48] jamesdixon commented on #229
@workmanw thanks for your patience. Here's what I discovered:

[This line](https://github.com/lytics/ember-data-model-fragments/blob/master/addon/ext.js#L51) appears to be the offender. In my case, the string "address" is being passed to `createFragment` as `modelName`. The call to `InternalModel` on the line referenced above completes successfully, but when I look at the object, the `modelName` p

[2017-01-08 03:17] jamesdixon commented on #229
@workmanw just an FYI that I updated my Ember application to 2.10, but not moving to 2.11-beta just yet.

[2017-01-09 01:53] workmanw commented on #229
@jamesdixon -- Thanks a lot! Let me see what I can dig up. I know some of the ember-data internals have been iterated and tweaked lately. Just to be clear, you're seeing this issue when calling `createFragment` w/ `ember 2.11`, `ember-data 2.11` and `ember-data-model-fragments 2.3.x`?

[2017-01-09 04:49] jamesdixon commented on #229
@workmanw I've tried a couple of different configs:

Ember 2.10 w/ ED Canary
Ember 2.11-beta 1 w/ ED 2.11 beta
Ember 2.10 w/ ED 2.11 beta

Needless to say, I've run into an issue with each of those configs.

I'm running ember-data-model-fragments 2.3.3.

Do you have a configuration that is working as expected for you?

[2017-01-10 01:08] workmanw commented on #229
@jamesdixon I'm seeing this deprecation now with our test suite against `ember-data-2.12.0-beta.1`.

However when I use PR #227 with ember/ember-data-2.11 it works as expected. I'll be cutting `ember-data-model-fragments-2.11.0` in the very near future that should work with ember/ember-data-2.11. After that, I'll start investigating this deprecation for our ember-data-beta (2.12) support.

[2017-01-10 01:15] jamesdixon commented on #229
@workmanw thanks for the update! I'll give things a try w/ 2.11

[2017-01-10 19:26] jamesdixon commented on #229
@workmanw just wanted to give you a quick update: with ED 2.11 being officially released, I gave it a shot using Ember 2.10, Ember Data 2.11 and the #227 as you suggested above and my app is now running flawlessly.

[2017-01-12 18:41] lbblock2 opened #233 "Remove fragment from fragment array?"
HI, I've been having issues removing fragments from a fragment array using Ember Data 2.7 and Ember Data Model Fragments 2.3.2.

If you have a structure as such:
[code]

and we want to remove one of the addresses, how does one do that? Is it necessary to remove the address specifically from the `person.addresses` since the `belongsTo` and `hasMany` are not fully implemented? Thanks!

[2017-01-12 18:56] jakesjews commented on #233
You will need to use removeObject on the array

[2017-01-12 19:10] lbblock2 commented on #233
Thank you. I was using `removeFragment(this)` but neither works. I overwrote `destroyRecord` to get the owner (i.e. `owner = address.get('_internalModel._owner')`) and then `owner.get('addresses').removeFragment(address)`.

This is all called when I call `address.destroyRecord()`. I replaced `removeFragment` with `removeObject` based on the comment, but the behavior is identical.

[2017-01-12 19:11] jakesjews commented on #233
Could you put up a git repo demonstrating the issue? Then I can debug it

[2017-01-12 20:44] lbblock2 commented on #233
Thanks; I resolved the issue. It was related to a deeper level of code.

[2017-01-12 20:44] #233 closed

[2017-01-12 21:29] tomoguisuru opened #234 "Ember-Data 2.11.0 Infinit Ember.deprecate Warnings When Using this.store.pushPayload"
You probably are already aware of this issue at this point but, if you try to push a response into the store using `this.store.pushPayload(results)` and any of the models in the payload have fragments, you get a nasty error (see attached) repeated until your browser crashes.

Tested with a model that had a fragment that was just boolean properties, nothing fancy, and removing the fragment property

[2017-01-12 21:31] jakesjews commented on #234
We have a fix at https://github.com/lytics/ember-data-model-fragments/pull/227 we're just waiting on Ember 2.11 to release so it can be a clean upgrade

[2017-01-13 14:51] jakesjews commented on #234
@tomoguisuru I'm going to close this as a duplicate of https://github.com/lytics/ember-data-model-fragments/issues/224

[2017-01-13 14:51] #234 closed

[2017-01-18 17:12] GeekSMN commented on #200
We are experiencing some hardship with this and wonder if anything has been or could be done about it. We are using model fragments, and our data updates frequently. We unload the model data from the store for the model that the fragments are included in to keep the memory footprint down. However, the model fragments as shown in the Ember inspector don’t appear to unload with their parent so appea

[2017-01-19 16:07] workmanw commented on #229
v2.11.0 has been released. I'm going to close this. Thanks a lot of your help.

[2017-01-19 16:08] #229 closed

[2017-01-19 16:08] #224 closed

[2017-01-23 01:51] jakesjews commented on #223
@benoror I think you could also use defineProperty inside the fragment itself to create a single computed property with something like
[code]

[2017-01-23 21:53] jamesdixon opened #238 "default value on fragmentArray not working"
Hello,

I'm running into an issue where an attribute on my model that is set to a `fragmentArray` is always set to `null` by default rather than an empty array (default according to docs). I've tried setting in multiple ways, with no luck:

[code]

[code]

Here's the `rate` fragment I'm referencing:

[code]

I'm running ED 2.11 and EDMF 2.11.

Thanks in advance!

[2017-01-24 16:02] workmanw commented on #232
I'll be taking a look into these issues in the next week or so. For reference, we should be able to follow the pattern @cibernox used here: https://github.com/jamesarosen/ember-i18n/pull/431 .

[2017-01-25 08:31] ctjhoa opened #242 "Ember-data version compatibility"
Hi,
I run through compatibility issue with the latest version of ember data (2.11.0) and I would like to know if there no other solution than the compatibility table existing in the `README.md`.

I know that some other ember-addon like [ember-modal-dialog](https://github.com/yapplabs/ember-modal-dialog) handle ember compatibility in their `package.json`.

Is there no way to write something similar

[2017-01-26 12:49] workmanw commented on #242
To be honest, I'm not really much of an NPM expert. I think one option would be if this addon moved the ember-data dependency from `devDependencies` to `dependencies` and that would force conflict resolution in during `npm install`. But it doesn't seem like very many, if any, ember addons do this. It seems they keep `ember` in the `devDependencies` and I'm not sure if there is a specific reason fo

[2017-01-26 22:02] kmiyashiro commented on #211
@workmanw I tried your workaround but also could not get it to work. Manually looking up the store using `this.container.lookup('service:store')` and then calling `createFragment` works even without manually initializing the fragmentTransformInitializer.

I'm guessing `this.store` does not point to the actual store somehow?

[2017-01-26 22:31] workmanw commented on #211
So I was wondering why it's unique problem to ember-data-model-fragments. I think maybe we could actually do without the initializer if we just added those files into the app directory. Initializer dated back to before we had convert this to an ember CLI add-on.

I'm going to reopen it and see what can be done about this.

[2017-01-28 13:54] workmanw commented on #242
Actually I saw this PR come through. https://github.com/jamesarosen/ember-i18n/pull/433/files It seems very relevant here. I'll investigate this in the near future when I have time.

[2017-01-31 17:40] workmanw opened #245 "Bug: "module name" should match the "package name""
The module name is `model-fragments`, while the package name is `ember-data-model-fragments`. This seems to cause a problem with ember-cli, it's unable to automatically detect `isDevelopingAddon` which resulted in this addon never being linted while the tests were running :(.

![image](https://cloud.githubusercontent.com/assets/825487/22476889/f2adcb08-e7b1-11e6-8377-0ecfe72c8593.png)

I spoke wit

[2017-02-02 03:32] #245 closed

[2017-02-02 03:33] workmanw commented on #245
Closed via #246

[2017-02-08 20:30] rsiemens commented on #200
Currently experiencing same issue as @GeekSMN.

[2017-02-08 20:37] rsiemens commented on #200
Looking into this further it seems to be something with Ember inspector that holds onto them.

With Ember Inspector:
[code]

Without Ember Inspector (incognito window):
[code]

[2017-02-19 21:20] workmanw commented on #232
Alright, I think it's high time I shipped this point release. `ember-data-2.12.0-beta.3` has settled. I'm going to release `2.11.1` to be compatible.

[2017-02-20 01:34] #232 closed

[2017-02-21 08:31] FredUK opened #249 "Polymorphic not working?"
Hi, I've been trying to get polymorphic records to work for the past day with no success.

I believe I have followed the instructions correctly and I have searched the open and closed issues  but still no go. They work fine to an extent. However when instantiating the object it always gives me the parent object properties only.

I have a section which has an array of custom fields. Those custom fi

[2017-02-21 10:12] FredUK commented on #249
I might have figured out why this is happening, The serializer for custom-field is being called:
[code]

The type is always `myapp@model:custom-field` even when the typeKey value is 'custom-field-textbox'. Not sure if that's intended. I also noticed that `custom-field-textbox` serializer is never called:

[code]

So what I had to do was in the custom-field serializer check for the fieldTypeName an

[2017-02-22 20:37] JackCA opened #250 "fragment ready/initialized callback"
hi folks,

I have been trying to figure out a way to do some initialization after a fragment has been created.

Here is pseudocode:

[code]

The main issue is that in `init`, I don't have access to either the directly passed argument `foo` or the implicit `owner`.

I also thought that may not be the right callback, and attempted to use ember-data's `ready` callback but it never gets called here.

[2017-02-23 01:16] JackCA commented on #250
and now I'm seeing that `owner` is not a public attribute. Is this correct?

[2017-02-23 01:39] workmanw commented on #250
I suspect you're referring to Ember's `owner` they use for instance management and dependency injection? If so, you should use `Ember.getOwner(this)` to look it up.

With regards to the properties not being available on `init`. Are you sure it works this way in ember-data? I thought that there internals did not make this possible.

With regards to `ready` ... To be honest I didn't even know `ready

[2017-02-23 01:46] JackCA commented on #250
@workmanw sorry, I don't know why I assumed there would be an `owner` property on a fragment.

What I'm referring to is being able to access the fragment's "owner" or "parent". The only way I see to do this now is via `_internalModel._owner`. Is there a better way to access that? Sorry for the confusion.

In regards to init: I think you are right in that I just tried to do what I suggested in Embe

[2017-02-23 01:59] jakesjews commented on #250
@JackCA you can access the fragment owner with https://github.com/lytics/ember-data-model-fragments/blob/158a12f5d7adb24be1a22310402b58b10e584349/addon/attributes.js#L330

[2017-02-23 02:03] JackCA commented on #250
@jakesjews awesome, thank you. Should I make a PR to add that to the top-level README?

That solves the access to owner question I have, but still open to discussing the initialization callback

[2017-02-23 02:04] jakesjews commented on #250
A PR would be cool. I'll take a look into the initialization problem when I get some more free time

[2017-03-01 15:21] lindyhopchris opened #251 "Breaking change ED 2.11.1 to 2.11.2"
Really useful package!

So I've got an app that was working fine with Model Fragments `2.11.1` and Ember Data `2.11.1`. However when I upgrade ED to `2.11.2` or `2.11.3` I get an error.

The error I'm hitting is this assertion:
https://github.com/lytics/ember-data-model-fragments/blob/master/addon/transforms/fragment.js#L59

With ED `2.11.1` the serializer for the fragment must be a `JSONSerialize

[2017-03-01 16:00] workmanw commented on #251
Hmm. I can't see anything obvious that is wrong with your code. Also looking at the ember-data changelog I don't see anything that sticks out. I'll see if I can make some time today or tomorrow to investigate.

[2017-03-01 16:15] workmanw commented on #251
Yeap, it seems out tests are broken.

[code]

[2017-03-01 16:34] lindyhopchris commented on #251
Yep, that looks like the bug. Thanks for looking into it!

[2017-03-01 16:53] workmanw commented on #251
@lindyhopchris It turns out that I'm inadvertently the culprit here. I filled: https://github.com/emberjs/data/pull/4810 to fix another injection issue. And it was fixed by: https://github.com/emberjs/data/pull/4810 (and backported to release). Unfortuantely, that breaks our override logic here: [addon/ext.js#L371](https://github.com/lytics/ember-data-model-fragments/blob/master/addon/ext.js#L371)

[2017-03-01 17:08] lindyhopchris commented on #251
No problem! I've tied my app to 2.11.1 so this isn't causing me major problems at the moment, but glad to hear you're on the case.

[2017-03-01 20:00] #251 closed

[2017-03-01 20:00] workmanw commented on #251
@lindyhopchris Would you be able to confirm that this is fixed on master? I'd appreciate it.

[2017-03-01 21:00] jakesjews commented on #251
@workmanw I just tried upgrading to ember-data 2.11.3 and am running into this bug too so i can check if this fixes it.

[2017-03-01 21:12] jakesjews commented on #251
@workmanw I can confirm this issue is fixed on master

[2017-03-01 21:21] workmanw commented on #251
@jakesjews Excellent. Thank you! Obviously we need to have another point release. There are two quick things I want to look into first. https://github.com/ember-cli/ember-twiddle/issues/531 and I saw a deprecation warnings when I was running the test locally. I want to be sure it would create deprecation warnings for users. Should be ready to go by tomorrow.

[2017-03-02 00:39] workmanw commented on #217
@benoror I opened [ember-cli/ember-twiddle#531](https://github.com/ember-cli/ember-twiddle/issues/531) and it does seem like this is an issue with ember-twiddle. I'm going to leave this open for a period of time until we know which way it goes. But I actually have a backup plan to make this work.

[2017-03-02 01:45] workmanw opened #253 "Upgrade to QUnit 2.0 (ember-cli-qunit-3.x)"
There are a number of reasons that we should do this. Primarily because QUnit 2.0 has the latest and greatest. Also because `ember-test-helpers` uses `lookupFactory` and that triggers a deprecation warning during the tests (not for actual runtime).

[code]

So this deprecation comes from `ember-test-helpers` which is required by `ember-qunit` which is required by `ember-cli-qunit` :). To remove th

[2017-03-02 11:05] lindyhopchris commented on #251
@workmanw this is also fixed for me using `master`. Thanks!

[2017-03-02 18:31] #253 closed

[2017-03-09 19:11] jamesdixon opened #256 "Assertion Failed: The `JSONAPISerializer` is not suitable for model fragments, please use `JSONSerializer`"
Hi,

I know this has already been brought up in #140, but it's been surfacing for me ever since switching to 2.11. It seems to happen periodically and I'm not sure why.

Thanks in advance!

[2017-03-09 19:12] jamesdixon commented on #256
Note: I'm running Ember/Ember Data 2.11.3.

[2017-03-09 19:23] workmanw commented on #256
Are you using ember-data-model-fragments v2.11.2 ? If so, can you provide more details to reproduce?

[2017-03-14 21:45] vyobukhov opened #257 "Ember Data 2.12 Passing classes to store methods has been removed"
Hi!
I've accidentally updated my ember-data to 2.12 and got this message:
"Assertion Failed: Passing classes to store methods has been removed. Please pass a dasherized string instead of client@model:collection/section:"

My model:
[code]

P.S. I know 2.12 was released just two days ago, so I rolled back to 2.11 and everything is fine now, but hope my issue will help to fix this.

[2017-03-14 21:55] jakesjews commented on #257
@vyobukhov what version of model-fragments are you using? I think this was resolved in a recent update.

[2017-03-14 22:19] vyobukhov commented on #257
@jakesjews Thx, 2.11.2 works fine. I was using 2.11.0.

[2017-03-14 22:19] #257 closed

[2017-03-14 23:38] workmanw commented on #257
@vyobukhov Awesome. Glad to hear it!

[2017-03-17 18:29] jamesdixon commented on #256
@workmanw I am, but having trouble reproducing this now. It's an odd situation. I'll close this for now and keep you posted if it occurs again.

Cheers.

[2017-03-17 18:29] #256 closed

[2017-03-28 03:52] jamesdixon commented on #238
@workmanw any thoughts on this one? Just ran into it again

[2017-03-28 10:48] workmanw commented on #217
Hey great news! @Gaurav0 was able to restructure ember-twiddle in a way that allows ember-data-model-fragments to work. 🎉 🎉 🎉 🎉 🎉

[2017-03-28 10:48] #217 closed

[2017-03-28 10:49] workmanw commented on #238
Do you think you could write either a failing test or an ember-twiddle for this? I could make some time to take a look.

[2017-04-05 14:22] erkie opened #259 ""Uncaught TypeError: Converting circular structure to JSON""
I have a fairly complex fragment model that upon successful save throws the error `Uncaught TypeError: Converting circular structure to JSON`.

Here is a screenshot of the place it occurs:

![screenshot 2017-04-05 16 16 34](https://cloud.githubusercontent.com/assets/21059/24709841/8fa9ca24-1a1b-11e7-83f9-61952bf2437b.png)

Here is the stacktrace:

![screenshot 2017-04-05 16 19 10](https://cloud.gi

[2017-04-05 14:23] jakesjews commented on #259
@erkie I've actually been hitting the same issue with nested fragments but haven't had a chance to make a PR yet. I'm fairly certain its from https://github.com/lytics/ember-data-model-fragments/pull/247 but I can't revert it since it fixes a different issue.

[2017-04-10 22:01] humanchimp commented on #259
We're seeing this one too. It seems like `JSON.stringify` is being used as a "hashing" function to compare object "equality". If we really need that deep comparison, we should use a technique that can handle cycles.

[2017-04-10 22:47] workmanw commented on #259
I certainly don't doubt this is happening, but I'm having a hard time imagine a scenario for this. It seems for this to happen a fragment would have to have an ancestor fragment that is also a child. Can someone help me understand the data model that reproduces this?

[2017-04-10 22:51] humanchimp commented on #259
I'll try to cobble together a minimal reproduction

[2017-04-11 09:12] erkie commented on #259
I was able to reproduce this by adding a `fragmentArray` to a nested `fragment`. This branch fails the same way we are seeing in production:

https://github.com/lytics/ember-data-model-fragments/compare/master...erkie:cyclic-json-error

[2017-04-11 16:11] humanchimp commented on #259
At least one cycle in that example is
`original.name.animals.owner._internalModel._fragments.animals === original.name.animals`

[2017-05-01 19:08] kolybasov commented on #238
@jamesdixon I had this issue as well because data passed to [fragment-array transformation](https://github.com/lytics/ember-data-model-fragments/blob/master/addon/transforms/fragment-array.js#L19) was `null` or `undefined`. I've made extension to this and now all is fine.

[code]

@workmanw I think it should be default behaviour. Or at least use strict equality(===) to check for null. Now even `un

[2017-05-05 13:18] workmanw opened #261 "Unloading models can leave stale fragments w/ ember-data-2.13"
Steps:

1. `pushPayload` that includes a model with embedded fragment
2. find the record and get a property on the embedded fragment.
3. unload model
4. `pushPayload` again for the same model
5. find the same record again and try to use the embedded fragment. You'll find it's `destroyed` and no longer observable.

I bisected the issue and found this beastly commit is the culprit: https://github.co

[2017-05-05 13:19] workmanw commented on #261
Here is the PR for it: https://github.com/emberjs/data/pull/4593

[2017-05-05 14:37] workmanw commented on #261
Okay, I've fully grokked the PR and resurrected all the ember-data internals knowledge from the cold storage part of my brain 😜 . This seems to be related to relationships. It seems that `internalModel`s w/ a relationship are preserved when `unloadRecord` is called. So we need to do a better job at cleaning up.

Let me see if I can write a failing test now that I understand what's happening.

[2017-05-05 18:17] ming-codes opened #263 "FragmentTransform does not have store during test"
I'm on `ember-data-model-fragments@2.11.2`.

During serializer unit tests, `FragmentTransform#deserializeSingle` does not have the store injected.

Instead of `store: null`, we should just inject the store service in here right?

[2017-05-05 18:44] workmanw commented on #263
I think this might be similar to https://github.com/lytics/ember-data-model-fragments/issues/211 because it's a unit test. I suspect the problem is that the initializers didn't run to setup the owner injections.

[2017-05-05 20:12] #261 closed

[2017-05-09 08:52] coachTomato commented on #259
Unfortunately we got into trouble to upgrade to current ember cli version, because of this issue. Are there any ideas to solve the problem?

[2017-05-09 13:50] nk1g13 commented on #259
Hitting the same issue. I have nested fragments structure:

[code]

The issue appear when I make changes in group-item fragment and trying to save the changes. Would like to notice that everything is updating correctly, but error is appear in console:
![screen shot 2017-05-09 at 4 43 49 pm](https://cloud.githubusercontent.com/assets/6682190/25853959/1d1387b2-34d7-11e7-81f0-68974e5e9410.png)

[2017-05-09 14:32] jakesjews commented on #259
@workmanw would you be ok with reverting https://github.com/lytics/ember-data-model-fragments/pull/247 until we come up with a better solution for the alias problem?

[2017-05-09 14:40] workmanw commented on #259
@jakesjews Yea, I am.

[2017-05-09 14:41] jakesjews commented on #259
@workmanw cool I'll revert it when I get out of work later today

[2017-05-10 00:03] #259 closed

[2017-05-10 06:24] nk1g13 commented on #259
Thanks @workmanw and @jakesjews

[2017-05-10 07:13] coachTomato commented on #259
Yeah, that's great! 👍

[2017-05-11 07:28] ming-codes commented on #263
I don't understand. I looked at the `ember-data-model-fragments` initializer. It's only used to register transforms. How is this related to the `store` not present on the transform? There are no documentation from `ember-data` that says `store` is automatically injected on all transforms either.

There's a RFC to [deprecate `ember-data` initializers](https://github.com/emberjs/rfcs/blob/8f302c78b1

[2017-05-11 11:51] workmanw commented on #263
I swear this use to be the case. I would have bet money that Ember-data was injecting the store onto transforms at one point in it's history. But I went back to ember-data-1.x and could find not evidence of that. That was definitely my mistake. Apologies.

I could be mistaken, but I believe that RFC is just about consolidating the various initializers that have been added in recent versions into s

[2017-05-12 21:50] jamesdixon commented on #238
@kolybasov where did you end up adding this extension?

[2017-05-13 04:50] kolybasov commented on #238
@jamesdixon `/app/transforms/fragment-array.js`.

[2017-05-23 08:48] patocallaghan commented on #259
@workmanw @jakesjews just wondering if there are any plans to do a new release with this fix?

[2017-05-30 11:59] workmanw opened #266 "Ember-Data 2.14 compat"
It looks like Ember-Data has moved around some files that we import. Here is the error from my tests:

[code]

[2017-05-30 12:42] workmanw commented on #266
Turns out there was an effort to consolidate ember-data's `-private` exports. See: https://github.com/emberjs/data/pull/4925

As a result, one of the classes we need is completely isolated. I submitted a PR to try to remedy this: https://github.com/emberjs/data/pull/5002

------------------

One additional hitch is that moving imports around kind of breaks backwards compatibility. We could use `re

[2017-06-02 14:51] Hurtsok opened #267 "Broken method "_changd""

[2017-06-02 14:51] Hurtsok opened #268 "Broken method "_changedKeys" in "2.11.3""

[2017-06-02 15:00] Hurtsok commented on #268
Hey! When i update package from 2.3 to 2.11.3 i receive and error when trying to save model "Converting circular structure to JSON at JSON.stringify" problem is here [https://github.com/lytics/ember-data-model-fragments/blob/v2.11.3/addon/ext.js#L301](url).
And I found that this commit which will probably fix this is not released from master branch [https://github.com/lytics/ember-data-model-fragm

[2017-06-02 15:01] #267 closed

[2017-06-02 15:08] workmanw commented on #268
@Hurtsok Yes, all of that sounds correct to me. I'll be making a new release within the next week. I was hoping to get #266 resolved first.

[2017-06-02 15:10] Hurtsok commented on #268
Thank you a lot.

[2017-06-06 15:43] danielspaniel commented on #250
Curious about this same topic myself.
 https://emberjs.com/api/data/classes/DS.Model.html  shows the list of events
 The main ones for most purposes are didLoad or ready
 Want me to noodle around and try and hook this up?

[2017-06-09 20:46] workmanw commented on #266
@jakesjews et al -- Looking for opinions here. The `import` paths have changed and you cannot try/catch import failures. So if we want to keep backwards compatible, we'd have to use `require()` for the time being to import in 3 places so we can catch errors and import alternate paths.

Pros: Backwards Compat.
Cons: Hack. Incompatible w/ tree shaking efforts that are underway (which I have no idea

[2017-06-10 17:44] jakesjews commented on #266
@workmanw I think a clean break is the right way forward too.

[2017-06-11 01:41] workmanw commented on #268
@Hurtsok 2.11.4 has been released.

[2017-06-11 01:41] #268 closed

[2017-06-11 01:45] workmanw commented on #266
@jakesjews 👍 Just released 2.11.4 (the last in the 2.11.x series). Once ember-data ships 2.14, we'll ship ember-data-model-fragments 2.14.

[2017-06-20 17:10] gwak opened #271 "Could not find private ember data module"
Hi,

I've just tried to install a fresh Ember app and installed ember-data-model-fragments.

Here's my package.json:
[code]
When I `ember serve` , the app builds fine it seems but I get the following error:

Uncaught Error: Could not find module `ember-data/-private/system/model/internal-model` imported from `ember-data-model-fragments/ext`

Could you please help ?

Thanks,
Camille

[2017-06-20 17:12] jakesjews commented on #271
@gwak it looks like ember data 2.14 is being pulled in from the semver caret. There is a WIP PR to update model-fragments for 2.14 compatibility https://github.com/lytics/ember-data-model-fragments/pull/270. In the meantime you can change the ^ to a ~ in package.json and it should fix it for now.

[2017-06-20 18:32] workmanw commented on #271
Yeap, I can confirm this. We're just waiting on ember 2.14 to ship because we only support lock step ember and ember-data versions.

[2017-06-21 05:59] gwak commented on #271
Oh, of course, great thanks ! It works now. I'm closing this issue.

[2017-06-21 05:59] #271 closed

[2017-07-16 14:40] #266 closed

[2017-07-16 14:40] #250 closed

[2017-07-16 14:41] workmanw commented on #250
I believe @danielspaniel's PR closed this issue. If I'm wrong, let me know and I will reopen.

[2017-07-24 15:32] patocallaghan opened #272 "create fragment arrays using the store API"
I know you can use the store API to create fragments e.g.

[code]

but is there an API to do the same with fragmentArrays?

[2017-09-09 03:08] benoror opened #277 "Change ModelFragment attributes on runtime"
I have a use case where I need to add new `attr()`'s to a ModelFragment on runtime.

TL;DR; It involves getting variable metadata from a remote API, and based on that build the model... a.k.a. dynamic attributes

I have tried unregistering and re-registering the model directly from the store:

[code]

But that only works during *sync* application `instance-initializers` and `init()` methods (in ro

[2017-09-14 22:37] redrobot5050 opened #278 "Ember Model Fragments Freezes Chrome DevTools/Ember Inspector"
Versions:
Ember Inspector: 2.1.1 (up to date)
Ember: 2.13.1
Ember-Data: 2.15.0-beta.1
jQuery: 3.2.1
Ember Bootstrap: 1.0.0-rc.1
Model Fragments: 2.14.0

Steps to Reproduce:

1. Create a model with a fragment (example: Model: Person) with a fragment (PhoneNumbers).
2. In the app, load the models through the store.
3. Open your Chrome (Version 60.0.3, 64-bit) DevTools, navigate to the Ember tab.
4.

[2017-09-14 22:50] workmanw commented on #278
I believe this is actually an issue with Ember proper. Unless you're saying that there is also a problem with the fragment data outside of the ember inspector.

[2017-09-14 22:54] workmanw commented on #278
See: https://github.com/emberjs/ember-inspector/issues/690

[2017-09-15 12:41] chrisgame opened #279 "Ember-Data 2.15 compatibility"
When running against ember data 2.15 i'm getting
Uncaught Error: Could not find module `ember-data/-private/system/model/internal-model` imported from `ember-data-model-fragments/ext`

I'm using ember 2.15 as well

[2017-09-15 12:43] jakesjews commented on #279
Which version of model fragments are you using? Compatibility with ember data 2.14+ was added in 2.14

[2017-09-15 12:46] chrisgame commented on #279
2.14 i thought, double checking

[2017-09-15 12:52] chrisgame commented on #279
my bad, cleared everything down and tried again and it worked like a dream. Sorry for wasting your time.

[2017-09-15 12:52] #279 closed

[2017-10-05 12:58] Amerr commented on #190
whats the status of the issue right now

[2017-10-05 13:17] jakesjews commented on #190
There was a PR merged with a fix but unfortunately it caused [a larger issue](https://github.com/lytics/ember-data-model-fragments/issues/259) and had to be reverted. I'm pretty busy at work so I'm not sure when I'll be able to get to it.

[2017-10-05 23:50] Amerr commented on #190
Thanks for the update @jakesjews . for now the temporary solution is not use alias of those fragments, using normal computed , does the job without throwing error.

[2017-10-24 22:26] Techn1x opened #281 "defaultValue, Ember.copy() and moment"
Firstly, thanks for the useful addon. I've started using it in the last few days and it has made several things easier for my code.

I have the following setup; (simplified)
[code]
[code]

The defaultValue itself returns the correct object, but then at this line of code, the moment objects are deep copied, but because they don't implement Ember.Copyable they aren't copied properly
https://github.c

[2017-11-06 20:49] bastimeyer commented on #249
I have just run into the same issue, I think.

I'm using a dynamic fragment with a set of polymorphic child fragments. Each child fragment has a `defaultValue` object set with the according `typeKey` property.

- If the adapter can't find any data, everything is working fine, because of the correct `defaultValue`.
- Saving the data with a custom `serialize` method which is checking the `snapshot.r

[2017-11-14 10:36] rajasegar-c opened #282 "Fragments part of Mirage factories"
I have a model with fragments, i want to create a `ember-cli-mirage` factory for the same model. I am not having any clue how can i make fragment part of the factory, because the fragment data is not populated in the model in my Acceptance tests but in development it's working fine.
Any help would be much appreicated!

[2017-11-15 22:59] DingoEatingFuzz commented on #282
It would be great to get first-class Model Fragments support in Mirage, but for the time being you can make it work like this:

1. **Make each model fragment a model in Mirage.**
  Models in your app are discovered by Mirage, but Fragments aren't. All you need to do is list relationships.
2. **Make a factory for each of this fragment models**
  This works just like normal factories, but instead of

[2017-12-15 19:43] basz opened #284 "Assertion failed while copying with ember-data-copyable"
https://github.com/offirgolan/ember-data-copyable/issues/15

[2017-12-22 17:08] rwjblue opened #285 "Tracking issue for removal of `ContainerInstanceCache`"
I just proposed a simplification for Ember Data, which removes the usage of `ContainerInstanceCache`.  This would be a breaking change to ember-data-model-fragments, so I wanted to open an issue proactively so we can track things...

See https://github.com/emberjs/data/pull/5300

[2018-01-03 20:40] rondale-sc commented on #285
Just ran into this.  Looks like at the moment ConstainterInstanceCache is used in the ED extensions:

https://github.com/lytics/ember-data-model-fragments/blob/c7a57b3ee2d75287a395c49830e84b26d4ddfc70/addon/ext.js#L323

[2018-01-06 05:50] Techn1x commented on #281
Created a PR anyway - you're welcome to merge/modify, make suggestions, etc.

[2018-01-26 19:47] #263 closed

[2018-01-30 15:14] rondale-sc commented on #285
@rwjblue I believe this can be closed by:

https://github.com/lytics/ember-data-model-fragments/pull/287

Can you confirm. :beers:

[2018-02-03 01:34] workmanw commented on #285
Bump. @rwjblue Can you take a quick peak and confirm this was resolved by @rondale-sc ? Should be a 5 second look.

[2018-02-06 23:43] workmanw commented on #285
Closing based on @rwjblue's comment in #287.

[2018-02-06 23:43] #285 closed

[2018-02-11 12:11] fran-worley commented on #196
@slindberg Given that ember-data default is JSON-API wouldn't it make sense for this to be supported 'out of the box'? or at least have a complete working example. I've just run into this and was surprised that it didn't just work.

[2018-02-11 18:14] slindberg commented on #196
cc @jakesjews @workmanw

[2018-02-11 18:47] fran-worley commented on #196
For anyone else who comes here, this is the simplest application fragment serialiser to get things working:

[code]

Could this be generated by default on install, or via an optional json api blueprint ?

[2018-02-22 10:53] Baukereg commented on #200
I made a small test project using the examples of the documentation (a Person model with a Name fragment). I added this method so I can trace the number of fragments in the store in the console:

[code]

First I push some data to the store in the application route model hook:

[code]

Right now numOfFragments returns 0. It also doesn't display the fragment in the Ember Inspector. I suspect a fragm

[2018-02-23 22:44] danwenzel opened #289 "Ready for non-beta 3.x"
Since ember-data 3.0 is officially out, can we release a non-beta version?

[2018-03-07 01:15] maxzats opened #290 "3.0.0 beta - In Production, null exception when saving object"
on ember-data 3.0.1, ember 3.0.0, and model-fragments 3.0.0-beta.1

[code]

Can't recreate it on dev mode. Any ideas?

Downgrading to Ember Data 2.17 and model-fragments 2.14 works

[2018-03-07 18:20] jakesjews commented on #290
I think i've encountered the same issue. I'll try to take a look when I get a chance.

[2018-03-10 23:08] danielspaniel commented on #282
You could also use  ember-data-factory-guy instead of mirage which supports fragments with no extra work at all.

[2018-03-12 17:35] maxzats commented on #290
Hey @jakesjews have you been able to take a look?

[2018-03-16 13:15] jakesjews commented on #290
Hey @maxzats I just made https://github.com/lytics/ember-data-model-fragments/pull/291 to get a baseline going so I can look deeper with all the 3.0 versions. After that gets merged in it should be easier to track down the problem

[2018-03-21 00:07] maxzats commented on #290
@jakesjews great, any ETA on when that'd be merged so we can track down the null pointer?

[2018-03-21 14:34] jakesjews commented on #290
@maxzats once my co-maintainer says the PR looks cool I can merge it in.

[2018-03-22 21:53] joegaudet opened #292 "Question about modification merges"
Less of an issue and more of a question.

Standard ED model behaviour looks like this:

[code]

Given a case using fragments:

[code]

Is this expected behavior?

[2018-03-24 21:12] maxzats commented on #290
@jakesjews looks like it was approved & merged. any way i can help to track this down?

[2018-03-26 01:06] jakesjews commented on #290
@maxzats I just tried running an application with latest ember, ember-data, and model fragments beta and the issue doesn't seem to be happening for me anymore. Can you try again with the latest versions of everything to see if its still happening for you?

[2018-04-02 16:02] danwenzel commented on #289
@workmanw - Since https://github.com/lytics/ember-data-model-fragments/pull/291 has been merged, can we get a new release out?

[2018-04-04 11:07] workmanw commented on #289
#293

[2018-04-04 21:50] danwenzel commented on #289
🎉  Thanks!

[2018-04-04 21:50] #289 closed

[2018-04-11 23:04] dusanstanojeviccs commented on #290
@jakesjews I work in the same team as Max and I am still running into this issue in production. Here is the stack trace:

[code]

[2018-04-12 13:11] jakesjews commented on #290
@dusanstanojeviccs which versions of ember and ember data is this with?

[2018-04-12 14:01] maxzats commented on #290
@jakesjews Ember: 3.0.0, and Ember-Data: 3.1.1

[2018-04-19 20:28] jakesjews commented on #290
@maxzats im not able to replicate the issue anymore so If theres some code I can run to replicate it then it would help a ton

[2018-04-19 20:33] maxzats commented on #290
@jakesjews it happens very sporadically and under ambiguous circumstances. doesn't even happen in the same place in different user accounts. we have no idea what triggers it, and we've looked into it a bunch. we're just creating a fragment, adding it to a parent object in an array, and saving it.

[2018-04-20 19:34] maxzats commented on #290
@jakesjews if we can reproduce it on one of our dev machines would you be interested in screen sharing in and taking a look?

[2018-04-20 19:36] jakesjews commented on #290
@maxzats yeah thats cool. I'm doing some traveling this weekend but i can next week sometime

[2018-04-30 14:46] #281 closed

[2018-05-01 17:48] aandis opened #295 "TypeError: _modelFragmentsAttributes.default is not a function"
I am trying to use this addon with
[code]

As per the the [docs](https://github.com/lytics/ember-data-model-fragments#compatibility) I used version `2.3.3` of this addon but keep hitting

Also tried other `2.3.x` but didn't help. Any ideas?

[2018-05-01 23:34] dwickern opened #296 "Not working with ember-data v3.2.0-beta.2"
After upgrading from 3.2.0-beta.1 to 3.2.0-beta.2 I've got some issues related to serializing fragments:
[code]

This project's tests don't pass either. git bisect points to emberjs/data#5413

/cc @runspired

[2018-05-02 04:51] runspired commented on #296
Given the commit the bisect points at, I suspect model-fragments has a similar race condition to the one we solved in it.

[2018-05-02 05:14] runspired commented on #242
@workmanw moving to dependencies would cause a very odd set of bugs because you'd get the merge of the two instead of resolving one or the other.

versionCompatibility is definitely something I'd recommend.

[2018-05-02 07:48] runspired commented on #296
The root cause is that internalModel is now responsible for deciding the current UI value instead of the attr on the record.  This allows us to be lazier about materializing the record.  Fragments is currently dependent on the record being materialized and the properties accessed in order to setup `_fragments`. This was always likely to be buggy, but now it is even more so. However, we can patch `

[2018-05-02 13:09] jakesjews commented on #296
@runspired thanks a ton! I spent some time trying to pinpoint what the issue was and this helps alot.

[2018-05-03 15:35] deverstalmage commented on #290
@maxzats @jakesjews I ran into this issue as well. For our app it happens when you create a record with a fragment array, but only if the app is built for a production environment. If you run the app locally with a development build the issue does not manifest.

[2018-05-04 17:52] maxzats commented on #290
@deverstalmage correct - that's the behavior we're seeing as well.

[2018-05-09 23:00] maxzats commented on #290
@jakesjews any ideas on how we can get to a fix on this? it's still blocking our update to ember-data 3

[2018-05-10 14:02] jakesjews commented on #290
@maxzats heres the plan so far. Model Fragments is broken with the latest ember-data beta so a full rewrite is happening in the very near future. I'm currently coordinating with the ember-data team on it so hopefully it wont take too long. It will most likely fix these issues cropping up.