[2018-05-10 16:30] maxzats commented on #290
@jakesjews will the api be backward compatible?

[2018-05-10 17:31] jakesjews commented on #290
@maxzats yeah

[2018-05-10 19:12] maxzats commented on #290
@jakesjews awesome. any eta? would like to migrate to ember-data 3 asap

[2018-06-03 14:39] dpigera opened #298 "Deleting an unsaved fragment from store"
Hello,
I'm very sure I'm doing this incorrectly. I have a route for creating a model setup as shown:

[code]

When I execute discard() on the store (i.e. user decides to abort creating a new object), I notice the uncommitted `system-datasource` model is removed from the store correctly.

However, the `system-datasource-s3` and `system-datasource-sftp` models are left behind:

![screen shot 2018-06

[2018-06-17 20:50] JosephHalter commented on #290
+1 still happens when doing a deep copy with Ember.copy(true) of polymorphic fragments, same exact stack trace, also happens only in production

[2018-06-18 18:47] maxzats commented on #290
Yep, still preventing us from upgrading to Ember-Data 3.x. Would love a fix for this so we can stay on top of the release cycle. @jakesjews

[2018-06-21 04:00] jakesjews commented on #290
Im afraid I'm actually at a bit of a loss for how to debug this issue since I'm not really able to replicate it. I will quickly be able to review any PRs fixing the issue but I'm not actually sure how to fix it myself.

[2018-06-21 05:32] maxzats commented on #290
@jakesjews are you able to create a fragment, call Ember.copy() on it, then attach it to a parent and invoke save() on it in a project built in production mode via Ember-CLI? This should help reproduce.

[2018-07-03 21:43] bmaehr opened #299 "Allow id in fragment"
Hello,

I would request to allow a (optional) id field for the fragment.
The reason for this request is, that it seams to be the most suitable clean solution to handle compositions with ember/JSONAPI.
I started a discussion without much participation about this problem here: https://discuss.emberjs.com/t/ember-data-handling-composition/15035/2

When allowing fragments to have an id attribute, they

[2018-07-09 11:52] talaub commented on #272
@lytics Is there a solution for this? I need a fragment array inside a model which I create for testing.

[2018-07-16 02:01] #290 closed

[2018-07-16 08:49] allinne opened #304 "Undefined as a DefaultValue"
It would be great, if we could write this: `property: fragment('pathToProp', { defaultValue: undefined })`
Sometimes it needs when a server sends incomplete data. And we should distinguish if an object/array is empty or undefined.

[2018-07-20 18:00] knownasilya opened #305 "model.toJSON() returns fragments with `id` instead of `pk`"
I have a fragment array with fragments like this:

[code]

When I use `toJSON` on the parent model, I get `{ id: 'value of pk' }` and `pk` is undefined. I don't do anything to process this output.

[code]

[2018-07-20 18:03] #305 closed

[2018-07-23 03:49] Techn1x opened #306 "Error when setting array fragment to null"
I get an error on the following line;
https://github.com/lytics/ember-data-model-fragments/blob/master/addon/attributes.js#L321
(`fragments` is null so `get(fragments,'hasDirtyAttributes')` spits out an error)

The error seems to occur silently, so I had to step through the code to to that point to get it to happen.

Basically, on my edit form, when I go to save changes to the report model, I iter

[2018-07-23 03:57] Techn1x commented on #306
I'm not too familar with this addon, but I think changing the if statement line in attributes.js to this would probably fix it. I am happy to submit a PR but I would like some confirmation
`if (internalModel._data[key] !== fragments || (fragments && get(fragments, 'hasDirtyAttributes')))`

[2018-07-23 15:45] rondale-sc commented on #296
Not sure where to put this, but I have some code that in ED 3.1 worked:

[code]

That now requires I set

[code]

Was the former never supposed to work?

[2018-07-23 20:14] jakesjews commented on #306
Sounds good @Techn1x Ill be quick to review any PR

[2018-07-24 03:47] pauln opened #307 "Ember.copy / Copyable mixin deprecated"
As of Ember 3.3, [Ember.copy and the Copyable mixin are deprecated](https://emberjs.com/blog/2018/07/16/ember-3-3-released.html#toc_deprecations-3).  This can lead to a large volume of deprecation warnings being dumped into the JS console.

Switching to the new [ember-copy addon](https://www.npmjs.com/package/ember-copy) addon clears up the deprecation warnings (see #308)

[2018-07-24 17:46] rondale-sc commented on #296
I did some spelunking today to see if I could write something that'd follow along with @runspired's comment above, but found it to be a bit more complex than I had originally thought.

@runspired Would you be able to spend a little bit of time explaining the thought process of your fix and I'll implement?  I got so far as creating a simple dummy repo with my above example and linking edmf.  It doe

[2018-07-25 00:45] #307 closed

[2018-07-25 04:07] Techn1x commented on #306
Submitted the PR with (I think) a working test. I also realised I could avoid this issue in my own code by doing the code below, but have submitted the PR anyway in case anyone else runs into this
[code]

[2018-07-26 03:36] #306 closed

[2018-09-07 12:28] ngouy opened #313 "access 'parent' model"
let's have (like in the readMe)
[code]
[code]

Is there any way, from an address instance, to retrieve the person 'parent' without adding an attribute in the `address` model and passing it as a params when creating a new one :

[code]

[2018-09-07 21:08] simonc opened #314 "How can I create nested fragments with defaultValue?"
Hi there,

I have the following model/fragments structure and I'm not sure how to handle the creation of nested fragments using `defaultValue`. Maybe the solution is obvious but I can't find it.

[code]
[code]
[code]

I'd like for a new DocumentTemplate's settings to be populated with `footer`, `header` and `margin` by default. Is there a way to do this?

Thanks a lot! ❤️

[2018-09-14 16:26] gabrielgrant commented on #299
I'm seeing this issues too (my fragment has a ID field that gets stripped during conversion from the wire to the framgment instance). First, adding an ID field explicitly fails with the standard ember error message about having an ID field on a model. But removing it, and relying on the underlying model's default ID field doesn't work either. It seems the specific problem is that the ID value is g

[2018-09-20 15:17] danielspaniel opened #315 "not working with 3.5 beta"
Howdy .. there are errors with using model fragments with ember-data 3.5 beta 3 ( record data enabled ).
  Don't mean to say one line and move on, but it is pretty straightforward ( the issue ) in that I am just making the statement and not pointing out the errors.

[2018-10-15 16:06] DocX opened #316 "FragmentArray.createFragment should respect `type` in polymorphic arrays"
If I have polymorphic fragment array:

[code]

with hierarchic fragment models:
[code]

And then I want to create fragment directly on the array, with given type:

[code]

It does not respect the type passed. Rather it always creates the fragment with the type declared in the definition of the `fragmentArray`. As it can be seen in the code here:

https://github.com/lytics/ember-data-model-fragment

[2018-10-15 21:36] pjcarly commented on #315
I accidentally upgraded to ED 3.5 (because of a yarn upgrade), I started debugging before I realized that my version was wrong, and this is what I've managed to figure out.

This line is causing an issue.
https://github.com/lytics/ember-data-model-fragments/blob/master/addon/attributes.js#L394
[code]

From what I can tell the `internalModel` in ED3.5 doesn't have the `_data` hash anymore, and an e

[2018-10-18 15:49] nino commented on #211
I ran into this issue and couldn't solve it using the advice above, so, for posterity's sake, here's what fixed it for me:

I got the "`store.createFragment` is not a function" error on an old Ember project that had been upgraded from Ember 2 to 3, and I have a new Ember project that started out on version 3, which did not have this issue. So I went through all test-setup-related files in both pro

[2018-10-21 18:28] aandis commented on #190
Any updates. Is this fixed?

[2018-10-22 10:07] JosephHalter commented on #190
I'm using the latest version of ember-data-model-fragments in a couple of large, high traffic projects with plenty of computed properties and observers all around and I don't have any issue anymore.

[2018-10-22 19:15] aandis commented on #190
@JosephHalter I mostly see this happening while using `alias` computed properties in my components although I am on an older version. So if it's confirmed that aliases are not a problem for `ember-data-model-fragments`, this can be considered fixed.

[2018-11-05 13:08] Gorzas opened #318 "snapshot.changedAttributes() is broken with fragments and Ember Data > 3.1"
In Ember Data they have removed [the usage of Ember.copy](https://github.com/emberjs/data/commit/23a87e8e7a7cd39e33ef877148f7d9e8f103c2ab#diff-67322a0874ff9f30dbdfc17e18916a4dR174) so when you use `snapshot.changedAtributes()` it expects that `this._changedAttributes[key]` is always an Array (now they are copying an element with slice instead of using Ember.copy).

The problem is with [this code o

[2018-11-05 13:37] Gorzas commented on #318
I have already removed the code but i have a test failing, don't know why it happens :thinking:

[code]

[2018-11-05 20:04] knownasilya commented on #315
@kempt09 and ideas if your branch is close to ready? Maybe open a PR with a WIP to not merge?

[2018-11-05 20:52] kempt09 commented on #315
@knownasilya yeah I can get to that here this evening. I think I know where the other issue is coming from but I'm not really that deeply knowledgable into the inner workings of ember-data. There is an issue where the fragment not updating after it has been created and then saved. The payload back from the API is not being updated on the fragment attributes on the parent record.

[2018-11-09 00:35] #318 closed

[2018-12-13 18:04] drevets opened #321 "Cannot read property serializerFor of null"
After upgrading from Ember CLI 2.18 to 3.4.4, I am getting this error when running unit, acceptance, and integration tests:

TypeError: Cannot read property 'serializerFor' of null
    at Class.deserializeSingle (http://localhost:56686/assets/vendor.js:208413:30)
    at Class.<anonymous> (http://localhost:56686/assets/vendor.js:208336:22)
    at Array.map (<anonymous>)
    at Class.deserializeFrag

[2018-12-13 19:51] sukima commented on #315
This is fixed now?

I mean It is December and Ember-data has moved on to 3.6 Any `ember new` will break with this addon?! Does no one else have a problem with this anymore? I'm confused.

[2018-12-13 19:57] sukima commented on #315
Downgrading ember-data to `~3.4.0` fixed the problem for me in case anyone else runs into this problem and tries to Google a fix.

[2018-12-21 13:00] basz opened #322 "copy() results in: pass a model name to the store's serializerFor"
Hello, I have an error when copying models with fragments

`Error: Assertion Failed: You need to pass a model name to the store's serializerFor method`

I should add that we just upgraded ember-data-copyable@^0.3 to ember-data-copyable@^0.4 and only then the error happens. So until now I just kept reverting to ^0.3. I have this issue since 2.16 and are now on 3.1. So I suspect something else is go

[2018-12-28 00:43] luketheobscure commented on #315
Can we get an update on this? Do we need to put out a call for community contributions?

[2018-12-28 17:26] aandis opened #323 "empty fragment array not sent to server"
Given
[code]

If `person` looks like -
[code]

and I delete the `address` object from `person` in my app with
[code]

and try to save the model, the json posted is -

[code]

I would expect the following json to be posted -
[code]

Is this expected behavior?

[2019-01-07 04:08] aandis commented on #323
ping.

[2019-01-08 22:43] jakesjews commented on #323
hello @aandis I don't think the behavior has been explicitly defined but I would accept a PR to fix it.

[2019-01-08 22:44] jakesjews commented on #315
@luketheobscure I think a call for community contributions would be a good idea. The internal API changed a lot in ember-data 3.5 so I think most of this addon will need to be rewritten. I don't really have the time right now to do it so if someone else is able to that would be amazing.

[2019-01-09 01:08] luketheobscure commented on #315
@jakesjews if you're looking for new maintainers, one way to go about that if through the adopted addons program. Take a look at https://github.com/adopted-ember-addons/program-guidelines/blob/master/README.md

[2019-01-11 23:41] cohitre commented on #315
I have been trying to get this to work with >=3.5 throughout the last couple of days. Most of the errors seem to be around rollbacks and saving: https://github.com/cohitre/ember-data-model-fragments/pull/1/files

Some of the changes that I've found:
- Using `RecordData` instead of accessing the data directly from the internalModel
- `flushChangedAttributes` was removed
- I keep getting an error ab

[2019-01-12 21:13] cohitre commented on #315
I've narrowed down my PR to 7 errors, all related to `currentState`. I think whatever is triggering that is a testing artifact, possibly with how the Store is being setup in the tests.

[code]

[2019-01-14 18:55] cohitre commented on #315
I have gotten all the tests to pass now using EmberData 3.7. I’ll do a couple passes to test with the other versions and fix accordingly.

As it is this PR breaks compatibility with versions before 3.5 and may merit a version bump.

Any comments or insight into this PR are appreciated.

[2019-01-24 17:23] XaserAcheron opened #325 "Alpha release w/ember-data 3.5+ support?"
Now that #324 has landed (awesome work btw, @cohitre !), would y'all consider cutting an alpha release with the new changes?

I've updated my own project's dependency to point at the latest commit (works great for me w/ember-data 3.7), but it might be easier to get some testing & early adoption if there's a tagged release.

[2019-01-24 17:41] workmanw commented on #325
As mentioned in the PR, we'll try to get a new release out today.

[2019-01-24 18:39] XaserAcheron commented on #325
Oops, my bad -- I missed the latest comments in the PR thread.

[2019-01-25 19:20] workmanw commented on #325
Released

[2019-01-25 19:20] #325 closed

[2019-01-25 19:20] workmanw commented on #315
This issue has been resolved by v4.0.0 of ember-data-model-fragments.

[2019-01-25 19:20] #315 closed

[2019-03-21 17:46] shidel-dev opened #328 "Supplying a unique key to ensure response is correctly mapped for array fragment"
Hi, thanks for making this addon it takes care of a much needed use case in ember data.

@goldstarlearning we are using this addon to handle rich json documents in some of our models. The issue we are having has to do with the Array fragments in the library, and the way that response data is applied in the library relies on indexes. https://github.com/lytics/ember-data-model-fragments/blob/master/

[2019-03-27 19:37] Kilowhisky commented on #18
Just to throw my 2c in here i think now that ember has `recordData` & the `hasmany`, and `belongsTo` reference classes this can now be achieved.

Here's just a simple example of a very complex object i have been trying to represent with fragments.
[code]

So far I've been solving this using the embedded records mixin but that has its own problems. For example if i edit this structure and then try

[2019-04-09 10:49] nhemanth007 opened #330 "Changes to fragment array are not present in the owner record's changedAttributes"
`changedAttributes` is not returning changes in fragment array on the model.

Ember version used 3.8
Addon version used is v4.0.0

I forked this addon(v4.0.0) and added a unit test case to verify the issue. The test case is not complete, I asserted owner record's changedAttributes with empty string to know what value is returned.

Value returned by changedAttributes is not appropriate. Old propert

[2019-04-09 10:54] nhemanth007 commented on #330
Names on person are changed from `names: [{ first: 'Catelyn', last: 'Stark' }]` to `names: [{ first: 'Cat', last: 'Stark' }]`

[2019-04-12 18:03] igorduarte commented on #321
Facing exactly the same problem here.

[code]

[code]
Any help would be much appreciated — thanks! +1

[2019-05-17 13:36] ELepolt opened #331 "Fragment changed inflight is not"
In a recent update to Ember 3.8 I updated this addon and an existing test (last updated 2 years ago) began failing.

While saving, the record is updated and after the save finalizes the record claims to not have any dirty attributes.

[code]

[2019-05-22 20:27] lucacorti opened #333 "Fragments not working with native classes/decorators"
Is there any way to use `ember-data-model-fragments` with native classes and decorators?

I'm trying the following but it is not working

[code]

But it doesn't work:

[code]

I guess there should be an `@fragment` decorator, so this could be rewritten as

[code]

[2019-06-05 20:59] lucacorti commented on #333
Sorry, apparently this is already working. There is simply no need to set `@tracked` on model attributes, including fragment, so my example would become:

[code]

And it is working as expected.

[2019-06-05 20:59] #333 closed

[2019-06-14 23:17] thrashr888 commented on #321
I have the same issue on the same versions. Upgrading to 4.0.0 breaks other things (`TypeError: _private.RecordData is undefined`).

[2019-06-21 23:03] allthesignals commented on #299
Hmm, it surprises me that there's no id. My experience with adopting this addon is this: I replaced a lot of code using ember data fragments, but many templates reference an ID explicitly. Is there a good reason for disallowing an identifier for this object? My instinct is that that seems like a bad practice.

The README on this issue is confusing as well: https://github.com/lytics/ember-data-mode

[2019-06-21 23:05] allthesignals commented on #313
I hear this but it sounds like this should be a regular ember-data relationship, on? I'm using fragments in my case to leverage computed properties...

[2019-06-21 23:10] allthesignals commented on #299
This thread adds some interesting context: https://github.com/lytics/ember-data-model-fragments/issues/86#issuecomment-149375719.

I think this assumes I shouldn't use an id directly for presentation purposes?

[2019-07-19 14:39] yaxinr opened #334 "each-in fragment.data hbs"
in handlebars
this not work
`each-in fragment as |k v|`

this works
`each-in fragment.data as |k v|`

is it correct to use fragment.data?

[2019-07-23 18:18] mattgraham1995 commented on #330
I'm seeing a similar issue with my fragmentArrays. I make a change to one of the fragments in the fragmentArray and the parent model will return `true` for `hasDirtyAttributes`, but `changedAttributes()` returns an empty object.

[2019-08-12 15:38] lolmaus commented on #313
Regular Ember Data relationships are not supported by Ember Data Model Fragments.

Is there a better solution?

[2019-08-18 19:13] jakesjews commented on #313
It needs documentation but you can use `import { fragmentOwner } from 'ember-data-model-fragments/attributes'` for a macro that will allow access to the owner of the fragment

[2019-08-20 18:32] sdhull commented on #18
I don't have specific knowledge around this but maybe someone more knowledgeable (@igorT?) could speak to this: now that ember-data has matured somewhat & with the introduction of `recordData` & the `hasmany`, and `belongsTo` reference classes (as pointed out by @Kilowhisky) is it more feasible to support having `belongsTo` & `hasMany` in Fragment classes?

[2019-08-30 23:21] vvlnv opened #337 "Add ability customize array order-sensitive change detection"
Currently `hasDirtyAttributes` depends on array order.

It would be great to toggle this behavior like this:
[code]

[2019-09-24 21:46] lucacorti opened #338 "Incompatibility with ember-data 3.13.0"
This error appears as soon as you upgrade from e-d 3.12.x to e-d 3.13.0

[code]

[2019-09-25 15:03] pjcarly commented on #338
I appear to have the same issue on 3.12

[2019-09-25 15:04] pjcarly commented on #338
with stack trace this time:

`-private.js:4755 Uncaught TypeError: Cannot read property 'id' of null
    at new InternalModel (-private.js:4755)
    at Store.createFragment (ext.js:115)
    at createFragment (fragment.js:187)
    at setupFragment (attributes.js:102)
    at CompanyModel.get (attributes.js:264)
    at index.js:3163
    at untrack (index.js:1130)
    at ComputedProperty.get (index.js

[2019-09-27 14:04] jelhan commented on #338
https://github.com/emberjs/data/pull/6247, which implements [RFC 403: Ember Data | Identifiers](https://github.com/emberjs/rfcs/blob/master/text/0403-ember-data-identifiers.md), has changed the interface of `InternalModel`. It expects a `RecordIdentifier` as second argument now.

[2019-09-27 14:05] jakesjews commented on #338
@jelhan thanks for investigating. I'll try to get a fix in when I get some time but if someone makes a PR before then I'll merge it quickly.

[2019-09-27 15:20] pjcarly commented on #338
edit: Turns out, there was a sub dependency of Ember-data that was upgraded to 3.13 on my end, so I can confirm its not happening on 3.12.

[2019-09-30 15:26] jelhan commented on #338
Fixed the changed interface on `InternalModel` constructor in #339. But there seem to be another change related to serializer / snapshot. Attribute values aren't present on snapshot. Will try to dig into that one as well. If someone else has time before, feel free to finish the work.

[2019-10-18 11:50] Leooo opened #340 "updating a fragment's attribute in a form doesn't set the fragment as dirty"
Ember | 3.4.8
Ember Data | 3.5.2
jQuery | 2.1.4
Model Fragments | 4.0.0

[code]

[code]

(existing appointment)
[code]

So `appointment.changedAttributes()` is not updated, which prevents the telephoneNumber to be serialized (at least when using ember-data-change-tracker, but I think it's an ember-data-model-fragments problem).

Anyone else seeing this? Can try to create a jsfiddle or test if need

[2019-10-18 12:01] Leooo commented on #340
someone needs to add https://ember-twiddle.com/ on top of SEO for "Ember jsfiddle"

[2019-10-18 12:20] Leooo commented on #340
so on [this twiddle](https://ember-twiddle.com/499e21ed033ff8270dcd966904b02c4c?openFiles=routes.application.js%2C), things work.. Will try to add ember-data-change-tracker now

[2019-10-30 14:11] prabakaranfresh opened #341 "Removing Fragment from fragmentArray fails on PUT request"
Creating, Updating and Deleting fragments in Fragment Array works fine for a new model (`isNew: true`)

On an existing model from server, deleting a fragment inside fragmentArray removes it from the model and setting `hasDirtyAttributes` to `true`. But while saving the model using `model.save` empty object is sent to server (Only on PUT Request)

[code]

[code]

[code]

I am removing one of the ad

[2019-11-07 14:47] Pingu69 opened #344 "Can't create fragment"
After upgrading ember/data to 3.12, I am getting this error `Uncaught Error: Either an id or a clientId is required as an argument` when I try to create a fragment like this ` store.createFragment('content-conditions-group', {
          conditionType,
          content,
        });`

`conditionType` and `content` are belongsTo relationships in my fragment. Creating an empty fragment works, but if

[2019-11-07 18:18] joshuamanns commented on #341
I just want to bump this issue as I'm having a very similar problem. Is this related to the open PR referenced here? https://github.com/lytics/ember-data-model-fragments/issues/338

[2019-11-11 09:41] patocallaghan commented on #338
@jakesjews You mention in https://github.com/lytics/ember-data-model-fragments/pull/339#issuecomment-539054051 that Model Fragment will need to be refactored to use `RecordData`

Not knowing the internals here, do you have a sense of how much work that is?

[2019-11-11 13:58] jakesjews commented on #338
I have a feeling that it's almost a complete rewrite. A spike of the conversion was attempted [here](https://github.com/igorT/ember-data.model-fragments/tree/igor/model-data) but I don't think it got too far.

[2019-11-14 03:17] prabakaranfresh commented on #341
@joshuamanns My ember-data version is 3.10.0. Isn't the PR #338 is related to ember-data 3.13.0?

[2019-11-18 16:09] IAmJulianAcosta opened #345 "RangeError: Maximum call stack size exceeded with ED 3.14"
Tested on brand new Ember install:

[code]

[code]

The problem is in CoreStore constructor

[2019-11-19 17:53] gwak commented on #345
Same issue here...

[2019-11-19 17:55] jakesjews commented on #345
Ember-Data 3.13+ isn't supported yet. There is a WIP PR at https://github.com/lytics/ember-data-model-fragments/pull/339

[2019-11-19 23:04] IAmJulianAcosta commented on #345
Thanks @jakesjews , I'm aware of this and downgraded to 3.12, just wanted to make sure that this was tracked

[2019-11-20 00:14] jakesjews commented on #345
no problem @IAmJulianAcosta! This ticket reminded me that I needed to update the readme so it was helpful.

[2019-11-29 12:18] jelhan commented on #345
@jakesjews Would be awesome if you add an assertion that Ember Data is 3.12 or less. Maybe just a `peerDependency`? This error is hard to debug as the error is thrown very early and does not contain any helpful information.

[2019-12-10 15:56] joshuamanns commented on #341
@prabakaranfresh Were you ever able to resolve this? It's still a blocking issue for me and I'm debating if I should create an entire workaround instead of using fragments.

[2019-12-10 16:28] prabakaranfresh commented on #341
@joshuamanns I am having a workaround. I am forcing `dirtyAttributes` on removing fragments from fragments array.

[code]

[2019-12-19 04:50] Kilowhisky commented on #338
Just when i started being ok with ED and its quirks.... it rips the carpet out from under me again... 😿

[2019-12-19 10:06] jelhan commented on #338
I can understand that you are pissed of by breaking your production build but I don't think it's Ember Data's fault that this addon heavily relies on private APIs. Public APIs were discussed and defined as part of the RFC process with this addon in mind long time ago. Ember Data has exported some private APIs only to not break this addon. At some point of time this gets to costy and the private AP

[2019-12-19 11:53] basz commented on #338
Q: Is there any effort underway to support ED 3.13? Or are we just sitting here.. :-)

[2019-12-19 16:55] jakesjews commented on #338
To be honest I don't really have the time to rewrite it. I took over maintenance a few years ago with the intention of doing simple ember upgrades and merging bugfixes but I don't really have too deep of an understanding of how everything works.

[2019-12-19 18:03] Kilowhisky commented on #338
I've tried working with recordData in the past, the main problem i have is that its not well documented and the documentation there does not reflect real behavior. I kinda gave up on it. Maybe its gotten more stable since its first release.

[2019-12-19 22:28] pjcarly commented on #338
It would be sad to see this addon go dead because of this, it is a wonderful addon, which adds a very welcome addition to the Ember Data platform in a whole.

I'd be willing to commit some time as well, but I have no clear view of how RecordData works, let alone Ember Data internals. I can help debugging or test running perhaps.

[2019-12-20 08:16] basz commented on #338
I totally agree with @pjcarly My project depends pretty heavily on this addon...

Willing to do some work. Anyone can outline what the problem is and where we would need to start to get repairs going? An overview of what RecordData is and how they compare to the current workings would probably help a bit too...

[2019-12-20 08:30] basz commented on #338
Ping @runspired @kategengler I see you coauthored https://github.com/emberjs/rfcs/blob/master/text/0293-record-data.md#addon-usage and you mention a path forward and even some experimentation already done if I read it correctly. Is any of you able to provide some steering directions? Thanks!

[2019-12-20 12:50] patocallaghan commented on #338
@basz I'd also be keen to help out here too as we're heavily dependent on Model Fragments, although at this stage it won't be until the new year until I can give time

[2019-12-23 09:15] basz commented on #338
@jakesjews That's fine. As long as someone is available to review/merge the community seems willing to get this going.

@all To start I've updated the [tests](#365) to work again, so we have something to work off

[2019-12-23 16:56] runspired commented on #338
Happy to provide a review, @igorT had tried to spike this before, I suspect we could again.

[2020-01-07 14:24] richgt commented on #338
We're also pretty heavily dependent on this, and will be stuck on 3.12 until this get's fixed, so we're happy to help out. Has anybody made any progress on this? If not, we may try to spike this.

[2020-01-10 16:16] allthesignals commented on #224
I'm seeing this issue on the following versions:

[code]

Here's our log test log: https://circleci.com/gh/NYCPlanning/ceqr-app/1765

[2020-01-10 17:14] allthesignals commented on #345
I was getting this error on what appeared to be compatible versions: https://github.com/lytics/ember-data-model-fragments/issues/224#issuecomment-573101228

[2020-02-11 00:19] richgt commented on #338
I'm working (slowly) on a fix for this. Have tests at least running and failing for proper reasons on 3.12. I'll update here as I have more information :-D.

[2020-02-11 09:19] jelhan commented on #338
We reviewed the usage of Ember Data Model Fragments and noticed that it's in most cases only used to have a schema for complex data types like POJOs and arrays of POJOs. We noticed that we could achieve the same with native classes and Ember Data transforms. We decided to drop Ember Data Model Fragments.

Please note that this approach is only providing a subset of features that Ember Data Model F

[2020-02-11 20:35] patocallaghan opened #357 "[Bug Ember 3.15.0+] Creating a tracked model with a fragment array throws back-tracking assertions"
I'm currently trying to upgrade our app from **ember-source** 3.14.x to 3.15.x and I've found a blocker which is preventing our upgrade.

From [ember-source 3.15.0-beta.4](https://github.com/emberjs/ember.js/releases/tag/v3.15.0-beta.4) it appears that tracked models which have properties using `fragmentArray` will throw a backtracking rerender assertion causing things to blow up.

There are two s

[2020-02-11 21:43] patocallaghan commented on #357
This is also happening in the current ember-source 3.17.0-beta.4

![image](https://user-images.githubusercontent.com/685034/74282146-8f2e8a80-4d17-11ea-87da-b5480498ceec.png)

[2020-02-19 20:32] richgt commented on #338
Update - I have a branch (richgt/ember-data.model-fragments -> richgt/model-data-ember-3.13 that has 5 failing tests remaining. I'm a little stumped on the remaining tests, if anybody has any ideas, I'd love some help here...

[2020-02-19 21:06] jelhan commented on #338
Noticed that my last post might be confusing. It is unclear what "we" refers to. It refers to the company for which I'm currently working.

[2020-02-27 16:38] patocallaghan commented on #357
I created a corresponding issue in the ember.js repo too https://github.com/emberjs/ember.js/issues/18773

[2020-03-03 13:46] dmuneras opened #359 "[QUESTION] [3.0.0-beta.1] Is the fragmentArray ordering important when saving and updating?"
Hi,

## Context

I don't have much experience using fragments.

* I have a `fragmentArray` and I am manipulating the objects, adding and removing them.
* These are the version of the related addons:

[code]

**Note:** As always, willing to upgrade

* The array is created in the `normalizeResponse` serializer of the owner.

## Problem

In a template I iterate the objects of the fragment, I manipula

[2020-03-11 11:19] basz commented on #338
May I call attention to @richgt failing tests? I have taken a look but really have no clue where to look, totlly *not* an expert here.

Three failing tests seems to be related to (de)serialization.

[code]
These seem to be related to "Cannot clone an EmberObject that does not implement Copyable"
[code]

Seems we are close though...

[2020-03-11 11:22] basz commented on #338
@jelhan Do you have time to you elaborate on https://github.com/lytics/ember-data-model-fragments/issues/338#issuecomment-584540738 a bit more? I feel that might help some users to make an informed decision to abandon this addon or not.

[2020-03-11 12:42] jelhan commented on #338
If you want to compare that feature branch against latest development: https://github.com/lytics/ember-data-model-fragments/compare/master...richgt:richgt/model-data-ember-3.13

TravisCI seems to be broken which makes it difficult to quickly review broken tests: https://travis-ci.com/github/richgt/ember-data.model-fragments/branches

@richgt Could you maybe create a pull request? Would make tracki

[2020-03-11 14:36] richgt commented on #338
Created https://github.com/lytics/ember-data-model-fragments/pull/360

[2020-03-12 13:05] lucacorti commented on #338
@basz I have also stopped using e-d-m-f. The addon broke a couple of times in the last few years after e-d updates/refactorings.

If all you need, like in my case, is a simple object with maybe a few attributes parsed into a custom data type the burden of managing library breakage when upgrading is not justified IMHO. You are better off writing a custom transformer, which e-d has always allowed yo

[2020-03-18 21:43] patocallaghan commented on #357
Just posting an update here. There _was_ a bug on the Ember.js side and that was resolved but according to @pzuraq there are still some problems with Ember Data Model Fragment's implementation when setting up fragmentArrays. See the comment here https://github.com/emberjs/ember.js/issues/18773#issuecomment-592248130

I've followed up and I think the best approach here would be to refactor the code

[2020-03-18 23:00] jakesjews commented on #357
@patocallaghan I've been sick the last few days but I can chat more after I'm better. I think it's ok to make some breaking changes in a new major version release if need be. I took over maintenance on this after the original author moved on so a lot of the historical usage is unknown to me as well.

[2020-03-19 10:09] patocallaghan commented on #357
Sounds great @jakesjews. Let me know when you'd like to chat 👍

[2020-04-30 14:58] knownasilya commented on #338
Are there other solutions for those that need dirtying? I have probably 20+ Fragments.

[2020-04-30 15:07] jelhan commented on #338
[ember-changeset](https://github.com/poteto/ember-changeset) provides a nice way to track changes. Not integrated with Ember Data but that's more a feature than a limitation in my opinion. Might be require quiet some refactoring if the app is currently relying on Ember Data and Ember Data Model Fragments for change tracking.

[2020-04-30 16:43] knownasilya commented on #338
@jelhan good suggestion. Ultimately I want to make this an immutable object, but it'll be a bit before we can get there with time constraints.

[2020-05-07 00:02] BryanCrotaz commented on #345
This is fixed in ED 3.17.1 and 3.18. It was a bug in the ED store.

[2020-05-14 18:35] knownasilya commented on #357
What's the status on this issue?

[2020-05-14 20:21] patocallaghan commented on #357
@knownasilya myself and a colleague [spiked a fix](https://github.com/patocallaghan/ember-data-model-fragments/pull/1) which resolved the initial test case I'd created but it didn't totally solve the issue as we got backtracking assertions in other parts of the code.

Due to the ongoing overhaul of the internals of [model-fragments to use recordData](https://github.com/lytics/ember-data-model-frag

[2020-05-28 23:41] hbrysiewicz opened #363 "Update to v3.3.0"
I was pretty surprised no one has run into an issue I encountered this week, but I have a patch for it. I am using Ember 3.4.4 and Ember Data 3.4.2 so I chose to instal v3.3.0 of ember-data-model-fragments. I found an issue, however, in `ext.js` where `_createSnapshot` triggers this error: https://github.com/emberjs/ember.js/issues/16148

Making a minor fix to this file to use `.get` instead of `_

[2020-05-29 16:44] #363 closed

[2020-05-29 17:30] hbrysiewicz commented on #363
Apologies - this was definitely a prob in the application code. We were using some proxy objects/transforms custom elsewhere that were triggering this error. Migrated those to be either POJOs or fragments and all is right in the world 👍

[2020-05-29 21:49] patocallaghan opened #366 "[Model Fragments 5.0] Composing fragments with `FactoryGuy#make/store#push` result in their properties being `undefined`"
I'm opening this here but to be honest I'm not sure if the issue is in the Model Fragments `RecordData` refactor or the Ember Data upgrade (considering we need to upgrade to Ember Data 3.16).

### Background
The [Factory Guy](https://github.com/danielspaniel/ember-data-factory-guy) addon gives you a set of APIs to bootstrap your models in tests. The `make` helper allows you to push records directl

[2020-05-30 09:06] patocallaghan commented on #338
For everyone watching this issue there's a 5.0-beta release with the `RecordData` refactor. If you could try it out in your apps and report any issues that would be great ([requires Ember Data upgrade](https://github.com/lytics/ember-data-model-fragments/#compatibility)) https://github.com/lytics/ember-data-model-fragments/releases/tag/5.0.0-beta.0

[2020-05-30 09:08] basz commented on #338
So far it's working as expected, so good work! Thanks to everyone who made this possible...

[2020-06-02 04:44] pragatheeswarans opened #367 "[Model Fragments - 5.0.0-beta.0] Fragment Array returned in changedAttributes of record"
**Summary**
`record.changedAttributes()` in the adapter is returning the fragment array of the model which was not returned in the older version say `4.0.0`

**Details**

Let's assume a model `models/filter.js` as
[code]
and the `models/condition.js` as
[code]
When I try to create a `filter` record like this
[code]
In the adapter we get the `changedAttributes` by calling `record.changedAttributes(

[2020-06-02 09:30] patocallaghan commented on #366
Just an update, I checked and this issue is still present when using Ember Data 3.13.0 so it's more than likely specifically related to the Model Fragments refactor and not Ember Data.

Looking at the commits between Ember Data 3.12.3 (which works with previous model fragments) and Ember 3.13.0 to my eye doesn't show anything that could make this happen https://github.com/emberjs/data/compare/284c

[2020-06-03 15:52] VincentMolinie commented on #367
As far as I know this was a bug that the fragment was not returned in the `changedAttributes`. I'm pretty sure it was in earlier versions 😉

[2020-06-03 15:55] VincentMolinie commented on #331
Hey @ELepolt, did you try with the new beta version `5.0.0-beta.0`, it fixes a similar issue for me 😉

[2020-06-03 15:55] VincentMolinie commented on #330
Try with the new beta version I think it might fix your issues 😉

[2020-06-03 16:49] VincentMolinie opened #368 "Serialization of fragmentArray does not work on version `5.0.0-beta.0`"
I tried to add a fragmentArray like so:

[code]

If I do the following:
[code]

This prints:
[code]

I even tried with nested `fragmentArray` (A `fragmentArray` inside a fragment) and it's even worst the list is always returned as empty whatever the number of items I have 😱

[2020-06-04 09:06] VincentMolinie commented on #368
I have found the issue. It does not work for Ember `3.13.3`, I just upgraded to `3.14.1` and everything works well so far

[2020-06-05 20:05] backspace opened #369 "5.0.0-beta.0: Computed property perpetually recalculating"
Hey, I’m trying out the new beta as I attempt to [update to Ember 3.16](https://github.com/hashicorp/nomad/pull/8094). I had some trouble with a test that was hanging and narrowed it down to a computed property within a model fragment. I’m out of my depth in debugging at this point and I’m definitely not sure it’s a problem with the beta but that‘s my suspicion at least…

I narrowed down the hangi

[2020-06-07 03:56] srsgores commented on #338
Working on my end so far

[2020-06-17 13:37] patocallaghan commented on #369
@backspace is it possible to create a simple test reproduction either in a separate repo or submit it as a PR here?

[2020-06-18 01:57] backspace commented on #369
I can try! Hopefully some time next week 🤞💞

[2020-06-18 11:27] patocallaghan commented on #366
So I've dug into this a little bit more and have been able to reproduce it without Factory Guy. It seems to be a consequence of using `this.store.push` Ember Data API and there's been a change in behaviour somewhere. I'm unsure whether it's due to Ember Data internals changing or Model Fragment internals.

Take the following code which is something Factory Guy does internally.

1. We create a `per

[2020-06-22 01:14] dineshrbkumar opened #371 "5.0.0-beta.0 - NormalizedResponse values are not being reflected inside fragment array of objects"
Consider a model with some properties and one fragment array of objects. Before saving the owner model, object is added to the fragment array with values of object in state A. Then after saving the owner model, server's response is expected to move the individual object property values of fragment arrays to state B. But, in this beta version, the state B after normalizeResponse is ignored and stat

[2020-06-23 20:48] mpirio opened #372 "5.0.0-beta.0 - You should not change the <type> of a RecordIdentifier"
Hello,

We have updated your application to Ember 3.15 and also updated ember-data-model-fragments to 5.0.0-beta.0.

Unfortunately, when loading one of our views, we have the following error message in our web console :
[code]

We found where the problem came from: our model has a "fragmentArray" attribut of type "billingDetail". This fragment model is defined in the file "models/billing-detail.js

[2020-06-29 19:39] backspace commented on #369
well I started a new application and tried to mirror the model structure that is implicated in this infinite loop but I was unable to reproduce the problem. I’m at the limit of my debugging skills and can’t say whether the presence of this library in the stack traces is an actual cause or just a side effect. So I’ll close this issue 😞

[2020-06-29 19:39] #369 closed

[2020-07-08 13:03] lolmaus opened #373 "[FastBoot only] Error: No model was found for '@ember-data/model/-private' and no schema handles the type"
Hi! During a routine upgrade of Ember CLI, ran into #338, which required bumping `ember-data-model-fragments` to 5.0.0-beta.0. This lead to the error in title.

I see it only in FastBoot after upgrading from Ember 3.12. Happens both on 3.16.something and 3.19.0.

I cannot debug it in FastBoot.

The [full stacktrace](https://gist.github.com/lolmaus/7207b6b311a088ad4f66bf0ab5386481) led me to these

[2020-07-14 14:20] rwwagner90 commented on #223
I'm seeing this issue too. I tried `defineProperty`, but it seems to be the same as using `computed`. Is there any way to get this to work?

[2020-07-16 07:43] pragatheeswaranshf commented on #367
Is there any tentative release date for the stable version?

[2020-07-16 16:21] jakesjews commented on #367
there seems to be a fair amount of issues in the beta so it will probably be some time before a stable version

[2020-08-04 12:27] VincentMolinie commented on #330
I actually do have the same issue than @mattgraham1995 on version `5.0.0-beta.0`

[2020-08-19 08:03] GuillaumeCisco commented on #357
Did this issue has been resolved?
I usually get this kind of error with ember fragment array too :/
[code]

[2020-08-19 12:15] basz opened #375 "5.0.0-beta.0 - normalization incomplete"
I have a model with a cloudDrive status fragment that in turn has two more fragments. called context and failure.

Over a webstomp connection I receive updates to my models via `store.pushPayload(payload)`. The model correctly updates except if it does not exists in the store. When it does exist in the store all properties are correctly updated except for the nested fragments... (note the state pr

[2020-08-19 14:17] basz commented on #375
setting a fragment to null on a model seems to be the culprit here. I would guess the fragment is then either deleted or recreated from the defaultValue. Is that indeed what I may expect to happen?

[2020-10-05 06:41] Gorzas opened #379 "Update Fragment blueprint to use class instead of extend"
As Ember team is deprecating EmberObjects and it's recommending to use ES6 classes, I think we can update the Fragment blueprint to follow this syntax:

[code]

What do you think? I may leave a PR with my proposal.

[2020-10-20 15:42] patocallaghan opened #382 "Put addon up for adoption?"
Considering some of the trouble encountered in https://github.com/lytics/ember-data-model-fragments/pull/381 with finding an admin who can help manage this addon, would it make sense to put this addon up for adoption to the [adopted-ember-addons](https://github.com/adopted-ember-addons) org?

When an original owner no longer has time to maintain the addon, there is a place where the addon can be "

[2020-10-20 15:44] jakesjews commented on #382
That is cool with me. I haven't had to much time to work on this so it would probably be for the best.

[2020-10-20 15:56] patocallaghan commented on #382
@jakesjews cool, there are a list of things that we'd need done to make it happen (see below).  I think ultimately we need to get final sign off from someone at Lytics?

### [Addon Transfer Checklist](https://github.com/adopted-ember-addons/program-guidelines)
These are the things that need to done to transfer your addon:
* [ ] To get your addon adopted, please ping one of the adopted-ember-addons

[2020-10-21 19:29] DingoEatingFuzz commented on #382
Hi, former Lytics employee here. I can get ahold of Lytics and see if they'd be willing to transfer ownership.

[2020-10-22 04:35] markhayden commented on #382
Hi, current Lytics employee here. I'll have a couple of conversations in the morning to make sure there isn't any reason we wouldn't be open to the adoption and then make sure things start moving from there. Thanks!

[2020-10-23 13:58] GuillaumeCisco commented on #357
That's so weird it works, if I call a second time the fragment array...
Any news about that?

[2020-10-24 09:32] GuillaumeCisco commented on #357
Ok, for the record, I just found out this error happens only if my model becomes dirty BEFORE I ever accessed (via computed or whatever) to the fragment array...

When the fragment array is created via setupData, [`propertyWasReset`](https://github.com/emberjs/data/blob/master/packages/store/addon/-private/system/model/states.js#L241) is called from the [DirtyState](https://github.com/emberjs/data

[2020-10-24 10:30] GuillaumeCisco commented on #357
What is really strange is that `propertyWasReset` defined as:
[code]
calls `hasChangedAttributes` which return false but in my own test, if I call `changedAttributes` here, I have changed attributes...
It looks like `hasChangedAttributes` is not correctly implemented in `ember-data-model-fragments`...

I replaced it by a dummy implementation like:
[code]
and now the error disappeared as `rolledBac

[2020-10-24 15:53] patocallaghan commented on #357
@GuillaumeCisco I wonder if you could create a failing test for the issue you are seeing?

[2020-10-24 16:30] GuillaumeCisco commented on #357
Thank you @patocallaghan, I will do my best the moment I have enough time on that.
But I can clearly see there is an issue with the hasChangedAttributes...

[2020-10-26 14:24] GuillaumeCisco commented on #357
Hey there,

I was not able to create a test with my specific use case, so I decided to update a very simple one dealing with `hasChangedAttributes`.
[Here](https://github.com/lytics/ember-data-model-fragments/pull/383) it is.

With its dummy fix [here](https://github.com/GuillaumeCisco/ember-data-model-fragments/pull/1).

Let me know what you think about that.

[2020-10-30 15:11] GuillaumeCisco commented on #357
Is this project dead?
I see that the last commit comes from 5 months ago.

Should I fork it if I want to use it?

[2020-11-01 22:40] jakesjews commented on #357
@GuillaumeCisco we're currently [moving ownership to ember-adopted-addons](https://github.com/lytics/ember-data-model-fragments/issues/382)

[2020-11-02 09:42] patocallaghan commented on #382
@markhayden any updates?

[2020-11-02 22:40] mpirio commented on #330
- ember-source: 3.12.2
- ember-data: 3.12.6
- ember-data-model-fragments: v4.0.0

I have the same "bug" : make a change in a fragmentArray (add or remove an item), `model.hasDirtyAttributes` is `true` but `changedAttributes()` is empty.

I find [`fragmentDidDirty`](https://github.com/lytics/ember-data-model-fragments/blob/v4.0.0/addon/states.js#L166-L173) and [this line in it](https://github.com/l

[2020-11-03 07:26] mpirio commented on #330
An Ember Twiddle to see the bug: https://ember-twiddle.com/93d84d0a212054ff2a0fc146b27917ae

[2020-11-03 08:20] mpirio commented on #330
I have a [fix-issue-330 branch in my repo](https://github.com/mpirio/ember-data-model-fragments/tree/fix-issue-330) but I can not PR to this repo because I need a "release-4.0.0" branch here to PR into it. Thanks.

[2020-11-05 23:24] patocallaghan commented on #375
@basz I think I'm seeing a similar issue to you. While it's not exactly the same it has the same characteristic where the fragment isn't populated after being `null` initially.

In our case we are creating a record which is only sparsely populated but the rest of the attributes are filled in by the response from the backend.

I've created a failing test in https://github.com/lytics/ember-data-mode

[2020-11-05 23:50] patocallaghan commented on #379
@Gorzas I think this is a good idea. It might be worth doing to get it into the 5.0.0 beta release. It might also be better to use the specific `Fragment` import

[code]

[2020-11-06 09:07] Gorzas commented on #379
@patocallaghan Yes, I think it's better this way. Made the changes :smile:.

[2020-11-06 15:44] stfnio commented on #330
@jakesjews by any chance, do you know why the "release-4.0.0" branch has disappeared? I need the fix discussed above to be merged, as well

[2020-11-09 10:53] mpirio commented on #330
No news ?

I try a new call :) @jakesjews @araddon @cohitre @markhayden. Is it possible to create a "release-4.0.0" branch to PR a [fix about this issue](https://github.com/mpirio/ember-data-model-fragments/tree/fix-issue-330)?

Thanks.

[2020-11-09 14:25] jakesjews commented on #330
@mpirio were currently in progress moving this repository to ember-adopted-addons https://github.com/lytics/ember-data-model-fragments/issues/382

[2020-11-09 14:28] jakesjews commented on #330
If you need the changes right now your best bet is making a fork and branch from commit f1c7060fb7560aaea26760e0270234823b9e20db

[2020-11-09 15:21] mpirio commented on #330
Hello @jakesjews.
Thanks for your message.

Yes I read about adopting this addon. It's a good news. But does the procedure block bugfixes on this repository?

That's what I did :). But wouldn't it be better to centralize bugfixes here?

Regards,

[2020-11-09 16:17] jakesjews commented on #330
Yes it would but there is some more to the problem [as well](https://github.com/lytics/ember-data-model-fragments/pull/385#issuecomment-724045236) I don't really have much time to work through all the stuff hence moving the repo to adopted-addons

[2020-11-09 16:22] jakesjews commented on #382
@patocallaghan is a fork an option?

[2020-11-09 16:25] patocallaghan commented on #382
@markhayden sorry for an additional ping, is there any update? It appears we are currently blocked from [making any contributions to this repo](https://github.com/lytics/ember-data-model-fragments/pull/385).

@jakesjews that's not ideal and IMHO should only be a last resort. While we could fork the repo, we'd still need to be able to publish the npm package.

[2020-11-09 17:47] sarahyablok commented on #382
@patocallaghan @jakesjews Hi, also current Lytics employee. We'll be working on the steps to get this addon up for adoption during this sprint so expect updates sometime in the next two weeks.

[2020-11-09 18:00] markhayden commented on #382
@jakesjews do you have access to the NPM for this addon? one of the required steps for adoption is:

[code]

we are having trouble tracking down anyone with access on NPM. thanks!

[2020-11-09 18:02] DingoEatingFuzz commented on #382
@markhayden I still have npm access.

[2020-11-09 18:14] DingoEatingFuzz commented on #382
They have all been added as maintainers.

[2020-11-09 19:01] jakesjews commented on #382
I do still have NPM access

[2020-11-09 19:20] markhayden commented on #382
transfer complete. woohoo!

[2020-11-09 19:41] knownasilya commented on #382
There are a few people with write permissions on the repo, do you want to stay on or be removed?

@workmanw @jakesjews @devinus

[2020-11-09 19:42] jakesjews commented on #382
I'm probably not going to be contributing very much so you can remove me

[2020-11-09 21:40] patocallaghan commented on #382
Oh awesome, that turned around quite quickly 😃 Thanks everyone for all your help!

[2020-11-09 21:59] patocallaghan commented on #371
@dineshrbkumar is this a similar issue to what's described in https://github.com/adopted-ember-addons/ember-data-model-fragments/issues/375? Specifically my comment and the failing test in https://github.com/adopted-ember-addons/ember-data-model-fragments/pull/384? If not, any chance you could create a failing test for what you are seeing please?

[2020-11-09 22:05] patocallaghan commented on #372
I believe this will have been a change within Ember Data itself and not model fragments specifically. The recommended pattern is that you use hyphen-case when referencing your models. Take this from the public Ember Data guides

[2020-11-10 07:27] GuillaumeCisco commented on #382
Who is adopting it?

[2020-11-10 10:57] patocallaghan commented on #382
@GuillaumeCisco the [Adopted Ember Addons](https://github.com/adopted-ember-addons) org. I'll aim to get a new beta release out in the next day or two.

[2020-11-10 17:48] knownasilya commented on #382
Still haven't gotten the npm invite email. Not sure what's going on.

[2020-11-10 17:52] knownasilya opened #387 "Idea: nested definitions without extra files"
Currently we have a pretty big setup, but it's hard to navigate since each little object is in it's own file. Would love to be able to see it all as a tree in one place.

[2020-11-10 18:02] patocallaghan commented on #382
Ah okay, I'll reopen the issue until we get the npm invite /cc @DingoEatingFuzz @jakesjews @markhayden

[2020-11-10 18:03] knownasilya commented on #372
Should the file name be changed in this case, esp when you cannot change the representation in the code?

[2020-11-10 20:29] DingoEatingFuzz commented on #382
@knownasilya and I have been working through this. It seems to be an npm issue that may have been resolved? If not I'll reach out to npm.

[2020-11-12 20:42] #382 closed

[2020-11-16 10:20] patocallaghan commented on #387
@knownasilya Funnily enough the oldest open issue on the repo is a proposal for this exact thing 😃 https://github.com/adopted-ember-addons/ember-data-model-fragments/issues/16

[2020-11-16 15:34] knownasilya commented on #16
Yes please

[2020-11-16 15:34] #387 closed

[2020-11-16 15:34] knownasilya commented on #387
I'll close this and comment there 😸

[2020-11-30 13:00] mpirio commented on #330
Hello,

It seems the migration to adopted has been made. Really good 👍 . Maybe can I give you my fix for this issue? Would it be possible to create a release-4.0.0 branch so that I can push a PR? Thank you.

[2020-11-30 16:31] knownasilya commented on #330
You can submit a PR against the master branch, no need for another branch.

[2020-11-30 17:00] mpirio commented on #330
Hello,

Thank you for you message. This PR is for v4.0.0 not 5.0. See https://github.com/mpirio/ember-data-model-fragments/tree/fix-issue-330

[2020-11-30 17:22] knownasilya commented on #330
https://github.com/adopted-ember-addons/ember-data-model-fragments/tree/release-v4

[2021-01-19 02:08] dwickern commented on #372
I had a similar problem with ember-data 3.13.3. In my case it was a polymorphic `type` coming back from my API as `snake_case`. Changing to `kebab-case` fixed it. I think the fallback for E-D `[3.13,3.16)` doesn't normalize the type, since it's working after I upgraded ember-data.

https://github.com/adopted-ember-addons/ember-data-model-fragments/blob/3eeccc23e26ba1e7152548d62560c20361af1cbb/addo

[2021-02-01 11:59] mike-engel opened #393 "5.0.0-beta.1 Fragment Array model updates don't work with did-update"
I've been in the middle of updating our ember app from 3.12 to 3.24 now that this beta is available, and for the most part it's been smooth sailing! I've run into one issue though, which is that updates to a fragment array model don't seem to trigger a change, or at least one recognized by `ember-modifiers`' `did-update` modifier.

Here's an example.

[code]

Then, if I have a glimmer component wi

[2021-02-15 23:29] patocallaghan commented on #393
@mike-engel I'm unsure of the correct behaviour here but out of curiosity do you know what happens with regular Ember Data `hasMany` relationships? Do they trigger `did-update` to run?

[2021-04-20 00:32] runspired opened #396 "ModelFragments broken against EmberData canary"
We recently did a cleanup pass to remove unneeded methods from InternalModel, it looks like model fragments may have been using a few of these. The refactor should be simple and backwards compatible. You can see each removed method or property and the appropriate change to make here: https://github.com/emberjs/data/pull/7453

Side note: we didn't notice this regression until now because the model-

[2021-04-20 12:57] #396 closed

[2021-04-21 23:54] runspired commented on #393
I hit a very similar sounding issue when landing the refactor of `@ember-data/model` to native classes. It resulted in one failure in this library for array changes not dirtying the parent owner. After investigating it seemed likely the issue was with the array code. I'll try to find some time soon to poke at a fix here.

[2021-07-15 12:00] josegetout opened #403 "Fragment serializer does not work if an array was changed"
Hi! I'm struggling serializing my fragment model. I've found out that it never serializes the model if I add/removes elements in an array and it only does it if I change any other attribute.

This is my model:
`import { attr } from '@ember-data/model';
import MF from 'ember-data-model-fragments';

export default class extends MF.Fragment {
  @attr('string') name

  @attr('string') parametrizedUrl

[2021-07-15 16:11] knownasilya commented on #403
Can you share the code where you change the values and serialize?

[2021-08-09 11:14] simonc commented on #314
No activity in several years. Closing this.

[2021-08-09 11:14] #314 closed

[2021-08-25 21:37] kevinkucharczyk opened #406 "Model fragments broken against Ember Data 3.28"
I was testing Ember Data Model Fragments against the latest Ember Data - version 3.28 - and unfortunately it looks like they're not compatible. Here's what happens when I try to save a model that contains a fragment:
![Screen Shot 2021-08-26 at 7 30 55 am](https://user-images.githubusercontent.com/3127419/130867504-5953b5b9-d2d3-471d-a96b-e663ad990b82.png)
[code]

This particular problem seems to

[2021-08-31 15:51] lowski commented on #406
I can confirm this. I just bumped my app to 3.28.0 and was bitten by the same error.

[2021-09-01 19:13] knownasilya commented on #406
Give https://github.com/adopted-ember-addons/ember-data-model-fragments/pull/407 a try

[2021-09-02 02:32] kevinkucharczyk commented on #406
@knownasilya that fix is not quite enough, unfortunately. If you have a fragment array, that'll fail too under 3.28 (it requires a similar fix in the fragment array serializer).

Either way, I don't think the proposed fix in the PR is the right way to go. What strikes me as weird is the fact that what's passed in is no longer a snapshot. Is that expected behavior? What exactly changed in Ember/Emb

[2021-09-02 16:51] lowski commented on #406
@knownasilya @kevinkucharczyk  I believe found the culprit: [CoreStore](https://github.com/emberjs/data/blob/v3.27.1/packages/store/addon/-private/system/core-store.ts#L2459) in 3.27.1 doesn't have `REQUEST_SERVICE` flag enabled ([in 3.28.1 it's already on]( https://github.com/emberjs/data/blob/v3.28.1/packages/canary-features/addon/default-features.ts)) so `scheduleSave` relies on `pendingSave` q

[2021-09-02 17:56] knownasilya commented on #406
@runspired any advice?

[2021-09-15 16:08] runspired commented on #406
@lowski `internalModel.createSnapshot` uses the same way to create the Snapshot

https://github.com/emberjs/data/blob/584c14b5181513756750e65b73338cde7244d1a1/packages/store/addon/-private/system/model/internal-model.ts#L964

The underlying issue here is more likely related to the activation of CUSTOM_MODEL_CLASS features, this library still hasn't fully converted to the record-data approach to fr

[2021-09-19 15:40] lowski commented on #406
@knownasilya I've looked into this again and it looks this addon overrides `internalModel.createSnapshot` in [addon/ext.js](https://github.com/adopted-ember-addons/ember-data-model-fragments/blob/master/addon/ext.js#L276) file. By doing so, it can traverse all attributes and call `createSnapshot` recursively. When you use `new Snapshot()` in `fetchManager.scheduleSave`, this no longer works.

@run

[2021-09-20 03:32] runspired commented on #406
The right way to do this is to store the serialized form in the fragment RecordData, no private apis would be necessary then.

[2021-09-23 18:13] lowski commented on #406
@runspired could you provide more information how to do it? I'd like to try making this add-on compatible with Ember Data 3.28.

From my understanding fragments are basically [computed properties on the model](https://github.com/adopted-ember-addons/ember-data-model-fragments/blob/master/addon/attributes.js#L174) and they use `_recordData` to set / get fragment value. If we stored fragments as ser

[2021-10-06 12:23] vladern opened #413 "Serialization of fragmentArray with "ember-data": "~3.13.0" return void array"
JSONAPISerializer do not serialize a fragmentArray on ember-data 3.13.0 and it returns a void array

[2021-10-07 18:46] lowski commented on #406
@knownasilya I've just tested it on my project and #407 doesn't fix this issue - now I'm getting a following error:

[code]

@kevinkucharczyk can you check latest `master` on your project as well?

[2021-10-29 21:21] dwickern commented on #316
Here's a workaround,
[code]

[2021-11-03 13:21] adriguy commented on #406
I encounter exactly the same issue than @lowski with the latest commit on master ☝️🤔

[2021-11-08 13:56] AnDeVerin commented on #406
The same issue in our project.

[2021-11-09 13:49] ngriselle commented on #406
As @lowski pointed out, the problem is `InternalModel.createSnapshot` is not called anymore before serialization.

I was able to dirty fix it by calling `createSnapshot` manually in the `Transform.serialize` method :

transforms-/fragment.js :
[code]

transforms/fragment-array.js :
[code]

There is probably a better way / place to do this.

[2021-11-11 22:33] dwickern commented on #406
Here's a quick workaround,
[code]

[2021-11-12 03:37] knownasilya commented on #406
I merged that fix, so master should work as well. Will try to research a bit more and see if there is a better solution.

[2021-12-08 01:02] runspired commented on #406
The above fix is incomplete. Here's what did work in our app. Note I still am advocating for fixing the root cause (as currently we are hacking into internals instead of using record-data as designed), but this will help to unblock ember-data upgrades (there is still a separate issue I will open separately).

Fragment:

[code]

Fragment Array:

[code]

[2021-12-08 01:06] runspired opened #416 "ModelFragments needs to refactor its Fragment state machine for EmberData 3.28+"
`currentState` on DS.Model is now derived heuristically, so setting it to our own state machine will no longer affect any of the state flags on Fragments that we are inheriting from DS.Model. Given that state transitions in ember-data aren't guaranteed and will likely be removed in 4.0 codepaths, we should rewrite our state machine to similarly derive the state.

Potentially we can simply stop add

[2021-12-08 05:42] dwickern commented on #406
There's also an issue with property change notifications for `hasDirtyAttributes` on fragment arrays, which accounts for some test failures on the master branch.

I did attempt doing things the "right way" with record-data. I'll open a PR.

[2021-12-08 05:48] runspired commented on #406
That's the other issue. It's due ember-data removing the state machine.

[2021-12-10 12:20] patocallaghan opened #418 "Dirty fragment does not have attributes updated by server response"
If you have a dirty fragment where calling `changedAttributes()` gives a list of properties, any server response will not update any of those properties listed and leave them as-is. This is especially noticeable if any of the attributes in the response are different than those on the local fragment. This is different to how attributes work for Ember Data models, there it seems responses will alway

[2021-12-13 10:05] patocallaghan commented on #418
This looks to be related to the fix in https://github.com/adopted-ember-addons/ember-data-model-fragments/pull/404

[2021-12-15 12:48] enspandi commented on #406
Thx @runspired ! The patch worked very well for our 3.28 upgrade. We only had to adapt it a bit to work with polymorphic fragmentArray relationship (essentially instead of using `firstSnapshot` we run the same logic for each snapshot in `arr.map`)

[2021-12-22 10:56] patocallaghan commented on #418
Fixed in #404

[2021-12-22 10:56] #418 closed

[2021-12-22 10:58] patocallaghan commented on #366
Closing as this was fixed in Factory Guy in https://github.com/adopted-ember-addons/ember-data-factory-guy/pull/449

[2021-12-22 10:58] #366 closed

[2021-12-22 11:03] patocallaghan commented on #375
@basz I'm not sure if you're issue was exactly the same as mine but could you try out https://github.com/adopted-ember-addons/ember-data-model-fragments/releases/tag/v5.0.0-beta.3 where I shipped my fix to make sure `null` fragments are updated from the server?

[2022-01-05 22:35] ro0gr opened #420 "Changelog is outdated"
Seems changelog.md is outdated. At the moment it points to the v5.0.0-beta.1, while we have v5.0.0-beta.3 published. At the same time GH release notes seems to be up to date(I believe formed manually, which is fine, but....).

Should we remove the changelog.md in order to avoid confusion and difference with GH releases changelog. Or should it be automated somehow?

[2022-01-05 22:55] knownasilya commented on #420
It should be automated. The adopted addons org has a guidelines repo that goes over this.

[2022-01-10 10:07] patocallaghan commented on #420
Yep we should be following the release process from https://github.com/adopted-ember-addons/program-guidelines#release-process.

[2022-01-29 20:48] pjcarly opened #422 "Initializer failing on Ember 4"
Trying to boot any app v4 app with Model-Fragments added fails with the following error:

`Could not find module `ember-data-model-fragments` imported from `<snip>/initializers/model-fragments`

[2022-01-31 12:22] patocallaghan commented on #422
So we have an issue specifically for [Ember Data 28+ compatibility](https://github.com/adopted-ember-addons/ember-data-model-fragments/issues/406) and which we've also called out in the README. So is this error you see when you have Ember 4 and a compatible Ember Data? Is it a brand new Ember app?

[2022-02-02 15:23] pjcarly commented on #422
I know, I was just testing if a bump to E4 was possible with the 3.28 issue progress (which i'm keeping track of).

I will close this, because was busy testing other addons and for some reason this issue does not longer happen. Perhaps a mutual dependency somewhere.

Anyway, cheers for the work.

[2022-02-03 03:25] #420 closed

[2022-02-14 21:08] pjcarly opened #427 "Auto tracking regression in +3.28"
I have narrowed down a regression in our application to Ember Data Model Fragments, we notice this since upgrading to 3.28 in certain scenarios.

I have tried debugging, but can't seem to figure out where the regression occurs.
It happens in a context the moment we try to call `model.get('address')`. Where address is a fragment.
We often see this as a warning, but in some specific scenario's it ca

[2022-02-17 16:46] #368 closed

[2022-02-17 16:47] VincentMolinie commented on #413
Upgrade your version to at least ember-data 3.14.1 should fix it 😉

[2022-02-18 04:04] patocallaghan commented on #427
Thanks @pjcarly. When you say 3.28 do you mean ember-source or ember-data? But yeah a reproduction of some sort would be good 👍

[2022-02-18 08:52] pjcarly commented on #427
Both at 3.28, I have been trying to reproduce it the entire week, no luck so far. Still investigating.

[2022-02-22 00:16] #338 closed

[2022-02-22 15:12] VincentMolinie commented on #416
I do have a lot of issue linked to the state on `ember-data@3.28.7`. Do you know what need to be done ? It's a little bit blocking for me 😅  so I could help 😄

[2022-02-23 08:57] VincentMolinie commented on #416
I did a little PR to fix my issue: https://github.com/adopted-ember-addons/ember-data-model-fragments/pull/428

[2022-02-24 13:16] pjcarly commented on #427
By using `msw.js` instead of `ember-cli-mirage` I was able to reproduce the issue in this repository:

https://github.com/pjcarly/autotracking-regression-repro

[2022-03-02 17:39] qvu-square opened #429 "Fragment array merging issue when array content is not in the same order as server's response (5.0.0-beta.0)"
I found a (potential) issue when updating fragment arrays from server response. I've narrowed it down to this function
https://github.com/adopted-ember-addons/ember-data-model-fragments/blob/master/addon/array/fragment.js#L20

where `content` (from internal memory) and `objs` (from server response) are not sorted in the same order. I'm not sure if this is a bug or if the intention is that internal

[2022-03-02 17:47] qvu-square commented on #429
Actually was pointed to this section after opening the issue.
https://github.com/adopted-ember-addons/ember-data-model-fragments#conflict-resolution

I'll fix this in our adapter to make sure the response match the internal records. Sorry for the noise!

[2022-03-02 17:47] #429 closed

[2022-04-10 18:26] iStefo commented on #316
@dwickern I tried to adjust the code to work in apps with both monomorphic and polymorphic fragment arrays, which now seems to work ok for my usecases:

[code]

[2022-04-11 16:30] knownasilya commented on #316
@iStefo could you PR this?

[2022-04-11 16:50] charlesfries opened #433 "`bowerDependencies` has been deprecated."
Seeing this deprecation warning after upgrading to `ember-cli@4.3.0`:

[code]

https://github.com/adopted-ember-addons/ember-data-model-fragments/blob/310ad1a4587e4ff5a913a6a40c79cd8f32670da1/index.js#L13

[2022-04-11 17:24] knownasilya commented on #433
Yeah we can remove that now.

[2022-04-12 14:03] #433 closed

[2022-04-14 00:10] arthur5005 commented on #416
@runspired does @VincentMolinie fix go far enough to address this issue, i.e. will ModelFragments work on 3.28.x/4.x going forward?

[2022-04-14 06:19] runspired commented on #416
The fix we want is @dwickern's in #417

[2022-06-08 09:31] VincentMolinie commented on #314
I'm also interested by the subject 🤔, I'll try to find a way

[2022-08-10 18:46] charlesfries opened #444 "[Types] `FragmentArray` accepts registry key, should accept full fragment class"
The new unreleased type declarations want me to type `FragmentArray` like this:

[code]

and not like this:

[code]

Shouldn't we be passing in the full class to the generic? Otherwise iterating over fragment array just yields the registry keys instead of the actual objects, according to the TypeScript declarations.

[2022-08-16 16:19] #444 closed

[2022-08-30 03:39] ptgamr commented on #427
Any updates on this ? We're hitting the same issue on our way to 4...

[2022-08-30 13:24] knownasilya commented on #427
Have you tried the betas?

[2022-08-30 23:29] ptgamr commented on #427
@knownasilya No I haven't, will try and let you know... Thank you!